<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章管理 - EasyBlog博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../../css/me.css" th:href="@{/static/css/me.css}">
</head>
<body>

<!--导航-->
<div th:replace="~{nav :: navbar}"></div>

<!--中间内容-->
<div class="ui m-container m-padded-tb-big stackable">
    <div class="ui stackable grid">
        <!--侧边栏-->
        <div th:replace="~{manage-sidebar::manage}"></div>
        <!--博客内容-->
        <div class="thirteen wide column">

            <!--header-->
            <div th:replace="~{blog-manage-header::header}"></div>

            <!--条件查询表单-->
            <form action="#" method="post" class="ui attached segment form" style="background-color: #f2f5f7">
                <div class="inline fields stackable">
                    <span class="m-black m-inline-block m-mobile-hide">筛选：</span>
                    <!--年-->
                    <div class="field">
                        <div class="ui selection dropdown compact m-mobile-wide-selectBar-calender">
                            <input type="hidden" name="type">
                            <i class="dropdown icon"></i>
                            <div class="default text">年</div>
                            <div class="menu compact">
                                <div class="text item" data-value="0">不限</div>
                                <div class="item" data-value="1">2019</div>
                            </div>
                        </div>
                    </div>
                    <!--月-->
                    <div class="field">
                        <div class="ui selection dropdown compact m-mobile-wide-selectBar-calender">
                            <input type="hidden" name="type">
                            <i class="dropdown icon"></i>
                            <div class="default text">月</div>
                            <div class="menu compact">
                                <div class="text item" data-value="0">不限</div>
                                <div class="item" data-value="1">9</div>
                            </div>
                        </div>
                    </div>
                    <!--文章类型-->
                    <div class="field">
                        <div class="ui selection dropdown m-mobile-wide-selectBar" style="max-width: 30px !important;">
                            <input type="hidden" name="type">
                            <i class="dropdown icon"></i>
                            <div class="default text">文章类型</div>
                            <div class="menu">
                                <div class="item" data-value="0">不限</div>
                                <div class="item" data-value="1">原创</div>
                                <div class="item" data-value="2">转载</div>
                                <div class="item" data-value="3">翻译</div>
                            </div>
                        </div>
                    </div>
                    <!--分类-->
                    <div class="field">
                        <div class="ui selection dropdown m-mobile-wide-selectBar" style="max-width: 30px !important;">
                            <input type="hidden" name="type">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类专栏</div>
                            <div class="menu">
                                <div class="item" data-value="0">不限</div>
                                <div class="item" data-value="1">SpringBoot</div>
                            </div>
                        </div>
                    </div>
                    <!--文章标题-->
                    <div class="field">
                        <input class="m-mobile-wide-selectBar" type="text" name="title" placeholder="标题">
                    </div>
                    <div id="searchBar" class="field m-mobile-wide-selectBar">
                        <button class="ui tiny red  button"><i class="search icon"></i>搜索</button>
                    </div>
                </div>
                <!--点击搜索按钮后弹出来的选择框-->
                <div id="reloadSearchBar" class="inline fields m-margin-top-large"
                     style="margin-bottom: 5px !important;display: none !important;">
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="frequency" checked="checked">
                                <label>全部</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="frequency">
                                <label>只显示已发布文章</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="frequency">
                                <label>只显示私密文章</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="frequency">
                                <label>只显示草稿</label>
                            </div>
                        </div>
                        <a href="blog-manage.html" style="margin-left: 25em !important;">重置搜索</a>
                    </div>
                </div>
            </form>

            <!--content-->
            <div class="ui attached segment border-bt-none">
                <div th:if="${articles!=null}" th:each="article:${articles}" class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear border-dashed"
                     style="padding-bottom: 20px !important;padding-top: 10px !important;">
                    <div class="ui mobile reversed stackable grid">
                        <div class="sixteen wide column">
                            <button th:switch="${article.getArticleType()}"
                                    class="ui mini red basic button  m-inline-block ">
                                <span th:case="0">原创</span>
                                <span th:case="1">转载</span>
                                <span th:case="2">翻译</span>
                            </button>
                            <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">
                                <a href="#" th:href="@{/article/details/}+${article.getArticleId()}" title="查看" class="m-black" th:text="${article.getArticleTopic()}">你真的理解什么是财富自由吗？</a></h3>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <span style="font-size: 12px !important;" th:switch="${article.getArticleStatus()}">
                                                 <span th:case="0">公开</span>
                                                 <span th:case="1">私有</span>
                                                 <span th:case="2">草稿</span>
                                            </span>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> <span style="font-size: 12px !important;"
                                                th:text="${#dates.format(article.getArticlePublishTime(),'yyyy年MM月dd  hh:mm:ss')}">2017-10-01</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span style="font-size: 12px !important;" th:text="${article.getArticleClick()}">2342</span>
                                        </div>
                                        <div class="item">
                                            <i class="comment alternate icon"></i> <span style="font-size: 12px !important;" th:text="${article.getArticleCommentNum()}">2342</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <div class="five  wide  column">
                                        <div class="ui horizontal list">
                                            <div class="item"><a href="#" th:href="@{/manage/blog/edit}+@{/(articleId=${article.getArticleId()})}" style="color: #349EDF">编辑</a></div>
                                            <div class="item"><a href="#" th:href="@{/manage/blog/delete}+@{/(articleId=${article.getArticleId()})}" style="color: #CA0C16">删除</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!--分页按钮-->
            <div class="ui bottom attached segment ">
                <div class="ui middle aligned two column grid"
                     style="padding-top: 0 !important;padding-bottom: 0 !important;">
                    <div class="column" style="padding-top: 0 !important;padding-bottom: 0 !important;">
                        <a href="#" class="ui mini teal basic button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini teal basic button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div style="height: 10em"></div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>

</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        toggleStatus();
    });

    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if(user!=null){
            $('#header-images').show();
            $('#login-btn').hide();
        }else{
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus,100);
    }

    <!--退出操作异步请求-->
    $('#logout').click(function () {
        $.ajax({
            url: "/user/logout",
            method: "GET",
            sync: true,
            data: {userId: $('#userId').val()},
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    sessionStorage.removeItem("user");
                    window.location.href="/user/loginPage";
                }
            },
            error: function () {
                alert("服务异常，请重试！")
            }
        });
    });

</script>
<script>
    $(document).ready(function () {
        var url=window.location.pathname;
        console.log("location:"+url);
    })
</script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('#searchBar').click(function () {
        $('#reloadSearchBar').css("display", "block");  //显示div
    });

</script>
<script>
    $('.ui.mouse').mouseenter(function () {
        $('.ui.mouse').css("color","#fff");
    });
</script>
<script>
    $('#side-bnt3').css("background","#DB2828");
    $('#side-bnt3').css("color","#ffffff");
</script>
</html>