<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>写文章 - EasyBlog博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../../static/css/me.css" th:href="@{/static/css/me.css}">
    <link rel="stylesheet" href="../../../static/lib/css/editormd.css" th:href="@{/static/lib/css/editormd.css}">
</head>
<body>


<!--编辑器-->
<div style="margin-top: 5px !important;">
    <form method="post" class="ui form">
        <input hidden="hidden" th:if="${session.user!=null}" th:value="${#session.getAttribute('LOGIN-USER')}">
        <div class="ui row fluid  stackable centered grid" style="margin-left: 0.5rem !important;margin-right: 0.5em !important;">
            <div class="left float  right aligned  two wide centered column">
                <div class="ui segment" style="background: none !important;border: none !important;box-shadow: none !important;padding-left: 0 !important;padding-right: 0 !important;">
                    <a href="#" th:href="@{/manage/blog/}" class="ui right floated" style="color: #8da6ce !important;font-size: 1.23rem !important;">
                        <i class="chevron left icon"></i>文章管理
                    </a>
                </div>
            </div>
            <div class="ten wide centered column">
                <div class="field" style="margin-bottom: 0.5em !important;">
                    <div class="ui left large  input">
                        <input type="text" name="title" placeholder="文章标题">
                    </div>
                </div>
            </div>
            <div class="two wide centered column" style="padding-left: 0 !important;width: 8% !important;margin-right: 0 !important;padding-right: 0 !important;">
                <a id="go" rel="leanModal" name="signup" href="#signup">
                    <button type="submit" class="ui medium right floated red button" style="color:#ffffff !important;margin-left: 0 !important;">
                        发布文章
                    </button>
                </a>
            </div>
            <div class="two wide centered column" style="padding-left: 0 !important;width: 10%!important">
                <a id="go1" rel="leanModal" name="signup" href="#signup">
                    <button type="submit" class="ui medium right floated grey button" style="color:#ffffff !important;margin-left: 0 !important;">
                        保存为草稿
                    </button>
                </a>
            </div>
        </div>
        <div class="field" style="margin-top: 1px !important;">
            <div id="md-content" style="z-index: 1 !important;">
              <textarea placeholder="博客内容" name="content" style="display: none">

# Editor.md

![](https://pandao.github.io/editor.md/images/logos/editormd-logo-180x180.png)

![](https://img.shields.io/github/stars/pandao/editor.md.svg) ![](https://img.shields.io/github/forks/pandao/editor.md.svg) ![](https://img.shields.io/github/tag/pandao/editor.md.svg) ![](https://img.shields.io/github/release/pandao/editor.md.svg) ![](https://img.shields.io/github/issues/pandao/editor.md.svg) ![](https://img.shields.io/bower/v/editor.md.svg)

**目录 (Table of Contents)**

[TOCM]

[TOC]

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6
# Heading 1 link [Heading link](https://github.com/pandao/editor.md "Heading link")
## Heading 2 link [Heading link](https://github.com/pandao/editor.md "Heading link")
### Heading 3 link [Heading link](https://github.com/pandao/editor.md "Heading link")
#### Heading 4 link [Heading link](https://github.com/pandao/editor.md "Heading link") Heading link [Heading link](https://github.com/pandao/editor.md "Heading link")
##### Heading 5 link [Heading link](https://github.com/pandao/editor.md "Heading link")
###### Heading 6 link [Heading link](https://github.com/pandao/editor.md "Heading link")

#### 标题（用底线的形式）Heading (underline)

This is an H1
=============

This is an H2
-------------

### 字符效果和横线等

----

~~删除线~~ <s>删除线（开启识别HTML标签时）</s>
*斜体字*      _斜体字_
**粗体**  __粗体__
***粗斜体*** ___粗斜体___

上标：X<sub>2</sub>，下标：O<sup>2</sup>

**缩写(同HTML的abbr标签)**

> 即更长的单词或短语的缩写形式，前提是开启识别HTML标签时，已默认开启

The <abbr title="Hyper Text Markup Language">HTML</abbr> specification is maintained by the <abbr
                      title="World Wide Web Consortium">W3C</abbr>.

### 引用 Blockquotes

> 引用文本 Blockquotes

引用的行内混合 Blockquotes

> 引用：如果想要插入空白换行`即<br/>标签`，在插入处先键入两个以上的空格然后回车即可，[普通链接](http://localhost/)。

### 锚点与链接 Links

[普通链接](http://localhost/)

[普通链接带标题](http://localhost/ "普通链接带标题")

直接链接：https://github.com/

[锚点链接][anchor-id]

[anchor-id]: http://www.this-anchor-link.com/

[mailto:test.test@gmail.com](mailto:test.test@gmail.com)

GFM a-tail link @pandao  邮箱地址自动链接 test.test@gmail.com  www@vip.qq.com

> @pandao

### 多语言代码高亮 Codes

#### 行内代码 Inline code

执行命令：`npm install marked`

#### 缩进风格

即缩进四个空格，也做为实现类似 `<pre>`</pre> 预格式化文本 ( Preformatted Text ) 的功能。

                  <?php
        echo "Hello world!";
    ?>

                  预格式化文本：

    | First Header  | Second Header |
    | ------------- | ------------- |
    | Content Cell  | Content Cell  |
    | Content Cell  | Content Cell  |

#### JS代码　

```javascript
function test() {
	console.log("Hello world!");
}

(function(){
    var box = function() {
        return box.fn.init();
    };

    box.prototype = box.fn = {
        init : function(){
            console.log('box.init()');

			return this;
        },

		add : function(str) {
			alert("add", str);

			return this;
		},

		remove : function(str) {
			alert("remove", str);

			return this;
		}
    };

    box.fn.init.prototype = box.fn;

    window.box =box;
})();

var testBox = box();
testBox.add("jQuery").remove("jQuery");
```

#### HTML 代码 HTML codes

```html
<!DOCTYPE html>
<html>
    <head>
        <mate charest="utf-8"/>
        <meta name="keywords" content="Editor.md, Markdown, Editor"/>
        <title>Hello world!</title>
        <style type="text/css">
            body {
                font-size: 14px;
                color: #444;
                font-family: "Microsoft Yahei", Tahoma, "Hiragino Sans GB", Arial;
                background: #fff;
            }

            ul {
                list-style: none;
            }

            img {
                border: none;
                vertical-align: middle;
            }
        </style>
    </head>
    <body>
        <h1 class="text-xxl">Hello world!</h1>
        <p class="text-green">Plain text</p>
    </body>
</html>
```

### 图片 Images

Image:

![](https://pandao.github.io/editor.md/examples/images/4.jpg)

> Follow your heart.

![](https://pandao.github.io/editor.md/examples/images/8.jpg)

> 图为：厦门白城沙滩

图片加链接 (Image + Link)：

[![](https://pandao.github.io/editor.md/examples/images/7.jpg)](https://pandao.github.io/editor.md/images/7.jpg "李健首张专辑《似水流年》封面")

> 图为：李健首张专辑《似水流年》封面

----

### 列表 Lists

#### 无序列表（减号）Unordered Lists (-)

- 列表一
- 列表二
- 列表三

#### 无序列表（星号）Unordered Lists (*)

* 列表一
* 列表二
* 列表三

#### 无序列表（加号和嵌套）Unordered Lists (+)

+ 列表一
+ 列表二
    + 列表二-1
    + 列表二-2
    + 列表二-3
+ 列表三
    * 列表一
    * 列表二
    * 列表三

#### 有序列表 Ordered Lists (-)

1. 第一行
2. 第二行
3. 第三行

#### GFM task list

- [x] GFM task list 1
- [x] GFM task list 2
- [ ] GFM task list 3
    - [ ] GFM task list 3-1
    - [ ] GFM task list 3-2
    - [ ] GFM task list 3-3
- [ ] GFM task list 4
    - [ ] GFM task list 4-1
    - [ ] GFM task list 4-2

----

### 绘制表格 Tables

| 项目        | 价格   |  数量  |
| --------   | -----:  | :----:  |
| 计算机      | $1600   |   5     |
| 手机        |   $12   |   12   |
| 管线        |    $1    |  234  |

First Header  | Second Header
------------- | -------------
Content Cell  | Content Cell
Content Cell  | Content Cell

| First Header  | Second Header |
| ------------- | ------------- |
| Content Cell  | Content Cell  |
| Content Cell  | Content Cell  |

| Function name | Description                    |
| ------------- | ------------------------------ |
| `help()`      | Display the help window.       |
| `destroy()`   | **Destroy your computer!**     |

| Left-Aligned  | Center Aligned  | Right Aligned |
| :------------ |:---------------:| -----:|
| col 3 is      | some wordy text | $1600 |
| col 2 is      | centered        |   $12 |
| zebra stripes | are neat        |    $1 |

| Item      | Value |
| --------- | -----:|
| Computer  | $1600 |
| Phone     |   $12 |
| Pipe      |    $1 |

----

#### 特殊符号 HTML Entities Codes

&copy; &  &uml; &trade; &iexcl; &pound;
&amp; &lt; &gt; &yen; &euro; &reg; &plusmn; &para; &sect; &brvbar; &macr; &laquo; &middot;

X&sup2; Y&sup3; &frac34; &frac14;  &times;  &divide;   &raquo;

18&ordm;C  &quot;  &apos;

[========]

### Emoji表情 :smiley:

> Blockquotes :star:

#### GFM task lists & Emoji & fontAwesome icon emoji & editormd logo emoji :editormd-logo-5x:

- [x] :smiley: @mentions, :smiley: #refs, [links](), **formatting**, and <del>tags</del> supported :editormd-logo:;
- [x] list syntax required (any unordered or ordered list supported) :editormd-logo-3x:;
- [x] [ ] :smiley: this is a complete item :smiley:;
- [ ] []this is an incomplete item [test link](#) :fa-star: @pandao;
- [ ] [ ]this is an incomplete item :fa-star: :fa-gear:;
    - [ ] :smiley: this is an incomplete item [test link](#) :fa-star: :fa-gear:;
    - [ ] :smiley: this is  :fa-star: :fa-gear: an incomplete item [test link](#);

#### 反斜杠 Escape

\*literal asterisks\*

[========]

### 科学公式 TeX(KaTeX)

$$E=mc^2$$

行内的公式$$E=mc^2$$行内的公式，行内的$$E=mc^2$$公式。

$$x > y$$

$$\(\sqrt{3x-1}+(1+x)^2\)$$

$$\sin(\alpha)^{\theta}=\sum_{i=0}^{n}(x^i + \cos(f))$$

多行公式：

```math
\displaystyle
\left( \sum\_{k=1}^n a\_k b\_k \right)^2
\leq
\left( \sum\_{k=1}^n a\_k^2 \right)
\left( \sum\_{k=1}^n b\_k^2 \right)
```

```katex
\displaystyle
    \frac{1}{
        \Bigl(\sqrt{\phi \sqrt{5}}-\phi\Bigr) e^{
        \frac25 \pi}} = 1+\frac{e^{-2\pi}} {1+\frac{e^{-4\pi}} {
        1+\frac{e^{-6\pi}}
        {1+\frac{e^{-8\pi}}
         {1+\cdots} }
        }
    }
```

```latex
f(x) = \int_{-\infty}^\infty
    \hat f(\xi)\,e^{2 \pi i \xi x}
    \,d\xi
```

### 分页符 Page break

> Print Test: Ctrl + P

[========]

### 绘制流程图 Flowchart

```flow
st=>start: 用户登陆
op=>operation: 登陆操作
cond=>condition: 登陆成功 Yes or No?
e=>end: 进入后台

st->op->cond
cond(yes)->e
cond(no)->op
```

[========]

### 绘制序列图 Sequence Diagram

```seq
Andrew->China: Says Hello
Note right of China: China thinks\nabout it
China-->Andrew: How are you?
Andrew->>China: I am good thanks!
```

### End
              </textarea>
            </div>
        </div>
    </form>
</div>


<!--弹出框-->
<div id="signup">
    <div id="signup-ct">
        <div id="signup-header">
            <h2>发布文章</h2>
            <a class="modal_close" href="#"></a>
        </div>
        <form action="">
            <div class="ui doubling stackable grid container">
                <!--标签-->
                <div class="row " style="margin-top: 15px !important;">
                    <div class="center aligned three wide column" style="padding-top: 0.5em !important;">
                        标签
                    </div>
                    <div class="thirteen wide column" style="margin-top: 5px !important;padding-left: 0 !important;">
                        <div class="ui field">
                            <select id="tags" name="maxCount" multiple="" class="ui dropdown tags">
                                <option value="" selected="">请选择</option>
                                <option value="1">Java</option>
                                <option value="2">MySQL</option>
                                <option value="3">Spring系列</option>
                                <option value="4">Redis</option>
                                <option value="5">JVM</option>
                            </select>
                        </div>
                        <div class="ui fluid icon input">
                            <input id="tag-input" type="text" placeholder="添加标签..." style="display: none !important;">
                            <div class="ui field" style="margin-top: 5px !important;padding-left: 3px !important;">
                                <div id="add-tag-btn" class="ui tiny primary submit button">
                                    <i class="add icon"></i>
                                    增加标签
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--分类专栏-->
                <div class="row">
                    <div class="center aligned three wide column" style="padding-top: 0.5em !important;">
                        分类专栏
                    </div>
                    <div class="thirteen wide column" style="margin-top: 5px !important;padding-left: 0 !important;">
                        <div class="ui field">
                            <select id="types" name="maxCount" multiple="" class="ui dropdown type">
                                <option value="" selected="">请选择</option>
                                <option value="1">Java</option>
                                <option value="2">MySQL</option>
                                <option value="3">Spring系列</option>
                                <option value="4">Redis</option>
                                <option value="5">JVM</option>
                            </select>
                        </div>
                        <div class="ui fluid icon input">
                            <input id="add-input" type="text" placeholder="添加分类..." style="display: none !important;">
                            <div class="ui field" style="padding-top: 5px !important;padding-left: 3px !important;">
                                <div id="add-type-btn" class="ui tiny primary submit button">
                                    <i class="add icon"></i>
                                    增加分类
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--文章类型-->
                <div class="row">
                    <div class="center aligned three wide column" style="padding-top: 0.5em !important;">
                        文章类型
                    </div>
                    <div class="thirteen wide column" style="padding-left: 0 !important;">
                        <div class="field">
                            <select name="minCount" class="ui dropdown">
                                <option value="">请选择</option>
                                <option value="1">原创</option>
                                <option value="2">转载</option>
                                <option value="3">翻译</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--发布形式-->
                <div class="row">
                    <div class="center aligned three wide column" style="padding-top: 0.5em !important;">
                        发布形式
                    </div>
                    <div class="thirteen wide column" style="padding-left: 0 !important;">
                        <div class="ui form">
                            <div class="inline fields">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="frequency" checked="checked">
                                        <label>公开</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="frequency">
                                        <label>私有</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 0 !important;padding-bottom: 0 !important;">
                    <div class="right aligned sixteen wide column" style="padding-top: 0.5em !important;">
                        <span style="color: rgb(202, 12, 22)">温馨提示：请勿发布涉及政治、广告、营销、翻墙、违反国家法律法规等内容</span>
                    </div>
                </div>
                <div class="right aligned row" style="padding-bottom: 5px !important;">
                    <div class="right aligned sixteen wide column" style="padding-top: 0.5em !important;">
                        <button class="ui  floated button basic">取消</button>
                        <button class="ui  floated button basic blue ">保存为草稿</button>
                        <button class="ui  floated button basic red ">发布文章</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px !important;"></div>
            </div>
        </form>
    </div>
</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        toggleStatus();
    });

    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if(user!=null){
            $('#header-images').show();
            $('#login-btn').hide();
        }else{
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus,100);
    }

    <!--退出操作异步请求-->
    $('#logout').click(function () {
        $.ajax({
            url: "/user/logout",
            method: "GET",
            sync: true,
            data: {userId: $('#userId').val()},
            dataType: "text",
            success: function (result) {
                if (result == "OK") {
                    sessionStorage.removeItem("user");
                    $("#login-btn").show();
                    $('#header-images').hide();
                }
            },
            error: function () {
                alert("服务异常，请重试！")
            }
        });
    });

</script>
<script src="../../../static/lib/editormd.min.js" th:src="@{/static/lib/editormd.min.js}"></script>
<script src="../../../static/lib/editormd.amd.js" th:src="@{/static/editormd.amd.min.js}"></script>
<!--控制头像的显示-->
<script>
    $(document).ready(function () {
        toggleStatus();
    });

    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if(user!=null){
            $('#header-images').show();
            $('#login-btn').hide();
        }else{
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus,100);
    }
</script>
<script>
    //初始化Markdown编辑器
    var contentEditor;
    $(function () {
        contentEditor = editormd("md-content", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "../../../static/lib/lib/"
        });
    });
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客标题'
                }]
            },
            maxCount: {
                identifier: 'maxCount',
                rules: [
                    {
                        type: 'maxCount[5]',
                        prompt: '最多可以添加5个标签'
                    }
                ]
            }
        }
    });

</script>
<script type="text/javascript">
    $(function () {
        $('a[rel*=leanModal]').leanModal({top: 200, closeButton: ".modal_close"});
    });
</script>
<!--弹出框js-->
<script type="text/javascript">
    (function ($) {
        $.fn.extend({
            leanModal: function (options) {
                var defaults = {
                    top: 100,
                    overlay: 0.5,
                    closeButton: null
                };
                var overlay = $("<div id='lean_overlay'></div>");
                $("body").append(overlay);
                options = $.extend(defaults, options);
                return this.each(function () {
                    var o = options;
                    $(this).click(function (e) {
                        var modal_id = $(this).attr("href");
                        $("#lean_overlay").click(function () {
                            close_modal(modal_id)
                        });
                        $(o.closeButton).click(function () {
                            close_modal(modal_id)
                        });
                        var modal_height = $(modal_id).outerHeight();
                        var modal_width = $(modal_id).outerWidth();
                        $("#lean_overlay").css({
                            "display": "block",
                            opacity: 0
                        });
                        $("#lean_overlay").fadeTo(200, o.overlay);
                        $(modal_id).css({
                            "display": "block",
                            "position": "fixed",
                            "opacity": 0,
                            "z-index": 11000,
                            "left": 50 + "%",
                            "margin-left": -(modal_width / 2) + "px",
                            "top": o.top - 100 + "px"
                        });
                        $(modal_id).fadeTo(200, 1);
                        e.preventDefault()
                    })
                });

                function close_modal(modal_id) {
                    $("#lean_overlay").fadeOut(200);
                    $(modal_id).css({
                        "display": "none"
                    })
                }
            }
        })
    })(jQuery);
</script>

<script type="text/javascript">
    //控制分类栏
    $("#add-type-btn").click(function () {
        $("#add-input").show();
    });
    $("#add-input").blur(function () {
        var str = $("#add-input").val();
        if (str != null && str.length > 0) {
            var select = document.getElementById("types");
            var option = new Option();  //产生一个Option结点
            var value = select.childElementCount;
            select.append(option);
            option.text = str;
            option.value = value;
            $('.type').append('<a class=\"ui label transition visible\" data-value='+value+" style=\"display: inline-block !important;\">"+str+"<i class=\"delete icon\"></i></a>");
            $("#types").val(value);
        }
        $("#add-input").hide();
    });

    //控制标签栏
    $("#add-tag-btn").click(function () {
        $("#tag-input").show();
    });
    $("#tag-input").blur(function () {
        var str = $("#tag-input").val();
        if (str != null && str.length > 0) {
            var select = document.getElementById("tags");
            var option = new Option();  //产生一个Option结点
            var value = select.childElementCount;
            select.append(option);
            option.text = str;
            option.value = value;
            $('.tags').append("<a class=\"ui label transition visible\" data-value="+value+" style=\"display: inline-block !important;\">"+str+"<i class=\"delete icon\"></i></a>");
            $("#tags").val(value);
        }
        $("#tag-input").hide();
    });


</script>
</html>