<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.easyblog.mapper.ArticleMapper">
    <cache type="top.easyblog.config.cache.MyBatisRedisCache">
        <property name="eviction" value="LRU"/>
        <property name="flushInterval" value="6000000"/>
        <property name="size" value="1024"/>
        <property name="readOnly" value="false"/>
    </cache>
    <resultMap id="BaseResultMap" type="top.easyblog.bean.Article">
        <id column="article_id" jdbcType="BIGINT" property="articleId"/>
        <result column="article_user" jdbcType="INTEGER" property="articleUser"/>
        <result column="article_topic" jdbcType="VARCHAR" property="articleTopic"/>
        <result column="article_publish_time" jdbcType="TIMESTAMP" property="articlePublishTime"/>
        <result column="article_click" jdbcType="INTEGER" property="articleClick"/>
        <result column="article_category" jdbcType="VARCHAR" property="articleCategory"/>
        <result column="article_status" jdbcType="CHAR" property="articleStatus"/>
        <result column="article_top" jdbcType="BIT" property="articleTop"/>
        <result column="article_type" jdbcType="CHAR" property="articleType"/>
        <result column="article_tags" jdbcType="VARCHAR" property="articleTags"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="top.easyblog.bean.Article">
        <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent"/>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="articleId" keyColumn="article_id"
            parameterType="top.easyblog.bean.Article" flushCache="false">
        insert into article (article_user, article_topic, article_publish_time,
                             article_click, article_category, article_status,
                             article_top, article_type, article_tags,
                             article_content, article_comment_num, article_appreciate)
        values (#{articleUser}, #{articleTopic}, now(), 0, #{articleCategory},
                #{articleStatus}, #{articleTop}, #{articleType}, #{articleTags},
                #{articleContent}, 0, #{articleAppreciate})
    </insert>


    <select id="getByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select *
        from article
        where article_id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getAll" resultType="list">
        select *
        from article
    </select>

    <select id="countUserArticlesInCategory" resultType="integer">
        select count(*)
        from article
        where article_user = #{userId}
          AND article_category = #{categoryName}
    </select>

    <select id="getUserArticlesSelective" resultType="top.easyblog.bean.Article">
        select *
        from article
        where article_user = #{userId}
          AND article_type = #{articleType}
          AND article_status = '0'
        order by article_publish_time DESC
    </select>

    <select id="getUserAllArticles" resultType="top.easyblog.bean.Article">
        select *
        from article
        where article_user = #{userId}
          AND article_status = '0'
        order by article_publish_time DESC
    </select>

    <select id="getNewestArticles" resultType="top.easyblog.bean.Article">
        select *
        from article
        where article_user = #{userId}
          AND article_status = '0'
        order by article_publish_time DESC
        limit #{limit}
    </select>

    <select id="getAllMostFamousArticles" resultType="top.easyblog.bean.Article">
        select *
        from article
        where article_status = '0'
          and date(article_publish_time) >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
        ORDER BY article_click DESC
        limit #{limit}
    </select>

    <select id="getAllUserNewestArticles" resultType="top.easyblog.bean.Article">
        select *
        from article
        where article_status = '0'
          and date(article_publish_time) >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
        order by article_publish_time DESC
    </select>

    <select id="getAllUserHistoryNewestArticles" resultType="top.easyblog.bean.Article">
        select *
        from article
        where article_status = '0'
        order by article_publish_time DESC
        limit #{limit}
    </select>


    <select id="getHotArticles" resultType="top.easyblog.bean.Article">
        select *
        from article
        where article_user = #{userId}
          AND article_status = '0'
        order by article_click DESC
        limit #{limit}
    </select>

    <select id="countByUserIdMonthly" resultType="top.easyblog.bean.ArticleCount">
        SELECT DATE_FORMAT(article_publish_time, "%Y年%m月") AS date, COUNT(*) AS count
        FROM article
        where article_user = #{userId}
          AND article_status = '0'
        GROUP BY DATE_FORMAT(article_publish_time, "%Y年%m月")
        ORDER BY DATE_FORMAT(article_publish_time, "%Y年%m月") DESC
    </select>

    <select id="getByUserIdMonthly" resultType="top.easyblog.bean.Article">
        SELECT *
        FROM article
        WHERE YEAR(article_publish_time) = #{year}
          AND MONTH(article_publish_time) = #{month}
          AND article_user = #{userId}
          AND article_status = '0'
        ORDER BY article_publish_time DESC
    </select>

    <select id="getByUserIdMonthlyOrderByClickNum" resultType="top.easyblog.bean.Article">
        SELECT *
        FROM article
        WHERE YEAR(article_publish_time) = #{year}
          AND MONTH(article_publish_time) = #{month}
          AND article_user = #{userId}
          AND article_status = '0'
        ORDER BY article_click DESC
    </select>

    <select id="getByCategoryAndUserId" resultType="top.easyblog.bean.Article">
        select *
        from article
        where article_user = #{userId}
          AND article_status = '0'
          AND article_category
            in (select category_name from category where category_id = #{categoryId})
        ORDER BY article_publish_time DESC
    </select>


    <select id="getArticlesSelective" resultType="top.easyblog.bean.Article">
        select * from article
        <where>
            <if test="article.articleTopic != null">
                article_topic=#{article.articleTopic} AND
            </if>
            <if test="year!= null">
                YEAR(article_publish_time)=#{year} AND
            </if>
            <if test="month!=null">
                MONTH(article_publish_time)=#{month} AND
            </if>
            <if test="article.articleClick != null">
                article_click=#{article.articleClick} AND
            </if>
            <if test="article.articleCategory != null">
                article_category=#{article.articleCategory} AND
            </if>
            <if test="article.articleStatus != null">
                article_status=#{article.articleStatus} AND
            </if>
            <if test="article.articleTop != null">
                article_top=#{article.articleTop} AND
            </if>
            <if test="article.articleType != null">
                article_type=#{article.articleType} AND
            </if>
            <if test="article.articleTags != null">
                article_tags=#{article.articleTags} AND
            </if>
            <if test="article.articleCommentNum != null">
                article_comment_num=#{article.articleCommentNum} AND
            </if>
            <if test="article.articleAppreciate!=null">
                article_appreciate=#{article.articleAppreciate} AND
            </if>
            <if test="1==1">article_user = #{article.articleUser}</if>
        </where>
    </select>

    <select id="getUsersArticleByQueryString" resultType="top.easyblog.bean.Article">
        select article_id,
               article_topic,
               article_publish_time,
               article_content,
               article_click,
               article_category,
               article_comment_num,
               user.user_nickname      AS authorName,
               user.user_headerImg_url AS userHeaderImageUrl
        from article,
             user
        where article_topic like #{query}
          AND article_user = user_id
        ORDER BY article_click DESC
    </select>

    <select id="countByUserId" resultType="integer">
        select count(*)
        from article
        where article_user = #{userId}
    </select>


    <select id="countSelective" resultType="integer">
        select count(*) from article
        <where>
            <if test="article.articleTopic != null">
                article_topic=#{article.articleTopic} AND
            </if>
            <if test="article.articleClick != null">
                article_click=#{article.articleClick} AND
            </if>
            <if test="article.articleCategory != null">
                article_category=#{article.articleCategory} AND
            </if>
            <if test="article.articleStatus != null">
                article_status=#{article.articleStatus} AND
            </if>
            <if test="article.articleTop != null">
                article_top=#{article.articleTop} AND
            </if>
            <if test="article.articleType != null">
                article_type=#{article.articleType} AND
            </if>
            <if test="article.articleTags != null">
                article_tags=#{article.articleTags} AND
            </if>
            <if test="article.articleCommentNum != null">
                article_comment_num=#{article.articleCommentNum} AND
            </if>
            <if test="article.articleAppreciate!=null">
                article_appreciate=#{article.articleAppreciate} AND
            </if>
            <if test="1==1">article_user = #{article.articleUser}</if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from article
        where article_id = #{articleId,jdbcType=BIGINT}
    </delete>

    <insert id="saveSelective" parameterType="top.easyblog.bean.Article">
        insert into article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleUser != null">
                article_user,
            </if>
            <if test="articleTopic != null">
                article_topic,
            </if>
            <if test="articlePublishTime != null">
                article_publish_time,
            </if>
            <if test="articleClick != null">
                article_click,
            </if>
            <if test="articleCategory != null">
                article_category,
            </if>
            <if test="articleStatus != null">
                article_status,
            </if>
            <if test="articleTop != null">
                article_top,
            </if>
            <if test="articleType != null">
                article_type,
            </if>
            <if test="articleTags != null">
                article_tags,
            </if>
            <if test="articleContent != null">
                article_content,
            </if>
            <if test="articleCommentNum != null">
                article_comment_num,
            </if>
            <if test="articleAppreciate!=null">
                article_appreciate
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleUser != null">
                #{articleUser,jdbcType=INTEGER},
            </if>
            <if test="articleTopic != null">
                #{articleTopic,jdbcType=VARCHAR},
            </if>
            <if test="articlePublishTime != null">
                #{articlePublishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="articleClick != null">
                #{articleClick,jdbcType=INTEGER},
            </if>
            <if test="articleCategory != null">
                #{articleCategory,jdbcType=VARCHAR},
            </if>
            <if test="articleStatus != null">
                #{articleStatus,jdbcType=CHAR},
            </if>
            <if test="articleTop != null">
                #{articleTop,jdbcType=BIT},
            </if>
            <if test="articleType != null">
                #{articleType,jdbcType=CHAR},
            </if>
            <if test="articleTags != null">
                #{articleTags,jdbcType=VARCHAR},
            </if>
            <if test="articleContent != null">
                #{articleContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="articleCommentNum != null">
                #{articleCommentNum,jdbcType=INTEGER}
            </if>
            <if test="articleAppreciate!=null">
                #{articleAppreciate}
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="top.easyblog.bean.Article">
        update article
        <set>
            <if test="articleUser != null">
                article_user = #{articleUser,jdbcType=INTEGER},
            </if>
            <if test="articleTopic != null">
                article_topic = #{articleTopic,jdbcType=VARCHAR},
            </if>
            <if test="articlePublishTime != null">
                article_publish_time = #{articlePublishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="articleClick != null">
                article_click = #{articleClick,jdbcType=INTEGER},
            </if>
            <if test="articleCategory != null">
                article_category = #{articleCategory,jdbcType=VARCHAR},
            </if>
            <if test="articleStatus != null">
                article_status = #{articleStatus,jdbcType=CHAR},
            </if>
            <if test="articleTop != null">
                article_top = #{articleTop,jdbcType=BIT},
            </if>
            <if test="articleType != null">
                article_type = #{articleType,jdbcType=CHAR},
            </if>
            <if test="articleTags != null">
                article_tags = #{articleTags,jdbcType=VARCHAR},
            </if>
            <if test="articleContent != null">
                article_content = #{articleContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="articleCommentNum != null">
                article_comment_num=article_comment_num+#{articleCommentNum,jdbcType=INTEGER}
            </if>
            <if test="articleAppreciate!=null">
                article_appreciate=#{articleAppreciate}
            </if>
        </set>
        where article_id = #{articleId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKeyWithContent" parameterType="top.easyblog.bean.Article">
        update article
        set article_user        = #{articleUser,jdbcType=INTEGER},
            article_topic       = #{articleTopic,jdbcType=VARCHAR},
            article_click       = #{articleClick,jdbcType=INTEGER},
            article_category    = #{articleCategory,jdbcType=VARCHAR},
            article_status      = #{articleStatus,jdbcType=CHAR},
            article_top         = #{articleTop,jdbcType=BIT},
            article_type        = #{articleType,jdbcType=CHAR},
            article_tags        = #{articleTags,jdbcType=VARCHAR},
            article_content     = #{articleContent,jdbcType=LONGVARCHAR},
            article_comment_num =#{articleCommentNum},
            article_appreciate=#{articleAppreciate}
        where article_id = #{articleId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="top.easyblog.bean.Article">
        update article
        set article_user         = #{articleUser,jdbcType=INTEGER},
            article_topic        = #{articleTopic,jdbcType=VARCHAR},
            article_publish_time = #{articlePublishTime,jdbcType=TIMESTAMP},
            article_click        = #{articleClick,jdbcType=INTEGER},
            article_category     = #{articleCategory,jdbcType=VARCHAR},
            article_status       = #{articleStatus,jdbcType=CHAR},
            article_top          = #{articleTop,jdbcType=BIT},
            article_type         = #{articleType,jdbcType=CHAR},
            article_tags         = #{articleTags,jdbcType=VARCHAR},
            article_comment_num  =#{articleCommentNum},
            article_appreciate=#{articleAppreciate}
        where article_id = #{articleId,jdbcType=BIGINT}
    </update>


    <!--根据用户的ID和文章标题删除草稿文章-->
    <delete id="deleteArticleByUserIdAndTitle">
        delete
        from article
        where article_user = #{userId}
          AND article_topic = #{title}
          AND article_status = '2'
    </delete>


</mapper>