<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.easyblog.mapper.CategoryCareMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
        <property name="eviction" value="LRU" />
        <property name="flushInterval" value="6000000" />
        <property name="size" value="1024" />
        <property name="readOnly" value="false" />
    </cache>

    <insert id="save" useGeneratedKeys="true" keyColumn="category_care_id" >
        insert into category_care(category_id, category_care_user_id) value
        (#{categoryId},#{categoryCareUserId})
    </insert>


    <!--按照分类的ID查找这个分类的所有关注-->
    <select id="getCategoryCareByCategoryId" resultType="top.easyblog.entity.po.CategoryCare">
         select * from category_care where category_id=#{categoryId}
    </select>

    <delete id="deleteByUserIdAndCategoryId">
        delete from category_care where category_care_user_id=#{userId} AND category_id=#{categoryId}
    </delete>

</mapper>