<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.easyblog.mapper.PowerMapper">
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
    <property name="eviction" value="LRU" />
    <property name="flushInterval" value="6000000" />
    <property name="size" value="1024" />
    <property name="readOnly" value="false" />
  </cache>
  <resultMap id="BaseResultMap" type="top.easyblog.entity.po.Power">
    <id column="power_id" jdbcType="TINYINT" property="powerId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <select id="getByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select *
    from power
    where power_id = #{id}
  </select>

  <select id="getAll" resultType="list">
    select * from power
  </select>

  <select id="count" resultType="integer">
    select count(*) from power
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte">
    delete from power
    where power_id = #{powerId,jdbcType=TINYINT}
  </delete>

  <insert id="save" parameterType="top.easyblog.entity.po.Power" useGeneratedKeys="true" keyColumn="power_id">
    insert into power (power_id, name)
    values (#{powerId,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR})
  </insert>

  <insert id="saveSelective" parameterType="top.easyblog.entity.po.Power" useGeneratedKeys="true" keyColumn="power_id">
    insert into power
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="powerId != null">
        power_id,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="powerId != null">
        #{powerId,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="top.easyblog.entity.po.Power" >
    update power
    set name = #{name,jdbcType=VARCHAR}
    where power_id = #{powerId,jdbcType=TINYINT}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="top.easyblog.entity.po.Power" >
    update power
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where power_id = #{powerId,jdbcType=TINYINT}
  </update>

</mapper>