<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.easyblog.mapper.SecretMessageMapper">
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
    <property name="eviction" value="LRU" />
    <property name="flushInterval" value="6000000" />
    <property name="size" value="1024" />
    <property name="readOnly" value="false" />
  </cache>
  <resultMap id="BaseResultMap" type="top.easyblog.entity.po.SecretMessage">
    <id column="send_id" jdbcType="INTEGER" property="sendId" />
    <id column="receive_id" jdbcType="INTEGER" property="receiveId" />
    <id column="message_time" jdbcType="TIMESTAMP" property="messageTime" />
    <result column="message_topic" jdbcType="VARCHAR" property="messageTopic" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="top.easyblog.entity.po.SecretMessage">
    <result column="message_context" jdbcType="LONGVARCHAR" property="messageContext" />
  </resultMap>

  <select id="getByPrimaryKey"  resultMap="ResultMapWithBLOBs">
    select *
    from secret_message
    where send_id = #{sendId,jdbcType=INTEGER}
      and receive_id = #{receiveId,jdbcType=INTEGER}
      and message_time = #{messageTime,jdbcType=TIMESTAMP}
  </select>

  <select id="getAll" resultType="list">
    select * from secret_message
  </select>

  <select id="count" resultType="integer">
    select count(*)  from secret_message
  </select>

  <delete id="deleteByPrimaryKey" parameterType="integer">
    delete from secret_message
    where send_id = #{sendId,jdbcType=INTEGER}
      and receive_id = #{receiveId,jdbcType=INTEGER}
      and message_time = #{messageTime,jdbcType=TIMESTAMP}
  </delete>

  <insert id="save" parameterType="top.easyblog.entity.po.SecretMessage" flushCache="false">
    insert into secret_message (send_id, receive_id, message_time, 
      message_topic, message_context)
    values
    (#{sendId,jdbcType=INTEGER}, #{receiveId,jdbcType=INTEGER},
    now(), #{messageTopic,jdbcType=VARCHAR},
    #{messageContext,jdbcType=LONGVARCHAR})
  </insert>

  <insert id="saveSelective" parameterType="top.easyblog.entity.po.SecretMessage">
    insert into secret_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sendId != null">
        send_id,
      </if>
      <if test="receiveId != null">
        receive_id,
      </if>
      <if test="messageTime != null">
        message_time,
      </if>
      <if test="messageTopic != null">
        message_topic,
      </if>
      <if test="messageContext != null">
        message_context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sendId != null">
        #{sendId,jdbcType=INTEGER},
      </if>
      <if test="receiveId != null">
        #{receiveId,jdbcType=INTEGER},
      </if>
      <if test="messageTime != null">
        #{messageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageTopic != null">
        #{messageTopic,jdbcType=VARCHAR},
      </if>
      <if test="messageContext != null">
        #{messageContext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="top.easyblog.entity.po.SecretMessage" flushCache="false">
    update secret_message
    <set>
      <if test="messageTopic != null">
        message_topic = #{messageTopic,jdbcType=VARCHAR},
      </if>
      <if test="messageContext != null">
        message_context = #{messageContext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where send_id = #{sendId,jdbcType=INTEGER}
      and receive_id = #{receiveId,jdbcType=INTEGER}
      and message_time = #{messageTime,jdbcType=TIMESTAMP}
  </update>

  <update id="updateByPrimaryKeyWithContent" parameterType="top.easyblog.entity.po.SecretMessage">
    update secret_message
    set message_topic = #{messageTopic,jdbcType=VARCHAR},
      message_context = #{messageContext,jdbcType=LONGVARCHAR}
    where send_id = #{sendId,jdbcType=INTEGER}
      and receive_id = #{receiveId,jdbcType=INTEGER}
      and message_time = #{messageTime,jdbcType=TIMESTAMP}
  </update>

  <update id="updateByPrimaryKey" parameterType="top.easyblog.entity.po.SecretMessage">
    update secret_message
    set message_topic = #{messageTopic,jdbcType=VARCHAR}
    where send_id = #{sendId,jdbcType=INTEGER}
      and receive_id = #{receiveId,jdbcType=INTEGER}
      and message_time = #{messageTime,jdbcType=TIMESTAMP}
  </update>
</mapper>