<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.easyblog.mapper.SecretMessageMapper">
  <resultMap id="BaseResultMap" type="org.easyblog.bean.SecretMessage">
    <id column="send_id" jdbcType="INTEGER" property="sendId" />
    <id column="receive_id" jdbcType="INTEGER" property="receiveId" />
    <id column="message_time" jdbcType="TIMESTAMP" property="messageTime" />
    <result column="message_topic" jdbcType="VARCHAR" property="messageTopic" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.easyblog.bean.SecretMessage">
    <result column="message_context" jdbcType="LONGVARCHAR" property="messageContext" />
  </resultMap>
  <sql id="Base_Column_List">
    send_id, receive_id, message_time, message_topic
  </sql>
  <sql id="Blob_Column_List">
    message_context
  </sql>
  <select id="selectByPrimaryKey" parameterType="org.easyblog.bean.SecretMessageKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from secret_message
    where send_id = #{sendId,jdbcType=INTEGER}
      and receive_id = #{receiveId,jdbcType=INTEGER}
      and message_time = #{messageTime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.easyblog.bean.SecretMessageKey">
    delete from secret_message
    where send_id = #{sendId,jdbcType=INTEGER}
      and receive_id = #{receiveId,jdbcType=INTEGER}
      and message_time = #{messageTime,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="org.easyblog.bean.SecretMessage">
    insert into secret_message (send_id, receive_id, message_time, 
      message_topic, message_context)
    values (#{sendId,jdbcType=INTEGER}, #{receiveId,jdbcType=INTEGER}, #{messageTime,jdbcType=TIMESTAMP}, 
      #{messageTopic,jdbcType=VARCHAR}, #{messageContext,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.easyblog.bean.SecretMessage">
    insert into secret_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sendId != null">
        send_id,
      </if>
      <if test="receiveId != null">
        receive_id,
      </if>
      <if test="messageTime != null">
        message_time,
      </if>
      <if test="messageTopic != null">
        message_topic,
      </if>
      <if test="messageContext != null">
        message_context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sendId != null">
        #{sendId,jdbcType=INTEGER},
      </if>
      <if test="receiveId != null">
        #{receiveId,jdbcType=INTEGER},
      </if>
      <if test="messageTime != null">
        #{messageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageTopic != null">
        #{messageTopic,jdbcType=VARCHAR},
      </if>
      <if test="messageContext != null">
        #{messageContext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.easyblog.bean.SecretMessage">
    update secret_message
    <set>
      <if test="messageTopic != null">
        message_topic = #{messageTopic,jdbcType=VARCHAR},
      </if>
      <if test="messageContext != null">
        message_context = #{messageContext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where send_id = #{sendId,jdbcType=INTEGER}
      and receive_id = #{receiveId,jdbcType=INTEGER}
      and message_time = #{messageTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.easyblog.bean.SecretMessage">
    update secret_message
    set message_topic = #{messageTopic,jdbcType=VARCHAR},
      message_context = #{messageContext,jdbcType=LONGVARCHAR}
    where send_id = #{sendId,jdbcType=INTEGER}
      and receive_id = #{receiveId,jdbcType=INTEGER}
      and message_time = #{messageTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.easyblog.bean.SecretMessage">
    update secret_message
    set message_topic = #{messageTopic,jdbcType=VARCHAR}
    where send_id = #{sendId,jdbcType=INTEGER}
      and receive_id = #{receiveId,jdbcType=INTEGER}
      and message_time = #{messageTime,jdbcType=TIMESTAMP}
  </update>
</mapper>