<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.easyblog.mapper.UserMailLogMapper">
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
    <property name="eviction" value="LRU" />
    <property name="flushInterval" value="6000000" />
    <property name="size" value="1024" />
    <property name="readOnly" value="false" />
  </cache>
  <resultMap id="BaseResultMap" type="top.easyblog.entity.po.UserMailLog">
    <id column="log_id" jdbcType="BIGINT" property="logId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="log_time" jdbcType="TIMESTAMP" property="logTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="top.easyblog.entity.po.UserMailLog">
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
  </resultMap>


  <select id="getByPrimaryKey" parameterType="long" resultMap="ResultMapWithBLOBs">
    select * from user_mail_log where log_id = #{id}
  </select>

  <select id="getAll" resultType="list">
    select * from user_mail_log
  </select>

  <select id="count" resultType="integer">
    select count(*) from user_mail_log
  </select>

  <delete id="deleteByPrimaryKey" parameterType="long">
    delete from user_mail_log where log_id = #{logId,jdbcType=BIGINT}
  </delete>

  <!--插入一条日志记录-->
  <insert id="save" parameterType="top.easyblog.entity.po.UserMailLog">
    insert into user_mail_log (email, log_time, context)
    values
    ( #{email,jdbcType=INTEGER}, now() ,#{context,jdbcType=LONGVARCHAR})
  </insert>

  <insert id="saveSelective" parameterType="top.easyblog.entity.po.UserMailLog">
    insert into user_mail_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        log_id,
      </if>
      <if test="userId != null">
        email,
      </if>
      <if test="logTime != null">
        log_time,
      </if>
      <if test="context != null">
        context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="logTime != null">
        #{logTime,jdbcType=TIMESTAMP},
      </if>
      <if test="context != null">
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="top.easyblog.entity.po.UserMailLog" >
    update user_mail_log
    <set>
      <if test="userId != null">
        email = #{email,jdbcType=INTEGER},
      </if>
      <if test="logTime != null">
        log_time = #{logTime,jdbcType=TIMESTAMP},
      </if>
      <if test="context != null">
        context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKeyWithContent" parameterType="top.easyblog.entity.po.UserMailLog">
    update user_mail_log
    set email = #{email,jdbcType=INTEGER},
      log_time = #{logTime,jdbcType=TIMESTAMP},
      context = #{context,jdbcType=LONGVARCHAR}
    where log_id = #{logId,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="top.easyblog.entity.po.UserMailLog">
    update user_mail_log
    set email = #{email,jdbcType=INTEGER},
      log_time = #{logTime,jdbcType=TIMESTAMP}
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
</mapper>