<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>账号设置-账号注销 - EasyBlog博客</title>
    <th:block th:replace="~{ fragment/common::common_head}" />
</head>
<body>
<!--导航-->
<div th:replace="~{fragment/nav :: navbar}"></div>
<!--中间内容-->
<div class="m-content-container">
    <div class="ui stackable grid">
        <div class="one wide column"></div>
        <!--左侧菜单栏-->
        <div th:replace="~{ fragment/account-setting-sidebar::sidebar}"></div>
        <!--博客内容-->
        <div class="twelve wide column">
            <div class="ui top attached segment stackable">
                <h3 class="m-margin-top m-margin-bottom m-margin-left"
                    style="font-size: 20px !important;color: #3d3d3d !important;">
                    账号注销</h3>
                <div class="ui divider"></div>
                <div style="padding-top: 2em !important;" class="m-margin-left-large">
                    <div style="color: red">
                        <span>温馨提示：账户注销后您在EasyBlog平台上的所有信息将会被全部删除。<br/>
                            如果您确定要注销账户，为了保护您的账安全，请输入账户密码。</span><br/>
                    </div>
                    <br/>
                    <div class="ui fluid input" style="width: 60% !important;">
                        <span class="m-margin-top">填写密码：</span>
                        <input id="code" type="password"/>
                    </div>
                    <br/>
                    <br/>
                    <button id="firm_btn" class="ui red medium disabled button m-margin-left-middle">
                        立即注销
                    </button>

                </div>
                <div style="padding-bottom: 12em !important;"></div>
            </div>
        </div>
    </div>
</div>
<!--提示框-->
<div id="model1" class="ui small modal">
    <div class="header" id="msg_header">删除</div>
    <div id="msg" class="content">
    </div>
    <div class="actions">
        <div id="msg-btn" class="ui red button">知道了</div>
    </div>
</div>
<div style="height: 10em"></div>
<!--底部footer-->
<div th:replace="~{ fragment/common :: footbar}"></div>
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../../../static/js/easyblog.js" th:src="@{/static/js/easyblog.js}"></script>
<script>
    $(document).ready(function () {
        let userId=$('#userId').val();
        showPageZoomWarning();
        toggleStatus();
        logOut();
    });
</script>
<script>
    //初始化提示框
    $('#msg-btn').click(function () {
        $('.ui.modal').modal('hide');
    });

    let userId="[[${user.getUserId()}]]";
    let base_url=window.document.location;
    $('#firm_btn').click(function () {
        $.ajax({
            url: "/manage/account/destroy",
            method: 'GET',
            sync: true,
            data: {password: $('#code').val(),userId:userId},
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    window.location.href = base_url;
                } else {
                    spop({
                        template: response.message,
                        autoclose: 3000,
                        position: "top-center",
                        style: 'error',
                    });
                }
            },
            error: function () {
                spop({
                    template: '服务异常，请重试！',
                    autoclose: 4000,
                    position: "top-center",
                    style: 'error',
                });
            }
        });
    })
</script>

<script>
    $('#account5').css("background", '#ca0c16');
    $('#account5').css('color', '#ffffff')
</script>
<!--控制按钮的禁用和可用状态-->
<script type="text/javascript">
    $(function () {
        function changePwd() {
            var len1 = document.getElementById("code").value.length;
            if (len1 != 0) {
                $('#firm_btn').removeClass("disabled");
            } else {
                $('#firm_btn').addClass("disabled");
            }
        }

        setInterval(changePwd, 300);
    });

</script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('#searchBar').click(function () {
        $('#reloadSearchBar').css("display", "block");  //显示div
    })

</script>
</html>