<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账号设置-修改邮箱 - EasyBlog博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../../static/css/me.css" th:href="@{/static/css/me.css}">
</head>
<body>

<!--导航-->
<div th:replace="~{nav :: navbar}"></div>


<!--中间内容-->
<div class="ui m-container m-padded-tb-big stackable">
    <div class="ui stackable grid">
        <div class="one wide column"></div>
        <!--左侧查单栏-->
        <div class="three wide column">
            <div class="ui segments ">
                <div class="ui segment border-bt-none m-a-bg-hover">
                    <a href="#" target="_blank" class="m-black m-text-thin m-text-spaced"
                       style="font-size: 14px !important;padding-left: 20% !important;"><i
                            class="cogs  icon"></i>修改密码</a>
                </div>
                <div class="ui divider" style="margin-bottom: 0 !important;margin-top: 0 !important;"></div>

                <div class="ui segment border-bt-none m-a-bg-hover">
                    <a href="#" target="_blank" class="m-black m-text-thin m-text-spaced"
                       style="font-size: 14px !important;padding-left: 20% !important;"><i
                            class="mobile alternate icon"></i>修改手机</a>
                </div>
                <div class="ui divider" style="margin-bottom: 0 !important;margin-top: 0 !important;"></div>
                <div class="ui segment border-bt-none m-a-bg-hover">
                    <a href="#" target="_blank" class="m-black m-text-thin m-text-spaced"
                       style="font-size: 14px !important;padding-left: 20% !important;"><i
                            class="envelope outline icon"></i>修改邮箱</a>
                </div>
                <div class="ui divider" style="margin-bottom: 0 !important;margin-top: 0 !important;"></div>
                <!-- <div class="ui segment border-bt-none m-a-bg-hover">
                     <a href="#" target="_blank" class="m-black m-text-thin m-text-spaced"
                        style="font-size: 14px !important;padding-left: 20% !important;"><i
                             class="users icon"></i>绑定登录账号</a>
                 </div>
                 <div class="ui divider" style="margin-bottom: 0 !important;margin-top: 0 !important;"></div>-->
                <div class="ui segment border-bt-none m-a-bg-hover">
                    <a href="#" target="_blank" class="m-black m-text-thin m-text-spaced"
                       style="font-size: 14px !important;padding-left: 20% !important;"><i
                            class="book icon"></i>登录日志</a>
                </div>
                <div class="ui divider" style="margin-bottom: 0 !important;margin-top: 0 !important;"></div>
                <div class="ui segment border-bt-none m-a-bg-hover">
                    <a href="#" target="_blank" class="m-black m-text-thin m-text-spaced"
                       style="font-size: 14px !important;padding-left: 20% !important;"><i class="power off icon"></i>账号注销</a>
                </div>
            </div>
        </div>
        <!--博客内容-->
        <div class="twelve wide column">
            <div class="ui top attached segment stackable">
                <h3 class="m-margin-top m-margin-bottom m-margin-left"
                    style="font-size: 20px !important;color: #3d3d3d !important;">
                    修改邮箱</h3>
                <div class="ui divider"></div>
                <div class="m-margin-left-large">
                    <div id="phone" class="ui input m-margin-top" style="width: 62% !important;">
                        <span class="m-margin-top">输入新邮箱：</span>
                        <input id="new_phone" type="email"/>
                        <span id="error" class="m-margin-left m-margin-top"></span>
                    </div>
                    <br/>
                    <br/>
                    <div class="ui action  fluid input" style="width: 60% !important;">
                        <span class="m-margin-top">填写验证码：</span>
                        <input id="confirm_code" type="password" />
                        <button id="code_btn" class="ui disabled mini button">获取验证码</button>
                    </div>
                    <br/>

                    <br/>
                    <button id="firm_btn"  class="ui tiny disabled button m-margin-left-middle">
                        下一步
                    </button>

                </div>
                <div style="padding-bottom: 12em !important;"></div>
            </div>
        </div>
    </div>
</div>


<div style="height: 10em"></div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>

</body>
<script type="text/javascript">

    $(document).ready(function () {
        toggleStatus();
    });

    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if(user!=null){
            $('#header-images').show();
            $('#login-btn').hide();
        }else{
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus,100);
    }

    <!--退出操作异步请求-->
    $('#logout').click(function () {
        $.ajax({
            url: "/user/logout",
            method: "GET",
            sync: true,
            data: {userId: $('#userId').val()},
            dataType: "text",
            success: function (result) {
                if (result == "OK") {
                    sessionStorage.removeItem("user");
                    $("#login-btn").show();
                    $('#header-images').hide();
                }
            },
            error: function () {
                alert("服务异常，请重试！")
            }
        });
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--控制头像的显示-->
<script>
    $(document).ready(function () {
        toggleStatus();
    });

    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if(user!=null){
            $('#header-images').show();
            $('#login-btn').hide();
        }else{
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus,100);
    }
</script>
<!--控制按钮的禁用和可用状态-->
<script type="text/javascript">

    $("#new_phone").click(function () {
        function changePhone() {
            var new_phone=document.getElementById("new_phone").value;
            var len2=document.getElementById("confirm_code").value.length;
            if(isMobileNumber(new_phone)){
                $('#code_btn').removeClass("disabled");
                $('#error').html("");
                $('#phone').css("width","62%");
                if(len2!=0) {
                    $('#firm_btn').removeClass("disabled");
                    $('#firm_btn').css("background-color", "#ca0c16");
                    $('#firm_btn').css("color", "#ffffff");
                }
            }else{
                //手机号没填对就不让获得验证码
                $('#code_btn').addClass("disabled");
            }
            if(len2==0) {
                $('#firm_btn').addClass("disabled");
                $('#firm_btn').css("background-color", "#E0E1E2");
                $('#firm_btn').css("color", "#000000");
            }
        }
        setInterval(changePhone, 300);
    });



    function isMobileNumber(mail) {
        var flag = false;
        var message = "";
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if (!myreg.test(mail)) {
            message = "请输入有效的邮箱！";
        } else {
            flag = true;
        }
        if (message != "") {
            $('#error').html(message);
            $('#error').css("color","#ca0c16");
            $('#phone').css("width","81%");
        }
        return flag;
    }

</script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('#searchBar').click(function () {
        $('#reloadSearchBar').css("display", "block");  //显示div
    })

</script>
</html>