<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账号设置-账号注销 - EasyBlog博客</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../../static/css/me.css" th:href="@{/static/css/me.css}">
</head>
<body>

<!--导航-->
<div th:replace="~{nav :: navbar}"></div>


<!--中间内容-->
<div class="ui m-container m-padded-tb-big stackable">
    <div class="ui stackable grid">
        <div class="one wide column"></div>
        <!--左侧菜单栏-->
        <div th:replace="~{account-setting-sidebar::sidebar}"></div>
        <!--博客内容-->
        <div class="twelve wide column">
            <div class="ui top attached segment stackable">
                <h3 class="m-margin-top m-margin-bottom m-margin-left"
                    style="font-size: 20px !important;color: #3d3d3d !important;">
                    账号注销</h3>
                <div class="ui divider"></div>
                <div style="padding-top: 2em !important;" class="m-margin-left-large">
                    <div style="color: red">
                        <span>温馨提示：账户注销后您在EasyBlog平台上的所有信息将会被全部删除。<br/>
                            如果您确定要注销账户，为了保护您的账安全，请输入账户密码。</span><br/>
                    </div>
                    <br/>
                    <div class="ui fluid input" style="width: 60% !important;">
                        <span class="m-margin-top">填写密码：</span>
                        <input id="code" type="password"/>
                    </div>
                    <br/>
                    <br/>
                    <button id="firm_btn" class="ui red medium disabled button m-margin-left-middle">
                        立即注销
                    </button>

                </div>
                <div style="padding-bottom: 12em !important;"></div>
            </div>
        </div>
    </div>
</div>
<div id="model1" class="ui small modal">
    <div class="header" id="msg_header">删除</div>
    <div id="msg" class="content">
    </div>
    <div class="actions">
        <div id="msg-btn" class="ui red button">知道了</div>
    </div>
</div>


<div style="height: 10em"></div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('#msg-btn').click(function () {
        $('.ui.modal').modal('hide');
    });
    $('#firm_btn').click(function () {
        $.ajax({
            url: "/manage/account/destroy",
            method: 'GET',
            sync: true,
            data: {password: $('#code').val()},
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    window.location.href = "/user/loginPage";
                } else {
                    $('#msg_header').html("删除账户");
                    $('#msg').html(response.msg);
                    $('.ui.modal').modal('show');
                }
            },
            error: function () {
                $('#msg_header').css("color", "red").html("错误");
                $('#msg').css("color", "red").html("抱歉！服务异常，请重试!");
                $('.ui.modal').modal('show');
            }
        });
    })
</script>
<!--控制头像的显示-->
<script type="text/javascript">

    $(document).ready(function () {
        toggleStatus();
    });

    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if (user != null) {
            $('#header-images').show();
            $('#login-btn').hide();
        } else {
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus, 300);
    }

    <!--退出操作异步请求-->
    $('#logout').click(function () {
        $.ajax({
            url: "/user/logout",
            method: "GET",
            sync: true,
            data: {userId: $('#userId').val()},
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    sessionStorage.removeItem("user");
                    window.location.href = "/user/loginPage";
                }
            },
            error: function () {
                alert("服务异常，请重试！")
            }
        });
    });

</script>
<script>
    $('#account5').css("background", '#ca0c16');
    $('#account5').css('color', '#ffffff')
</script>
<!--控制按钮的禁用和可用状态-->
<script type="text/javascript">
    $(function () {
        function changePwd() {
            var len1 = document.getElementById("code").value.length;
            if (len1 != 0) {
                $('#firm_btn').removeClass("disabled");
                $('#firm_btn').css("background-color", "#ca0c16");
                $('#firm_btn').css("color", "#ffffff");
            } else {
                $('#firm_btn').addClass("disabled");
                $('#firm_btn').css("background-color", "#E0E1E2");
                $('#firm_btn').css("color", "#000000");
            }
        }

        setInterval(changePwd, 300);
    });

</script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('#searchBar').click(function () {
        $('#reloadSearchBar').css("display", "block");  //显示div
    })

</script>
</html>