<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>账号设置-修改密码 - EasyBlog博客</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../../static/css/me.css" th:href="@{/static/css/me.css}">
    <script src="../static/js/spop.js" th:src="@{/static/js/spop.js}"></script>
    <link rel="stylesheet" href="../static/css/spop.css" th:href="@{/static/css/spop.css}">
</head>
<body>

<!--导航-->
<div th:replace="~{nav :: navbar}"></div>


<!--中间内容-->
<div class="ui m-container m-padded-tb-big stackable">
    <div class="ui stackable grid">
        <div class="one wide column"></div>
        <!--左侧菜单栏-->
        <div th:replace="~{account-setting-sidebar::sidebar}"></div>
        <!--博客内容-->
        <div class="twelve wide column">
            <form  class="ui form top attached segment stackable">
                <h3   class="m-margin-top m-margin-bottom m-margin-left"
                    style="font-size: 20px !important;color: #3d3d3d !important;">
                    修改密码</h3>
                <div class="ui divider"></div>
                <div class="m-margin-left-large " style="padding-top: 3em !important;">
                    <div class="ui fluid input" style="width: 50% !important;">
                        <span class="m-margin-top">输入旧密码：</span>
                        <input id="oldpwd" name="oldPWD" type="password" placeholder="请输入旧密码"/>
                    </div>
                    <br/>
                    <div class="ui fluid input m-mobile-wide-pwdBar" style="width: 50% !important;">
                        <span class="m-margin-top">输入新密码：</span>
                        <input id="newpwd" name="newPWD" type="password" placeholder="11-20位数字和字母组合"/>
                    </div>
                    <br/>
                    <div class="ui fluid input m-mobile-wide-pwdBar" style="width: 50% !important;">
                        <span class="m-margin-top">确认新密码：</span>
                        <input id="newpwdconfirm" name="newPWDConfirm" type="password" placeholder="请确认新密码"/>
                    </div>
                    <br/>
                    <button type="button" id="firm_btn"  class="ui medium disabled button m-margin-left-middle">
                        确认
                    </button>
                </div>
                <div style="padding-bottom: 12em !important;"></div>
            </form>
        </div>
    </div>
</div>
<div  class="ui small modal">
    <div class="header" id="msg_header">删除</div>
    <div id="msg" class="content">
    </div>
    <div class="actions">
        <div id="msg-btn" class="ui red button">知道了</div>
    </div>
</div>

<div style="height: 10em"></div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/js/me.js" th:src="@{/static/js/me.js}"></script>
<script>
    $(document).ready(function () {
        if (detectZoom() != 125) {
            spop({
                template: '您当前的页面处于缩放，页面可能会错乱，建议缩放比例100%',
                autoclose: 4000,
                position: "top-center",
                style: 'info',
            });
        }
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        toggleStatus();
    });

    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if(user!=null){
            $('#header-images').show();
            $('#login-btn').hide();
        }else{
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus,300);
    }

    <!--退出操作异步请求-->
    $('#logout').click(function () {
        $.ajax({
            url: "/user/logout",
            method: "GET",
            sync: true,
            data: {userId: $('#userId').val()},
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    sessionStorage.removeItem("user");
                    window.location.href="/user/loginPage";
                }
            },
            error: function () {
                spop({
                    template: '服务异常，请重试！',
                    autoclose: 4000,
                    position: "top-center",
                    style: 'error',
                });
            }
        });
    });

</script>
<script>
    $('#msg-btn').click(function () {
        $('.ui.modal').modal('hide');
    });
    $('#firm_btn').click(function () {
        $('#firm_btn').addClass("disabled");
        var oldPWD=$('#oldpwd').val();
        var newPWD=$('#newpwd').val();
        var newPWDConfirm=$('#newpwdconfirm').val();
        $.ajax({
            url:"/manage/account/reset/password/save",
            method:"GET",
            sync: true,
            data:{oldPwd:oldPWD,newPwd:newPWD,newPwdConfirm:newPWDConfirm},
            dateType: "json",
            success:function (response) {
                if(response.success){
                    $.ajax({
                        url:"/user/logout",
                        method:"GET",
                        sync:true,
                        dataType:"json",
                        success:function (response) {
                            if(response.success){
                                window.location.href="/user/loginPage";
                            }else{
                                spop({
                                    template: response.msg,
                                    autoclose: 4000,
                                    position: "top-center",
                                    style: 'error',
                                });
                            }
                        },
                        error:function () {
                            spop({
                                template: '服务异常，请重试！',
                                autoclose: 4000,
                                position: "top-center",
                                style: 'error',
                            });
                        }
                    })
                }else{
                    spop({
                        template: response.msg,
                        autoclose: 4000,
                        position: "top-center",
                        style: 'error',
                    });
                }
            },
            error:function () {
                spop({
                    template: '服务异常，请重试！',
                    autoclose: 4000,
                    position: "top-center",
                    style: 'error',
                });
            }
        })
    })
</script>
<script>
    $('#account1').css("background",'#ca0c16');
    $('#account1').css('color','#ffffff')
</script>
<!--控制按钮的禁用和可用状态-->
<script type="text/javascript">
    $(function () {
        function changePwd() {
            var len1=document.getElementById("oldpwd").value.length;
            var len2=document.getElementById("newpwd").value.length;
            var len3=document.getElementById("newpwdconfirm").value.length;
            if(len1!=0&&len2!=0&&len3!=0){
                $('#firm_btn').removeClass("disabled");
                $('#firm_btn').css("background-color","#ca0c16");
                $('#firm_btn').css("color","#ffffff");
            }else{
                $('#firm_btn').addClass("disabled");
                $('#firm_btn').css("background-color","#E0E1E2");
                $('#firm_btn').css("color","#000000");
            }
        }
        setInterval(changePwd, 300);
    });

</script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('#searchBar').click(function () {
        $('#reloadSearchBar').css("display", "block");  //显示div
    })

</script>
</html>