<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类专栏管理 - EasyBlog博客</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../../css/me.css" th:href="@{/static/css/me.css}">
</head>
<body>

<!--导航-->
<div th:replace="~{nav :: navbar}"></div>


<!--中间内容-->
<div class="ui m-container m-padded-tb-big stackable">
    <div class="ui stackable grid">
        <!--侧边栏-->
        <div th:replace="~{manage-sidebar::manage}"></div>
        <!--博客内容-->
        <div class="thirteen wide column">
            <!--header-->
            <div class="ui top attached segment " style="border-bottom: none !important;padding-bottom: 0 !important;">
                <div class="ui stackable grid">
                    <div class="four column row" style="padding-bottom: 0 !important;padding-left: 1.13rem !important;">
                        <div class="left floated column">
                            <a style="color:#bbbbbb;font-size: 1rem !important;" href="#" th:href="@{/manage/category/list}">< 返回分类专栏</a>
                        </div>
                    </div>
                      <div class="row" style="padding-left: 2rem !important;">
                        <div class="ui form">
                            <div class="inline field">
                                <label style="color: #4f4f4f;font-size: 14px !important;">分类专栏名称：</label>
                                <input id="category-name" name="categoryName" type="text" style="width: 340px !important;" th:value="${category.getCategoryName()}" placeholder="请输入分类专栏名称">
                                <span hidden="hidden" id="category-name-msg" style="color: #C92027 !important;margin-left: 10px !important;">不可为空</span>
                            </div>
                        </div>
                    </div>
                      <div class="row" style="padding-left: 2rem !important;">
                        <div class="ui form">
                            <div class="inline  field">
                                <label style="color: #4f4f4f;font-size: 14px !important;">分类专栏简介：</label>
                                <textarea id="categoryDesc" name="categoryDesc" style="width: 340px !important;" rows="5" placeholder="输入分类专栏简介" th:text="${category.getCategoryDescription()}"></textarea>
                            </div>
                        </div>
                    </div>
                      <div class="row" style="padding-left: 2rem !important;">
                        <form id="images" class="ui form" method="post" th:action="@{/upload/images(categoryId=${category.getCategoryId()})}" enctype="multipart/form-data">
                            <div class="inline  field">
                                <label style="color: #4f4f4f;font-size: 14px !important;">分类专栏配图：</label>
                               <input id="categoryImgUrl"  name="file"  th:value="${category.getCategoryImageUrl()}" style="position:absolute;opacity:0;height: 120px !important;padding: 0 !important;" onchange="show(this)" accept="image/*" type="file"/>
                               <img id="pre-look" style="width: 306px;height: 120px;" src="" th:src="${category.getCategoryImageUrl()}">
                            </div>
                        </form>
                    </div>
                      <div class="row" style="padding-left: 2rem !important;">
                        <button id="add-btn" class="medium  ui basic red button" style="margin-left: 8rem !important;">
                            提交
                        </button>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment " style="height: 30em "></div>
        </div>
    </div>
</div>


<div style="height: 10em"></div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>

</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('#add-btn').mouseenter(function () {
        $('#add-btn').removeClass("basic");
    })
    $('#add-btn').mouseleave(function () {
        $('#add-btn').addClass("basic");
    })
</script>

<script type="text/javascript">

    $(document).ready(function () {
        toggleStatus();
    });

    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if (user != null) {
            $('#header-images').show();
            $('#login-btn').hide();
        } else {
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus, 500);
    }

    <!--退出操作异步请求-->
    $('#logout').click(function () {
        $.ajax({
            url: "/user/logout",
            method: "GET",
            sync: true,
            data: {userId: $('#userId').val()},
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    sessionStorage.removeItem("user");
                    window.location.href = "/user/loginPage";
                }
            },
            error: function () {
                alert("服务异常，请重试！")
            }
        });
    });
</script>

<script th:inline="javascript">
    $(document).ready(function () {
        var url = window.location.href;
        console.log("location:" + url);
    });

    $('#add-btn').click(function () {
        var categoryName=$('#category-name').val();
        var categoryDesc=$('#categoryDesc').val();
        var categoryImgUrl=$('#categoryImgUrl').attr("value");
        $('#images').submit();
        console.log(categoryName+" "+categoryDesc+" "+categoryImgUrl);
        $.ajax({
            url:"/manage/category/saveEdit/"+[[${category.getCategoryId()}]],
            method:"GET",
            sync:true,
            data:{categoryName:categoryName,categoryDesc:categoryDesc,categoryImgUrl:categoryImgUrl},
            dataType:"json",
            success:function (response) {
                if(response.success){
                    window.location.href="/manage/category/list";
                }else{
                    alert(response.msg)
                }
            },
            error:function () {
                alert("服务异常，请重试！")
            }
        })
    })

</script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('#searchBar').click(function () {
        $('#reloadSearchBar').css("display", "block");  //显示div
    });

</script>
<script>
    $('#add-btn').mouseenter(function () {
        $('#add-btn').removeClass("basic");
    });
    $('#add-btn').mouseleave(function () {
        $('#add-btn').addClass("basic");
    });
    $('#add-btn').click(function () {
        var str=$('#category-name').val();
        if(""==str||null==str){
            $('#category-name-msg').show();
        }else{
            $('#category-name-msg').hide();
        }
    })
</script>
<script>
    function show(obj) {
        var rd = new FileReader(); //创建文件读取对象
        var files = obj.files[0];  //获取file组件中的文件
        rd.readAsDataURL(files);   //文件读取装换为base64类型
        rd.onloadend = function(e) {
            //加载完毕之后获取结果赋值给img
            $('#pre-look').height(120);
            $('#pre-look').width(120);
            document.getElementById("pre-look").src = this.result;
        };

       /* var path = $("#categoryImgUrl").val(); //获取上传的图片路径
        var var1 = path.split('\\'); //分割
        var originalPicName = var1[var1.length - 1]; //去掉 // 获取图片名
        var suffix = originalPicName.lastIndexOf('.'); //获取 . 出现的位置
        var ext = originalPicName.substring(suffix, originalPicName.length).toUpperCase(); //切割 . 获取文件后缀
        var file = $('#categoryImgUrl').get(0).files[0]; //获取上传的文件
        var maxSize = 1048576*5;
        console.log(path+" "+var1+" "+originalPicName+" "+ext+" "+file);
        if (ext !== '.PNG' && ext !== '.JPG' && ext !== '.JPEG' && ext !== '.BMP') {
            alert('文件类型错误,请上传图片类型');
            return false;
        } else if (parseInt(file.size) >= parseInt(maxSize)) {
            alert('上传的文件不能超过5MB');
            return false;
        } else {
            //上传请求
            var formData = new FormData();
            formData.append("file", file);
            $.ajax({
                url: "/upload/images",
                method: "POST",
                sync:true,
                data : {file:formData},
                dataType: "json",
                success : function(response) {
                    if (response.success) {
                        $("#ti").attr("src", data.data);
                        $("#header").val(data.data);
                        location.reload();
                        alert("修改专栏图片成功！");
                    }else{
                        alert("修改专栏图片失败");
                    }
                },
                error : function() {
                    alert("修改专栏图片失败");
                }
            });
        }*/

    }
</script>
<script>
    $('#side-bnt5').css("background","#DB2828");
    $('#side-bnt5').css("color","#ffffff");
</script>
</html>