<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类专栏管理 - EasyBlog博客</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../../css/me.css" th:href="@{/static/css/me.css}">
</head>
<body>

<!--导航-->
<div th:replace="~{nav :: navbar}"></div>


<!--中间内容-->
<div class="ui m-container m-padded-tb-big stackable">
    <div class="ui stackable grid">
        <!--侧边栏-->
        <div th:replace="~{manage-sidebar::manage}"></div>
        <!--博客内容-->
        <div class="thirteen wide column">
            <!--header-->
            <div class="ui top attached segment " style="border-bottom: none !important;padding-bottom: 0 !important;">
                <div class="ui stackable grid">
                    <div class="four column row" style="padding-bottom: 0 !important;">
                        <div class="left floated column">
                            <h3>分类专栏</h3>
                        </div>
                        <div class="right floated column">
                            <button id="add-btn" class="ui right floated small basic red button">
                                <a href="#" style="color: inherit"  th:href="@{/manage/category/add}">新建</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="ui top attached segment stackable"
                     style="border-top: none !important;border-left: none !important;border-right: none !important;">
                    <div class="ui grid">
                        <div class="row" style="padding-top: 10px !important;padding-bottom: 10px !important;">
                            <div class="two wide column" style="padding-right: 0 !important;">
                                <a id="all" href="#" th:href="@{/manage/category/list}" class="m-black"
                                   style="color:#349EDF !important;font-size: 1.1rem !important;">全部(<span
                                        th:text="${visibleCategoryNum}">1</span>)</a>
                            </div>
                            <div class="two wide column"
                                 style="padding-right: 0 !important;padding-left: 0 !important;">
                                <a id="public" href="#" th:href="@{/manage/category/dash}"
                                   style="font-size: 1.1rem !important;" class="m-black"><i
                                        class="trash alternate outline icon"></i>回收站(<span th:text="${deletedCategoryNum}">1</span>)</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui top attached segment stackable"
                     style="border-top: none !important;border-left: none !important;border-right: none !important;">
                    <div class="ui grid">
                        <div class="row" style="padding-top: 0 !important;padding-bottom: 0 !important;">
                            <div class="ten wide column" style="padding-right: 0 !important;">
                                <span class="m-black"
                                      style="color:grey !important;font-size: 1.1rem !important;">类别</span>
                            </div>
                            <div class="two wide column" style="padding-right: 0 !important;"><span class="m-black"
                                                                                                    style="color:grey !important;font-size: 1.1rem !important;">操作</span>
                            </div>
                            <div class="two wide column" style="padding-right: 0 !important;"><span class="m-black"
                                                                                                    style="color:grey !important;font-size: 1.1rem !important;">前台是否显示</span>
                            </div>
                            <div class="two wide column" style="padding-right: 0 !important;">
                                <span class="m-black"
                                      style="color:grey !important;font-size: 1.1rem !important;">文章数</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--content-->
            <div class="ui attached segment  stackable" style="border-bottom: none !important;">
                <div class="ui grid">
                    <div th:if="${!#lists.isEmpty(categories)}" th:each="category:${categories}" class="ui row attached segment bottom"  style="border-top: none !important;border-right:none !important;padding-top: 1.5rem !important;padding-bottom: 1.5rem !important;">
                        <div class="four wide column">
                            <img class="ui middle aligned image image-50x50" style="max-height: none !important;"
                                 th:src="${category.getCategoryImageUrl()}"
                                 src="https://img-blog.csdnimg.cn/20190918140037908.png">
                            <span style="margin-left: 1rem" th:text="${category.getCategoryName()}">Redis</span>
                        </div>
                        <div class="six wide column right aligned" style="padding-right: 0 !important;">
                            <div style="padding-top: 15px !important;">
                              <a href="#" th:href="@{/category/details/}+${category.getCategoryId()}+@{/}+${userId}" style="color:#349EDF !important;">查看</a>
                            </div>
                        </div>
                        <div class="one wide column center aligned" style="padding-left: 0 !important;padding-right: 0 !important;">
                            <div style="padding-top: 15px !important;">
                              <a href="#" th:href="@{/manage/category/edit(categoryId=${category.getCategoryId()})}" style="color:#349EDF !important;">编辑</a>
                            </div>
                        </div>
                        <div class="one wide column left aligned" style="padding-left: 0 !important;">
                            <div style="padding-top: 15px !important;">
                              <a href="#" th:href="@{/manage/category/delete(categoryId=${category.getCategoryId()})}" style="color:#B50C13 !important;">删除</a>
                            </div>
                        </div>
                        <div class="two wide column center aligned">
                            <div class="column m-inline-block" style="padding-top: 10px !important;">
                                <div class="ui test toggle checkbox">
                                    <input onclick="changeDisplayOrNot(this)" th:id="checkbox+${category.getCategoryId()}" th:value="${category.getCategoryId()}" type="checkbox" th:checked="${category.display=='1'}" checked="checked">
                                    <label></label>
                                </div>
                            </div>
                        </div>
                        <div class="one wide column center aligned">
                            <div style="padding-top: 15px !important;">
                              <a href="#" style="color: black !important;padding-top: 10px !important;">
                                 <span th:text="${category.getCategoryArticleNum()}">0</span>
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui bottom attached segment " th:if="${#lists.size(categories)==0}"
                 style="margin: 0 auto !important;">
                <div style="padding: 5em 29rem 10em 29rem!important;">
                    <div style="padding-bottom: 1em !important;padding-left: 2.9898em !important;color: grey !important;font-size: 14px !important;">
                        您没有还任何分类
                    </div>
                    <a th:href="@{/manage/category/add}" target style="color: #FFFFFF !important;">
                        <button class="red fluid ui button">新建分类</button>
                    </a>
                </div>
            </div>
            <!--分页按钮-->
            <div th:if="${#lists.size(categories)>10}" class="ui bottom attached segment ">
                <div class="ui middle aligned two column grid"
                     style="padding-top: 0 !important;padding-bottom: 0 !important;">
                    <div class="column" style="padding-top: 0 !important;padding-bottom: 0 !important;">
                        <a href="#" class="ui mini teal basic button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini teal basic button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<div style="height: 16em"></div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>

</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('')
</script>
<script>
    function changeDisplayOrNot(obj) {
        var categoryId=$(obj).val();
        var status=$(obj).is(":checked");
        if(status){
            //改为显示
            $.ajax({
                url: "/manage/category/changeDisplay",
                sync:true,
                method:"GET",
                data:{categoryId:categoryId,displayStatus:"1"},
                dataType:"json",
                success:function (response) {
                    if(!response.success){
                        alert("抱歉，服务异常，请重试！");
                    }
                },
                error:function () {
                   alert("抱歉，服务异常，请重试！");
                }
            })
        }else{
            //改为不显示
            $.ajax({
                url: "/manage/category/changeDisplay",
                sync:true,
                method:"GET",
                data:{categoryId:categoryId,displayStatus:"0"},
                dataType:"json",
                success:function (response) {
                    if(!response.success){
                        alert("抱歉，服务异常，请重试！");
                    }
                },
                error:function () {
                    alert("抱歉，服务异常，请重试！");
                }
            })
        }
    }
</script>
<script>
    $('#add-btn').mouseenter(function () {
        $('#add-btn').removeClass("basic");
    })
    $('#add-btn').mouseleave(function () {
        $('#add-btn').addClass("basic");
    })
</script>
<script type="text/javascript">

    $(document).ready(function () {
        toggleStatus();
    });

    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if (user != null) {
            $('#header-images').show();
            $('#login-btn').hide();
        } else {
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus, 500);
    }

    <!--退出操作异步请求-->
    $('#logout').click(function () {
        $.ajax({
            url: "/user/logout",
            method: "GET",
            sync: true,
            data: {userId: $('#userId').val()},
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    sessionStorage.removeItem("user");
                    window.location.href = "/user/loginPage";
                }
            },
            error: function () {
                alert("服务异常，请重试！")
            }
        });
    });

</script>
<script>
    $(document).ready(function () {
        var url = window.location.pathname;
        console.log("location:" + url);
    })

</script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
<script>
    $('#side-bnt5').css("background", "#DB2828");
    $('#side-bnt5').css("color", "#ffffff");
</script>
</html>