<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>404 - EasyBlog博客</title>

    <link rel="stylesheet" href="../css/4.css" th:href="@{/static/css/4.css}">
</head>
<body>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="main">
    <h1>404</h1>
    <p>您在EasyBlog迷路了！</p>
    <a href="#" th:href="@{/}" style="color: #00c4ff;text-decoration: none">返回我的首页</a>
</div>
</body>
</html>
