<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章管理 - EasyBlog博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../css/me.css">
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">EasyBlog</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon"></i>博客</a>
            <!-- <a href="#" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
             <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>-->
            <!--搜索框--->
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted search input m-margin-tb-tiny">
                    <input class="prompt" type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
            <!--我的头像-->
            <div class="right m-item m-mobile-hide menu " style="margin-left: 1em !important;">
                <div class="ui dropdown  item ">
                    <div class="text">
                        <img class="ui medium circular image image-42x42" style="max-height: none !important;"
                             src="http://hbimg.b0.upaiyun.com/1f20743f57decb129f4563314eafca4f83f7a18d105ac-xpHDBI_fw658">
                    </div>
                    <div class="menu">
                        <a href="#" class="item"><i class="bookmark icon"></i>我的关注</a>
                        <!--<a href="#" class="item"><i class="star icon"></i>我的收藏</a>-->
                        <a href="#" class="item"><i class="user icon"></i>个人中心</a>
                        <a href="#" class="item"><i class="cogs icon"></i>账号设置</a>
                        <div class="divider"></div>
                        <a href="#" class="item"><i class="archive icon"></i>我的博客</a>
                        <a href="#" class="item"><i class="edit icon"></i>管理博客</a>
                        <div class="divider"></div>
                        <a href="#" class="item"><i class="basic question  circle icon"></i>帮助</a>
                        <a href="#" class="item"><i class="power offs icon"></i>注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--中间内容-->
<div class="ui m-container m-padded-tb-big stackable">
    <div class="ui stackable grid">
        <!--左侧查单栏-->
        <div class="three wide column">

            <!--菜单栏-->
            <div class="ui segments " >
                <div id="side-bnt1" class="ui segment border-bt-none m-a-bg-hover">
                    <a href="#" target="_blank" class="m-black m-text-thin m-text-spaced m-a-bg-hover" style="font-size: 14px !important;padding-left: 20% !important;"><i class="pencil alternate icon"></i>MarkDown编辑器</a>
                </div>
                <div   class="ui divider" style="margin-bottom: 0 !important;margin-top: 0 !important;" ></div>

                <div id="side-bnt2"  class="ui segment border-bt-none m-a-bg-hover">
                    <a href="../personalInfo/personal-center.html" target="_blank" class="m-black m-text-thin m-text-spaced m-a-bg-hover" style="font-size: 14px !important;padding-left: 20% !important;"><i class="home icon"></i>查看主页</a>
                </div>
                <div class="ui divider" style="margin-bottom: 0 !important;margin-top: 0 !important;" ></div>
                <div id="side-bnt3"  class="ui segment border-bt-none m-a-bg-hover">
                    <a href="#" target="_blank" class="m-black m-text-thin m-text-spaced m-a-bg-hover" style="font-size: 14px !important;padding-left: 20% !important;"><i class="folder open outline icon"></i>文章管理</a>
                </div>
                <div class="ui divider" style="margin-bottom: 0 !important;margin-top: 0 !important;" ></div>
                <div  id="side-bnt4" class="ui segment border-bt-none m-a-bg-hover">
                    <a href="#" target="_blank" class="m-black m-text-thin m-text-spaced m-a-bg-hover" style="font-size: 14px !important;padding-left: 20% !important;"><i class="talk icon"></i>评论管理</a>
                </div>
                <div class="ui divider" style="margin-bottom: 0 !important;margin-top: 0 !important;" ></div>
                <div  id="side-bnt5"  class="ui segment border-bt-none m-a-bg-hover">
                    <a href="#" target="_blank" class="m-black m-text-thin m-text-spaced m-a-bg-hover" style="font-size: 14px !important;padding-left:20% !important;"><i class="mini idea icon"></i>分类专栏</a>
                </div>
            </div>

            <!--二维码-->
            <h4 class="ui horizontal divider header m-margin-top-large" >扫码关注我</h4>
            <div class="ui centered card" style="width: 11em">
                <img src="../../images/wechat.jpg" alt="" class="ui rounded image">
            </div>
        </div>
        <!--博客内容-->
        <div class="thirteen wide column">

            <!--header-->
            <div class="ui top attached segment stackable">
                <div class="ui grid">
                    <div class="row" style="padding-top: 2em !important;padding-bottom: 1.5em !important;">
                        <div class="two wide column" style="padding-right: 0 !important;"><a href="#" class="m-black" style="color:#349EDF !important;">全部(1)</a></div>
                        <div class="two wide column" style="padding-right: 0 !important;padding-left: 0 !important;"><a href="#" class="m-black">公开(0)</a></div>
                        <div class="two wide column" style="padding-right: 0 !important;padding-left: 0 !important;"><a href="#" class="m-black">私有(1)</a></div>
                        <div class="two wide column" style="padding-right: 0 !important;padding-left: 0 !important;"><a href="#" class="m-black" >草稿箱(1)</a></div>
                        <div class="two wide column" style="padding-right: 0 !important;padding-left: 0 !important;"><a href="#" class="m-black"><i
                                class="trash alternate outline icon"></i>回收站(1)</a></div>
                    </div>
                </div>
            </div>

            <!--条件查询表单-->
            <form action="#" method="post" class="ui attached segment form" style="background-color: #f2f5f7">
                <div class="inline fields stackable">
                    <span class="m-black m-inline-block m-mobile-hide">筛选：</span>
                    <!--年-->
                    <div class="field">
                        <div class="ui selection dropdown compact m-mobile-wide-selectBar-calender">
                            <input type="hidden" name="type">
                            <i class="dropdown icon"></i>
                            <div class="default text">年</div>
                            <div class="menu compact">
                                <div class="text item" data-value="0">不限</div>
                                <div class="item" data-value="1">2019</div>
                                <div class="item" data-value="2">2018</div>
                                <div class="item" data-value="3">2017</div>
                            </div>
                        </div>
                    </div>
                    <!--月-->
                    <div class="field">
                        <div class="ui selection dropdown compact m-mobile-wide-selectBar-calender">
                            <input type="hidden" name="type">
                            <i class="dropdown icon"></i>
                            <div class="default text">月</div>
                            <div class="menu compact">
                                <div class="text item" data-value="0">不限</div>
                                <div class="item" data-value="1">9</div>
                                <div class="item" data-value="2">8</div>
                                <div class="item" data-value="3">7</div>
                            </div>
                        </div>
                    </div>
                    <!--文章类型-->
                    <div class="field">
                        <div class="ui selection dropdown m-mobile-wide-selectBar" style="max-width: 30px !important;">
                            <input type="hidden" name="type">
                            <i class="dropdown icon"></i>
                            <div class="default text">文章类型</div>
                            <div class="menu">
                                <div class="item" data-value="0">不限</div>
                                <div class="item" data-value="1">原创</div>
                                <div class="item" data-value="2">转载</div>
                                <div class="item" data-value="3">翻译</div>
                            </div>
                        </div>
                    </div>
                    <!--分类-->
                    <div class="field">
                        <div class="ui selection dropdown m-mobile-wide-selectBar" style="max-width: 30px !important;">
                            <input type="hidden" name="type">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类专栏</div>
                            <div class="menu">
                                <div class="item" data-value="0">不限</div>
                                <div class="item" data-value="1">SpringBoot</div>
                                <div class="item" data-value="2">Java</div>
                                <div class="item" data-value="3">MySQL</div>
                            </div>
                        </div>
                    </div>
                    <!--文章标题-->
                    <div class="field">
                        <input class="m-mobile-wide-selectBar" type="text" name="title" placeholder="标题">
                    </div>
                    <div id="searchBar" class="field m-mobile-wide-selectBar">
                        <button class="ui tiny red  button"><i class="search icon"></i>搜索</button>
                    </div>
                </div>
                <!--点击搜索按钮后弹出来的选择框-->
                <div id="reloadSearchBar" class="inline fields m-margin-top-large"
                     style="margin-bottom: 5px !important;display: none !important;">
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="frequency" checked="checked">
                                <label>全部</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="frequency">
                                <label>只显示已发布文章</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="frequency">
                                <label>只显示私密文章</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="frequency">
                                <label>只显示草稿</label>
                            </div>
                        </div>
                        <a href="blog-manage.html" style="margin-left: 25em !important;">重置搜索</a>
                    </div>
                </div>
            </form>

            <!--content-->
            <div class="ui attached segment border-bt-none">
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear border-dashed"
                     style="padding-bottom: 20px !important;padding-top: 10px !important;">
                    <div class="ui mobile reversed stackable grid">
                        <div class="sixteen wide column">
                            <button class="ui mini red basic button  m-inline-block ">
                                原创
                            </button>
                            <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">
                                <a href="#" class="m-black">你真的理解什么是财富自由吗？</a></h3>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="http://hbimg.b0.upaiyun.com/1f20743f57decb129f4563314eafca4f83f7a18d105ac-xpHDBI_fw658"
                                                 alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2017-10-01 16:35:39
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 2342
                                        </div>
                                        <div class="item">
                                            <i class="comment alternate icon"></i> 2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <div class="five  wide  column">
                                        <div class="ui horizontal list">
                                            <div class="item"><a href="#" style="color: #349EDF">查看</a></div>
                                            <div class="item"><a href="#" style="color: #CA0C16">删除</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear border-dashed"
                     style="padding-bottom: 20px !important;padding-top: 10px !important;">
                    <div class="ui mobile reversed stackable grid">
                        <div class="sixteen wide column">
                            <button class="ui mini red basic button  m-inline-block ">
                                原创
                            </button>
                            <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">
                                <a href="#" class="m-black">你真的理解什么是财富自由吗？</a></h3>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="http://hbimg.b0.upaiyun.com/1f20743f57decb129f4563314eafca4f83f7a18d105ac-xpHDBI_fw658"
                                                 alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2017-10-01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 2342
                                        </div>
                                        <div class="item">
                                            <i class="comment alternate icon"></i> 2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <div class="five  wide  column">
                                        <div class="ui horizontal list">
                                            <div class="item"><a href="#" style="color: #349EDF">查看</a></div>
                                            <div class="item"><a href="#" style="color: #CA0C16">删除</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear border-dashed"
                     style="padding-bottom: 20px !important;padding-top: 10px !important;">
                    <div class="ui mobile reversed stackable grid">
                        <div class="sixteen wide column">
                            <button class="ui mini red basic button  m-inline-block ">
                                原创
                            </button>
                            <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">
                                <a href="#" class="m-black">你真的理解什么是财富自由吗？</a></h3>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="http://hbimg.b0.upaiyun.com/1f20743f57decb129f4563314eafca4f83f7a18d105ac-xpHDBI_fw658"
                                                 alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2017-10-01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 2342
                                        </div>
                                        <div class="item">
                                            <i class="comment alternate icon"></i> 2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <div class="five  wide  column">
                                        <div class="ui horizontal list">
                                            <div class="item"><a href="#" style="color: #349EDF">查看</a></div>
                                            <div class="item"><a href="#" style="color: #CA0C16">删除</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear border-dashed"
                     style="padding-bottom: 20px !important;padding-top: 10px !important;">
                    <div class="ui mobile reversed stackable grid">
                        <div class="sixteen wide column">
                            <button class="ui mini red basic button  m-inline-block ">
                                原创
                            </button>
                            <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">
                                <a href="#" class="m-black">你真的理解什么是财富自由吗？</a></h3>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="http://hbimg.b0.upaiyun.com/1f20743f57decb129f4563314eafca4f83f7a18d105ac-xpHDBI_fw658"
                                                 alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2017-10-01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 2342
                                        </div>
                                        <div class="item">
                                            <i class="comment alternate icon"></i> 2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <div class="five  wide  column">
                                        <div class="ui horizontal list">
                                            <div class="item"><a href="#" style="color: #349EDF">查看</a></div>
                                            <div class="item"><a href="#" style="color: #CA0C16">删除</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear border-dashed"
                     style="padding-bottom: 20px !important;padding-top: 10px !important;">
                    <div class="ui mobile reversed stackable grid">
                        <div class="sixteen wide column">
                            <button class="ui mini red basic button  m-inline-block ">
                                原创
                            </button>
                            <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">
                                <a href="#" class="m-black">你真的理解什么是财富自由吗？</a></h3>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="http://hbimg.b0.upaiyun.com/1f20743f57decb129f4563314eafca4f83f7a18d105ac-xpHDBI_fw658"
                                                 alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2017-10-01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 2342
                                        </div>
                                        <div class="item">
                                            <i class="comment alternate icon"></i> 2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <div class="five  wide  column">
                                        <div class="ui horizontal list">
                                            <div class="item"><a href="#" style="color: #349EDF">查看</a></div>
                                            <div class="item"><a href="#" style="color: #CA0C16">删除</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear border-dashed"
                     style="padding-bottom: 20px !important;padding-top: 10px !important;">
                    <div class="ui mobile reversed stackable grid">
                        <div class="sixteen wide column">
                            <button class="ui mini red basic button  m-inline-block ">
                                原创
                            </button>
                            <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">
                                <a href="#" class="m-black">你真的理解什么是财富自由吗？</a></h3>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="http://hbimg.b0.upaiyun.com/1f20743f57decb129f4563314eafca4f83f7a18d105ac-xpHDBI_fw658"
                                                 alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2017-10-01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 2342
                                        </div>
                                        <div class="item">
                                            <i class="comment alternate icon"></i> 2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <div class="five  wide  column">
                                        <div class="ui horizontal list">
                                            <div class="item"><a href="#" style="color: #349EDF">查看</a></div>
                                            <div class="item"><a href="#" style="color: #CA0C16">删除</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear border-dashed"
                     style="padding-bottom: 20px !important;padding-top: 10px !important;">
                    <div class="ui mobile reversed stackable grid">
                        <div class="sixteen wide column">
                            <button class="ui mini red basic button  m-inline-block ">
                                原创
                            </button>
                            <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">
                                <a href="#" class="m-black">你真的理解什么是财富自由吗？</a></h3>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="http://hbimg.b0.upaiyun.com/1f20743f57decb129f4563314eafca4f83f7a18d105ac-xpHDBI_fw658"
                                                 alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2017-10-01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 2342
                                        </div>
                                        <div class="item">
                                            <i class="comment alternate icon"></i> 2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <div class="five  wide  column">
                                        <div class="ui horizontal list">
                                            <div class="item"><a href="#" style="color: #349EDF">查看</a></div>
                                            <div class="item"><a href="#" style="color: #CA0C16">删除</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!--分页按钮-->
            <div class="ui bottom attached segment ">
                <div class="ui middle aligned two column grid"
                     style="padding-top: 0 !important;padding-bottom: 0 !important;">
                    <div class="column" style="padding-top: 0 !important;padding-bottom: 0 !important;">
                        <a href="#" class="ui mini teal basic button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini teal basic button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div style="height: 25px"></div>
<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../images/wechat.jpg" class="ui rounded image" alt=""
                             style="width: 125px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin m-txt-align-left">Email：2489868503hx@gmail.com</a>
                    <a href="#" class="item m-text-thin m-txt-align-left">QQ：2489868503</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2016 - 2017 EasyBlog Designed by HuangXin</p>
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('#searchBar').click(function () {
        $('#reloadSearchBar').css("display", "block");  //显示div
    });

</script>
</body>
</html>