<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客详情 - EasyBlog博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/static/css/typo.css}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/static/css/me.css}">
    <link rel="stylesheet" href="../static/css/prism.css" th:href="@{/static/css/prism.css}">
    <style type="text/css">
        a:hover{
            color:#ca0c16 !important;
        }
    </style>
</head>
<body>


<!--导航-->
<div th:replace="~{nav :: navbar}"></div>

<!--中间内容-->
<div id="waypoint" class="m-padded-tb-big animated fadeIn">
    <div class="ui m-container">
        <div class="ui stackable grid">
            <!--左边的卡片-->
            <div class="four wide column" style="padding-top: 0 !important;">
                <input id="userId" hidden="hidden" th:if="${session.user!=null}" th:value="${#session.getAttribute('user').getUserId()}">
                <!--用户信息-->
                <div th:replace="~{userinfo_sidebar::sidebar_userinfo}"></div>
                <!--最新文章-->
                <div th:replace="~{userinfo_sidebar::sidebar_newest_article}"></div>
                <!--分类-->
                <div th:replace="~{userinfo_sidebar::sidebar_category}"></div>
                <!--归档-->
                <div th:replace="~{userinfo_sidebar::sidebar_archives}"></div>
                <h4 class="ui horizontal divider header m-margin-top-large">联系开发者</h4>
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/images/wechat.jpg" th:src="@{/static/images/wechat.jpg}" alt="" class="ui rounded image">
                </div>
            </div>

            <!--右边文章-->
            <div class="twelve wide column">
                <div class="ui top attached segment" style="padding-top: 5px !important;">
                    <!--内容-->
                    <div class="ui left aligned basic segment"  style="margin-bottom: 5px !important;padding: 0 0 0 0 !important;">
                        <div th:switch="${article.getArticleType()}" class="ui red basic label m-inline-block" style="margin-right: 10px">
                            <span th:case="0">原创</span>
                            <span th:case="1">转载</span>
                            <span th:case="2">翻译</span>
                        </div>
                        <h2 class="ui left aligned header m-inline-block" th:text="${article.getArticleTopic()}">关于刻意练习的清单</h2>
                    </div>


                    <div class="ui horizontal link list">
                        <div class="item">
                            <img th:src="@{${user.getUserHeaderImgUrl()}}"  src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                            <div class="content"><a href="#" class="header" th:text="${user.getUserNickname()}">黄鑫</a></div>
                        </div>
                        <div class="item">
                            <i class="calendar icon" ></i> [[${#dates.format(article.getArticlePublishTime(),'yyyy-MM-dd hh:mm:ss')}]]
                        </div>
                        <div class="item">
                            <i class="eye icon"></i> [[${article.getArticleClick()}]]
                        </div>
                    </div>
                </div>

                <div class="ui  attached padded segment">

                    <div th:text="${article.getArticleContent()}" id="content" class="typo  typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-large">
                    </div>

                    <!--赞赏-->
                    <div th:if="${#strings.equals(article.getArticleAppreciate(),'0')}" class="ui center aligned basic segment">
                        <button id="payButton" class="ui orange basic circular button" >赞赏</button>
                    </div>
                    <div class="ui payQR flowing popup transition hidden">
                        <div class="ui black basic label">
                            <div class="ui images" style="font-size: inherit !important;">
                                <div class="image">
                                    <img src="../static/images/wechat.jpg" alt="" class="ui rounded bordered image"
                                         style="width: 120px">
                                    <div>支付宝</div>
                                </div>
                                <div class="image">
                                    <img src="../static/images/wechat.jpg" alt="" class="ui rounded bordered image"
                                         style="width: 120px">
                                    <div>微信</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--声明信息-->
                <div class="ui attached positive message">
                    <!--博客信息-->
                    <div class="ui middle aligned grid">
                        <div class="sixteen wide column">
                            <ul class="list">
                                <li>作者：[[${user.getUserNickname()}]]</li>
                                <li>发表时间：[[${#dates.format(article.getArticlePublishTime(),'yyyy-MM-dd hh:mm:ss')}]]</li>
                                <li>版权声明：本文为博主原创文章，遵循 CC 4.0 BY-SA 版权协议，转载请附上原文出处链接和本声明。</li>
                                <li>原文链接：<a th:href="${#httpServletRequest.getRequestURL()}" th:text="${#httpServletRequest.getRequestURL()}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--留言信息-->
                <div id="comment-container" class="ui bottom attached segment">
                    <!--留言区域列表-->
                    <div class="ui form">
                        <div class="comment">
                            <textarea id="commentInput" rows="2" name="content" placeholder="想对作者说点什么"></textarea>
                        </div>
                        <div id="commentBtn" class="ui grid" style="display:none !important;">
                            <div class="five column row">
                                <div class="right floated column">
                                    <div class="right floated column">
                                        <span style="color: #999999 !important;">还能输入<em id="num_txt">500</em>个字符</span>
                                    </div>
                                    <div class="m-inline-block  m-margin-bottom-small m-mobile-wide">
                                        <button class="ui red button m-mobile-wide"><i class="edit icon"></i>发布评论
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--留言信息-->
                    <div class="ui teal segment">
                        <div class="ui threaded comments">
                            <h3 class="ui dividing header">留言区</h3>
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://unsplash.it/100/100?image=1005">
                                </a>
                                <div class="content">
                                    <a class="author">Matt</a>
                                    <div class="metadata">
                                        <span class="date">Today at 5:42PM</span>
                                    </div>
                                    <div class="text">
                                        How artistic!
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回复</a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://unsplash.it/100/100?image=1005">
                                </a>
                                <div class="content">
                                    <a class="author">Elliot Fu</a>
                                    <div class="metadata">
                                        <span class="date">Yesterday at 12:30AM</span>
                                    </div>
                                    <div class="text">
                                        <p>This has been very useful for my research. Thanks as well!</p>
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回复</a>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="https://unsplash.it/100/100?image=1005">
                                        </a>
                                        <div class="content">
                                            <a class="author">Jenny Hess</a>
                                            <div class="metadata">
                                                <span class="date">Just now</span>
                                            </div>
                                            <div class="text">
                                                Elliot you are always so right :)
                                            </div>
                                            <div class="actions">
                                                <a class="reply">回复</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://unsplash.it/100/100?image=1005">
                                </a>
                                <div class="content">
                                    <a class="author">Joe Henderson</a>
                                    <div class="metadata">
                                        <span class="date">5 days ago</span>
                                    </div>
                                    <div class="text">
                                        Dude, this is awesome. Thanks so much
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="ui toc-container flowing popup transition hidden" style="width: 250px!important;">
    <ol class="js-toc">

    </ol>
</div>

<div id="qrcode" class="ui wechat-qr flowing popup transition hidden " style="width: 130px !important;">
    <!--<img src="./static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 120px !important;">-->
</div>


<div style="height: 10em"></div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>


</body>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $(document).ready(function () {
        toggleStatus();
    });

    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if(user!=null){
            $('#header-images').show();
            $('#login-btn').hide();
        }else{
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus,100);
    }
</script>


<script src="../static/js/prism.js" th:src="@{/static/js/prism.js}"></script>

<!--实现评论框的各种效果-->
<script type="text/javascript">

    /**评论输入框被点击的时候变大为10行**/
    $('#commentInput').click(function () {
        $('#commentInput').attr("rows", "10");
        $('#commentBtn').show();
    });
    /**评论输入框时区焦点后变小为初始大小2行**/
    $('#commentInput').blur(function () {
        $('#commentInput').attr("rows", "2");
        $('#commentBtn').hide();
    });
    $(function () {
        $('#commentInput').on('keyup', function () {
            var txtval = $('#commentInput').val().length;
            console.log(txtval);
            var str = parseInt(500 - txtval);
            console.log(str);
            if (str > 0) {
                $('#num_txt').html(str);
            } else {
                $('#num_txt').html(0);
                $('#commentInput').val($('#text_txt').val().substring(0, 500)); //这里意思是当里面的文字小于等于0的时候，那么字数不能再增加，只能是500个字
            }
        });
    })
</script>

<script type="text/javascript">

    $("code").addClass("language-css");
    $("pre").addClass("line-numbers");
    $("pre").addClass("data-line");

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#payButton').popup({
        popup: $('.payQR.popup'),
        on: 'click',
        position: 'bottom center'
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
    });

    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'left center'
    });

    var qrcode = new QRCode("qrcode", {
        text: "http://jindo.dev.naver.com/collie",
        width: 110,
        height: 110,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });

    $('#toTop-button').click(function () {
        $(window).scrollTo(0, 500);
    });


    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if (direction == 'down') {
                $('#toolbar').show(100);
            } else {
                $('#toolbar').hide(500);
            }
            console.log('Scrolled to waypoint!  ' + direction);
        }
    })
</script>
</html>