<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--header： 公共片段 header-->
<div class="ui top attached segment stackable" th:fragment="header">
    <div class="ui grid">
        <div class="row" style="padding-top: 2em !important;padding-bottom: 1.5em !important;">
            <div class="two wide column" style="padding-right: 0 !important;"><a id="all" href="#" th:href="@{/manage/blog/}" class="m-black" style="font-size: 1.1rem !important;">全部(<span>1</span>)</a></div>
            <div class="two wide column" style="padding-right: 0 !important;padding-left: 0 !important;"><a id="public" href="#" th:href="@{/manage/blog/public}" class="m-black" style="font-size: 1.1rem !important;">公开(<span>1</span>)</a></div>
            <div class="two wide column" style="padding-right: 0 !important;padding-left: 0 !important;"><a id="private" href="#" th:href="@{/manage/blog/private}" class="m-black" style="font-size: 1.1rem !important;">私有(<span>1</span>)</a></div>
            <div class="two wide column" style="padding-right: 0 !important;padding-left: 0 !important;"><a id="draft" href="#" th:href="@{/manage/blog/draft}" class="m-black" style="font-size: 1.1rem !important;">草稿箱(<span>1</span>)</a></div>
            <div class="two wide column" style="padding-right: 0 !important;padding-left: 0 !important;"><a id="dash" href="#" th:href="@{/manage/blog/dash}" class="m-black" style="font-size: 1.1rem !important;">
                <i class="trash alternate outline icon"></i>回收站(<span>1</span>)</a></div>
        </div>
    </div>
</div>



</body>
</html>