<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>[[${article.getArticleTopic()}]]_[[${author.getUserNickname()}]]的博客—EasyBlog博客</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/static/css/typo.css}">
    <link rel="stylesheet" href="../static/css/easyblog.base.css" th:href="@{/static/css/easyblog.base.css}">
    <link rel="stylesheet" href="../static/hightlight-theme/okaida/prism.css" th:href="@{/static/hightlight-theme/default/prism.css}">
    <style type="text/css">
        a:hover {
            color: #ca0c16 !important;
        }
    </style>
    <script src="../static/js/spop.js" th:src="@{/static/js/spop.js}"></script>
    <link rel="stylesheet" href="../static/css/spop.css" th:href="@{/static/css/spop.css}">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1d2b1074de8c4606d68aa61802a74c14";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script data-ad-client="ca-pub-2311962880414013" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<!--导航-->
<div th:replace="~{nav :: navbar}"></div>
<!--中间内容-->
<div id="waypoint" class="animated fadeIn m-content-container">
    <div class="ui stackable grid">
            <!--左边的卡片-->
            <div class="four wide column m-mobile-hide" style="max-width: 315px !important;padding-top: 0 !important;padding-right: 0 !important;">
                <div th:replace="~{userinfo_sidebar::sidebar_userinfo}"></div>
                <!--最新文章-->
                <div th:replace="~{userinfo_sidebar::sidebar_newest_article}"></div>
                <!--分类-->
                <div th:replace="~{userinfo_sidebar::sidebar_category}"></div>
                <!--归档-->
                <div th:replace="~{userinfo_sidebar::sidebar_archives}"></div>
                <h4 class="ui horizontal divider header m-margin-top-large">联系开发者</h4>
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/images/wechat.jpg" th:src="@{/static/images/wechat.jpg}" alt="我的微信" class="ui rounded image">
                </div>
            </div>

            <!--右边文章-->
            <div class="twelve wide column m-article-body-outer-padding" style="padding-top: 0 !important;">
                <div class="ui top attached segment" onmouseenter="function editArticle() {
                      $(this).find('.m-article-quick-edit-btn').toggle();
                }" onmouseleave="editArticle()" style="padding: 20px 10px 5px !important;border: 1px #f5f6f7 solid;border-radius: 0;">
                    <!--标题-->
                    <div class="ui left aligned basic segment" style="margin-bottom: 5px !important;padding: 0 0 0 0 !important;">
                        <h2 style="max-width: 100% !important;margin-bottom: 5px !important;" class="ui left aligned  m-article-title" th:text="${article.getArticleTopic()}"></h2>
                        <a target="_blank" class="m-article-quick-edit-btn m-mobile-hide"  th:if="${visitor!=null and visitor.getUserId()==author.getUserId()}" th:href="@{/manage/blog/edit(articleId=${article.getArticleId()},userId=${visitor.getUserId()})}">修改文章</a>
                    </div>
                    <div class="ui horizontal link list">
                        <div class="item">
                            <div th:switch="${article.getArticleType()}" class="ui red mini basic label" style="margin-right: 5px">
                                <span th:case="0">原创</span>
                                <span th:case="1">转载</span>
                                <span th:case="2">翻译</span>
                            </div>
                        </div>
                        <div class="item" style="margin-left: 0 !important;">
                            <a href="#" th:href="@{/article/index/{userId}(userId=${author.getUserId()})}" >
                                <img th:src="@{${author.getUserHeaderImgUrl()}}" src="https://unsplash.it/100/100?image=1005" alt="${user.getUserNickname()}" class="ui avatar image m-mobile-hide" style="display: inline-block">
                                <div class="content m-article-title-info-font" style="display: inline-block">
                                    <a th:text="${author.getUserNickname()}" style="color: #333"></a>
                                </div>
                            </a>
                        </div>
                        <div class="item m-article-title-info-font" style="color: #858585">
                            <i class="calendar icon"></i> [[${#dates.format(article.getArticlePublishTime(),'yyyy-MM-dd hh:mm:ss')}]]
                        </div>
                        <div class="item m-article-title-info-font" style="color: #858585">
                            <i class="eye icon"></i> [[${article.getArticleClick()}]]
                        </div>
                    </div>
                </div>
                <div class="ui attached padded segment m-article-body-inner-padding" style="border: 1px solid #f5f6f7;">
                    <!--文章主体开始-->
                    <div  id="content" th:utext="${article.getArticleContent()}" style="padding:0 10px !important;line-height: 24px;overflow-wrap: break-word;word-break: break-all;" class="typo  typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-large"></div>
                    <!--文章主体结束-->
                    <!--赞赏-->
                    <div th:if="${#strings.equals(article.getArticleAppreciate(),'1')}" class="ui center aligned basic segment">
                        <button id="payButton" class="ui orange basic circular button">赞赏</button>
                    </div>
                    <div th:if="${#strings.equals(article.getArticleAppreciate(),'1')}" class="ui payQR flowing popup transition hidden">
                        <div class="ui black basic label">
                            <div class="ui images" style="font-size: inherit !important;">
                                <div class="image">
                                    <img th:src="@{/static/images/wechat.jpg}" alt="支持一下吧^V^" class="ui rounded bordered image" style="width: 130px">
                                    <div>微信</div>
                                </div>
                                <div class="image">
                                    <img th:src="@{/static/images/alipay.jpg}" alt="支持一下吧^V^" class="ui rounded bordered image" style="width: 130px">
                                    <div>支付宝</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--信息-->
                <div th:if="${article.getArticleType()=='0'}" class="ui attached message positive bottom m-article-author-info-padding" style="background: #f3f7fb;box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);">
                    <!--博客信息-->
                    <div class="ui middle aligned grid">
                        <div class="sixteen wide column">
                            <ul class="list">
                                <li>版权声明：本文系原创，采用<a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" style="font-size: 16px"> CC 4.0 BY-SA</a> 版权协议，转载请附上原文出处链接和本声明。</li>
                                <li>原文链接：<a th:href="${#httpServletRequest.getRequestURL()}" th:text="${#httpServletRequest.getRequestURL()}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--留言信息-->
                <div style="margin-top: 1em !important;border:1px solid white !important;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05)" id="comment-container" class="ui attached segment">
                    <h4 style="color:  #000000 !important;padding-left: 10px;margin: 0 auto 10px;border-left: 10px solid #55895B;font-size: 1.4em;">留言区</h4>
                    <!--留言区域列表-->
                    <div id="commentForm" class="ui form" style="padding-bottom: 15px !important;">
                        <!--默认存放文章作者的ID,评论默认发送给文章的作者-->
                        <input id="sendCommentTo" type="hidden" th:value="${article.getArticleUser()}">
                        <input id="articleId" type="hidden" th:value="${article.getArticleId()}">
                        <input id="pid" type="hidden" value="0">
                        <div class="comment">
                            <textarea id="commentInput" rows="1" name="content" placeholder="给作者留言..."></textarea>
                        </div>
                        <div id="commentBtn" class="ui grid" style="display:none !important;margin-bottom: 3em;">
                            <div class="five column row" style="padding-bottom: 0 !important;">
                                    <div class="m-comment-words-counter-location">
                                        <span style="color: #999999 !important;">还能输入<em id="num_txt">500</em>个字符</span>
                                    </div>
                                    <div class="m-inline-block  m-margin-bottom-small m-comment-publish_btn-location" style="position: absolute;top: 20px;right: 12px !important;">
                                        <button id="publish-comment-btn" class="ui  button m-mobile-wide" style="background-color: #ca0c16 !important;color: #FFFFFF !important;">
                                            <i class="edit icon"></i>
                                            发布评论
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!--留言信息-->
                    <div th:if="${articleComments!=null&&!#lists.isEmpty(articleComments)}" class="ui threaded comments"
                         style="max-width: none !important;border: none !important;margin: unset !important;">
                        <div th:each="comment:${articleComments}" class="comment" style="padding-top: 0 !important;">
                            <a th:href="@{/article/index/{sendUserId}(sendUserId=${comment.getCommentSend()})}" class="avatar">
                                <img th:src="@{${comment.getSendUserNicknameHeadImgUrl()}}" src="https://unsplash.it/100/100?image=1005">
                            </a>
                            <!--父评论内容-->
                            <div class="content" style="border-bottom: 1px dashed #e0e0e0;max-width: 95%">
                                <a th:href="@{/article/index/{sendUserId}(sendUserId=${comment.getCommentSend()})}" class="author m-comment-font-user" th:text="${comment.getSendUserNickname()}">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date m-comment-font-user-other" th:text="${#dates.format(comment.getCommentTime(),'yyyy-MM-dd HH:mm')}">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <!--style="font-family: 'PingFangSC-Semibold' !important;font-style: normal !important;font-size: 14px !important;line-height: 22px !important;"-->
                                    <p th:text="${comment.getCommentContent()}" class="m-comment-font-user" ></p>
                                </div>
                                <!--th:if="${user!=null&&user.getUserId()!=comment.getCommentSend()}"-->
                                <div  class="actions m-comment-location-replay">
                                    <a  class="reply m-comment-font-btn" th:value="${comment.getCommentSend()}+@{/}+${comment.getSendUserNickname()}+@{/}+${comment.getCommentId()}"
                                       onclick="changeInfo(this)">回复</a>
                                </div>
                                <div th:if="${comment.getChildComment()!=null&&!#lists.isEmpty(comment.getChildComment())}" class="m-comment-location-see-comment">
                                    <a class="reply m-comment-font-btn" th:value="${comment.getCommentSend()}+@{/}+${comment.getSendUserNickname()}+@{/}+${comment.getCommentId()}"
                                       onclick="toggleChildComment(this)" th:title="${#lists.size(comment.getChildComment())}">查看回复([[${#lists.size(comment.getChildComment())}]])</a>
                                </div>
                            </div>
                            <!--子评论内容-->
                            <div th:if="${comment.getChildComment()!=null&&!#lists.isEmpty(comment.getChildComment())}" class="comments" style="padding-bottom: 5px !important;padding-top: 38px !important;display: none;">
                                <div class="comment" th:each="childComment:${comment.getChildComment()}" style="border-bottom: 1px dashed #e0e0e0;max-width: 95%">
                                    <a th:href="@{/article/index/{sendUserId}(sendUserId=${childComment.getCommentSend()})}" class="avatar">
                                        <img th:src="@{${childComment.getSendUserNicknameHeadImgUrl()}}" src="https://unsplash.it/100/100?image=1005">
                                    </a>
                                    <div class="content">
                                        <a th:href="@{/article/index/{sendUserId}(sendUserId=${childComment.getCommentSend()})}" class="author m-comment-font-user"
                                           th:text="${childComment.getSendUserNickname()}">Jenny Hess</a>
                                        <span class="m-comment-font-user-other">回复</span>
                                        <span th:text="${childComment.getReceivedUserNickname()}" class="m-comment-font-user"></span>
                                        <div class="metadata">
                                            <span class="date m-comment-font-user-other" th:text="${#dates.format(childComment.getCommentTime(),'yyyy-MM-dd HH:mm')}">Yesterday at 12:30AM</span>
                                        </div>
                                        <div class="text">
                                            <p th:text="${childComment.getCommentContent()}" class="m-comment-font-user"></p>
                                        </div>
                                        <div  class="actions">
                                            <a th:value="${childComment.getCommentSend()}+@{/}+${childComment.getSendUserNickname()}+@{/}+${childComment.getCommentId()}" onclick="changeInfo(this)" class="reply  m-comment-font-btn m-child_comment-location-replay"
                                               style="position: absolute;right:1.3em;top:5px;cursor: pointer;">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<!--<div class="ui toc-container flowing popup transition hidden" style="width: 250px!important;">
    <ol class="js-toc">
    </ol>
</div>-->
<!--背景层-->
<div class="imgViewDom" style="display: none">
    <img class="bgImg" src="" style="width: 980px;">
</div>
<div style="height: 10em"></div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/hightlight-theme/okaida/prism.js" th:src="@{/static/hightlight-theme/default/prism.js}"></script>
<script src="../static/js/easyblog.js" th:src="@{/static/js/easyblog.js}"></script>
<script>
    $(document).ready(function () {
        let userId=$('#userId').val();
        showModifyButton('.editArticle');
        showPageZoomWarning();
        toggleStatus(userId);
        logOut(userId);
    });

    $("table").addClass('ui striped celled structured table');
</script>
<!--实现评论框的各种效果-->
<script type="text/javascript">
    let commentContent = ""; //输入的评论内容
    /**评论输入框被点击的时候变大为10行**/
    $('#commentInput').click(function () {
        $('#commentInput').attr("rows", "10");
        $('#commentBtn').show();
    });
    /**评论输入框时区焦点后变小为初始大小2行**/
    $('#commentForm').mouseleave(function () {
        $('#commentInput').attr("rows", "1");
        $('#commentBtn').hide();
    });
    <!--控制评论输入的字数-->
    $(function () {
        $('#commentInput').on('keyup', function () {
            commentContent = $('#commentInput').val();
            let txtval = commentContent.length;
            var str = parseInt(500 - txtval);
            if (str > 0) {
                //显示还可以在输入的字数
                $('#num_txt').html(str);
            } else {
                $('#num_txt').html(0);
                $('#commentInput').val(commentContent.substring(0, 500));
            }
        });
    });
    <!--评论功能 ajax请求-->
    $('#publish-comment-btn').click(function () {
        let userJSONStr = localStorage.getItem("user");
        if (userJSONStr != null&&userJSONStr!=="") {
            let sendUser=JSON.parse(userJSONStr);
            if(sendUser==null){
                showInfoMessage('您还未登录，请登录后再发表评论！');
                return;
            }
            if (commentContent == null || commentContent === '') {
                showInfoMessage("写点东西再发布吧！");
            } else {
                let sendCommentTo = $('#sendCommentTo').val();
                let articleId = $('#articleId').val();
                let pid = $('#pid').val();
                $.ajax({
                    url: "/comment/publish",
                    method: "POST",
                    sync: "false",
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify({
                        commentContent: commentContent,
                        commentSend: sendUser.userId,
                        commentReceived: sendCommentTo,
                        articleId: articleId,
                        pid: pid
                    }),
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            window.location.reload();
                        }else{
                            showInfoMessage(response.message);
                        }
                    },
                    error: function () {
                        showErrorMessage('服务异常，请重试！');
                    }
                })
            }
        } else {
            showInfoMessage('您还未登录，请登录后再发表评论！');
        }
    });

    <!--点击 回复 按钮后评论回复栏中的对应显示变化-->
    function changeInfo(obj) {
        let values = $(obj).attr('value');
        let array = values.split('/');
        $('#commentInput').attr('placeholder', '回复 ' + array[1]);
        $('#sendCommentTo').val(array[0]);
        $('#pid').val(array[2]);
        $('#commentInput').attr("rows", "10");
        $('#commentBtn').show();
    }


    function toggleChildComment(obj) {
       let node=$(obj).parent().parent().next();
       if(node.css('display')=='none'){
           node.show();
           $(obj).text('收起回复');
       }else if(node.css('display')!='none'){
           node.hide();
           $(obj).text('查看回复('+$(obj).attr('title')+')');
       }
    }
</script>
<script type="text/javascript">
    $("code").addClass("language-css");
    $("pre").addClass("line-numbers");
    $("pre").addClass("data-line");

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#payButton').popup({
        popup: $('.payQR.popup'),
        on: 'click',
        position: 'bottom center'
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
    });

    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'left center'
    });

    var qrcode = new QRCode("qrcode", {
        text: "http://jindo.dev.naver.com/collie",
        width: 110,
        height: 110,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });

    $('#toTop-button').click(function () {
        $(window).scrollTo(0, 500);
    });


</script>
<!--文章图片点击放大缩小效果-->
<script>
    $(document).ready(function(){
        $('.typo img').addClass('img_zoom');
        $(".img_zoom").bind("click", function(){
            $('.bgImg').attr("src",$(this)[0].src);
            $('.imgViewDom').show();
        });

        $('.bgImg').bind("click", function(){
            $('.imgViewDom').hide();
            $('.bgImg').attr("src",'');
        });
    });
</script>
</html>