<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>【 分类专栏 】 - EasyBlog博客</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/static/css/me.css}">
    <style type="text/css">
        a:hover{
            color:#ca0c16 !important;
        }
    </style>
    <script src="../static/js/spop.js" th:src="@{/static/js/spop.js}"></script>
    <link rel="stylesheet" href="../static/css/spop.css" th:href="@{/static/css/spop.css}">
</head>
<body>


<!--导航-->
<div th:replace="~{nav :: navbar}"></div>

<!--中间内容-->
<div class="m-padded-tb-big" style="max-width: 96em!important;margin: auto !important;">
    <div class="ui stackable grid">
        <!--左边的卡片-->
        <div class="four wide column" style="max-width: 315px !important;padding-top: 0 !important;padding-right: 0 !important;">
            <!--用户信息-->
            <div th:replace="~{userinfo_sidebar::sidebar_userinfo}"></div>

            <!--分类-->
            <div th:replace="~{userinfo_sidebar::sidebar_category}"></div>

            <!--最新文章-->
            <div th:replace="~{userinfo_sidebar::sidebar_newest_article}"></div>

            <!--归档-->
            <div th:replace="~{userinfo_sidebar::sidebar_archives}"></div>

            <h4 class="ui horizontal divider header m-margin-top-large">联系开发者</h4>
            <div class="ui centered card" style="width: 11em">
                <img src="../static/images/wechat.jpg" th:src="@{/static/images/wechat.jpg}" alt="" class="ui rounded image">
            </div>
        </div>

        <!--右边的分类内容-->
        <div class="twelve wide column" style="padding-top: 0 !important;">
            <!--分类的header-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <input id="category_Id" hidden="hidden" th:value="${category.getCategoryId()}"/>
                    <input id="care_id" hidden="hidden" th:value="${care}">
                    <!--分类的标题的图片-->
                    <div class="m-inline-block m-margin-top m-margin-bottom m-margin-left">
                        <img src="https://img-blog.csdnimg.cn/20190927151132530.png"
                             th:src="@{${category.getCategoryImageUrl()}}"
                             class="ui top aligned  image image-122x122" th:alt="${category.getCategoryName()}">
                        <div class="column m-inline-block m-margin-left">
                            <h3 class="ui m-black m-inline-block header" th:text="${category.getCategoryName()}">
                                数据结构与算法</h3>
                            <button id="care-btn"
                                    class="ui tiny red basic button  m-inline-block m-margin-top m-margin-left"
                                    style="font-size: 1rem;">
                                关注
                            </button>
                            <div th:if="${!#strings.isEmpty(category.getCategoryDescription())}" style="color: #999;font-size: 14.5px ;margin-top: 12px" th:text="${category.getCategoryDescription()}"></div>
                            <div class="right aligned column m-margin-top-small">
                           <span style="color: #888888;font-size: 14.5px;">
                              <span>关注数：<span style="color: dodgerblue !important;"
                                              th:text="${category.getCategoryCareNum()}">0</span>
                              </span>
                              <span class="m-margin-left-big">
                                  文章数：<span style="color: dodgerblue !important;"  th:text="${category.getCategoryArticleNum()}">23</span>
                              </span>
                              <span class="m-margin-left-big">
                                  访问量：<span style="color: dodgerblue !important;" th:text="${category.getCategoryClickNum()}">22255</span>
                              </span>
                           </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--每个分类的文章-->
            <div class="ui top attached  segment" style="padding-top: 0 !important;border-bottom: none !important;margin-top: 0.1em !important;">
                <div th:if="${!#lists.isEmpty(categoryArticles)}" th:each="article:${categoryArticles}" class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear border-bt-none"
                     style="padding-bottom: 20px !important;padding-top: 10px !important;">
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <button th:switch="${article.getArticleType()}" class="ui mini red basic button  m-inline-block ">
                                <span th:case="0">原创</span>
                                <span th:case="1">转载</span>
                                <span th:case="2">翻译</span>
                            </button>
                            <a href="#" th:href="@{/article/details/}+${article.getArticleId()}" th:text="${article.getArticleTopic()}"
                               class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">你真的理解什么是财富自由吗？</a>
                            <p class="m-text" style="color: #0a001f;font-size: 1.111rem !important;line-height: 22px;"
                               th:text="${#strings.abbreviate(article.getArticleContent(),150)}">
                                正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                            </p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img th:src="${user.getUserHeaderImgUrl()}" src="https://unsplash.it/100/100?image=1005" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header" th:text="${user.getUserNickname()}">黄鑫</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>[[${#dates.format(article.getArticlePublishTime(),'yyyy年MM月dd  hh:mm:ss')}]]
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>[[${article.getArticleClick()}]]
                                        </div>
                                        <div class="item">
                                            <i class="comment alternate icon"></i>[[${article.getArticleCommentNum()}]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="five wide column">
                            <a  target="_blank">
                                <img src="https://uploadbeta.com/api/pictures/random/?key=BingEverydayWallpaperPicture" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${!#lists.isEmpty(categoryArticles)&&#lists.size(categoryArticles)<10}" class="ui bottom attached segment" style="border-top: none !important;padding: 0 0 !important;"></div>
            <!--分页按钮-->
            <div th:if="${!#lists.isEmpty(categoryArticles)&&#lists.size(categoryArticles)>10}" class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#"  class="ui mini teal basic button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini teal basic button">下一页</a>
                    </div>
                </div>
            </div>

            <!--没有任何数据时候显示-->
            <div th:if="${#lists.isEmpty(categoryArticles)}" class="ui bottom attached segment" style="border-top: none !important;">
                <div class="ui middle aligned two column grid">
                    <div  style="color: grey;margin: 10em auto !important;float: left !important;font-size: 16px">
                        该分类目前没有任何文章
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<input type="hidden" id="userId" th:value="${userId}">
<div style="height: 25px"></div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>


</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/js/me.js" th:src="@{/static/js/me.js}"></script>
<script>
    $(document).ready(function () {
        if (detectZoom() != 125) {
            spop({
                template: '您当前的页面处于缩放，页面可能会错乱，建议缩放比例100%',
                autoclose: 4000,
                position: "top-center",
                style: 'info',
            });
        }
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        toggleStatus();
    });

    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if (user != null) {
            $('#header-images').show();
            $('#login-btn').hide();
        } else {
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus, 500);
    }

    <!--退出操作异步请求-->
    $('#logout').click(function () {
        $.ajax({
            url: "/user/logout",
            method: "GET",
            sync: true,
            data: {userId: $('#userId').val()},
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    sessionStorage.removeItem("user");
                    toggleStatus();
                }
            },
            error: function () {
                spop({
                    template: '服务异常，请重试！',
                    autoclose: 4000,
                    position: "top-center",
                    style: 'error',
                });
            }
        });
    });

</script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
<!--控制关注按钮的状态-->
<script type="text/javascript">
    <!--关注按钮样式切换-->
    $('#care-btn').ready(function () {
        changeBtn();
    });

    function changeBtn(){
        var str = $('#care_id').val();
        if ("false" == str) {
            $('#care-btn').css("color","inherit").text("关注");
            $('#care-btn').addClass("red");
            $('#care-btn').addClass("basic");
            $('#care-btn').mouseenter(function () {
                $('#care-btn').css("background","#DB2828");
                $('#care-btn').addClass("red");
                $('#care-btn').css("color","#ffffff").text("关注");
                $('#care-btn').text("关注");
                $('#care-btn').removeClass("basic");
            });
            $('#care-btn').mouseleave(function () {
                $('#care-btn').css("color","inherit").text("关注");
                $('#care-btn').text("关注");
                $('#care-btn').addClass("basic");
            });
        } else {
            $('#care-btn').removeClass("red");
            $('#care-btn').addClass("basic");
            $('#care-btn').addClass("grey");
            $('#care-btn').css("color", "#7c7b7c").text("已关注");
            $('#care-btn').mouseenter(function () {
                $('#care-btn').removeClass("basic");
                $('#care-btn').removeClass("grey");
                $('#care-btn').css("background","#fde3e4");
                $('#care-btn').css("color", "red").text("取消关注");
            });
            $('#care-btn').mouseleave(function () {
                $('#care-btn').css("box-shadow","none");
                $('#care-btn').css("color","snow");
                $('#care-btn').addClass("basic");
                $('#care-btn').addClass("grey");
                $('#care-btn').css("color", "#7c7b7c").text("已关注");
            });
        }
    }

    $('#care-btn').click(function () {
        //异步请求
        var id = $('#category_Id').val();
        var btnHtml=$('#care-btn').html();
        if("关注"==btnHtml) {
            $.ajax({
                url: "/category/details/care/" + id,
                method: "GET",
                sync: true,
                data: {userId: $('#userId').val()},
                dataType: "text",
                success: function () {
                    $('#care_id').val("true");
                    changeBtn();
                },
                error: function (result) {
                    alert(result.msg);
                }
            })
        }else if("取消关注"==btnHtml){
            $.ajax({
                url: "/category/details/cancelCare/" + id,
                method: "GET",
                sync: true,
                data: {userId: $('#userId').val()},
                dataType: "text",
                success: function () {
                    $('#care_id').val("false");
                    changeBtn();
                },
                error: function (result) {
                    alert(result.msg);
                }
            })
        }
    })
</script>

</html>