<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyBlog - Make blog easy</title>
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/static/css/me.css}">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/static/css/styles.css}">
    <link rel="stylesheet" href="../static/css/jigsaw.css" th:href="@{/static/css/jigsaw.css}">
</head>
<body style="background: url(../static/images/bg.png)">
<div class="jq22-container" style="padding-top:30px">
    <div class="login-wrap">
        <div class="login-html" style="padding-top: 70px !important;">
            <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2"
                                                                                     class="tab">修改密码</label>
            <div class="login-form">
                <form>
                    <div class="sign-up-htm">
                        <div class="group">
                            <label class="label">手机号/邮箱</label>
                            <input id="account" name="account" type="text" class="input" placeholder="填写注册的手机号或者邮箱">
                            <span id="account-msg" style="display: none;font-size: 12px;margin-top: 5px"></span>
                        </div>
                        <div class="group">
                            <label class="label">验证码</label>
                            <input id="captcha" type="text" name="code" style="max-width: 60%;display: inline-block"
                                   class="input" placeholder="请输入验证码">
                            <button id="code-btn" type="button"
                                    disabled="disabled"
                                    style="max-width: 35%;display: inline-block;padding:15px 0"
                                    class="button m-font-size"><span id="nums">获取验证码</span>
                            </button>
                            <span id="captcha-msg" style="display: none;font-size: 12px;margin-top: 5px"></span>
                        </div>
                        <div class="group">
                            <label class="label">新密码</label>
                            <input id="pass" name="account" type="password" class="input" placeholder="填写新密码">
                            <span id="password-msg" style="display: none;font-size: 12px;margin-top: 5px"></span>
                        </div>
                        <br/>
                        <div class="group">
                            <input id="sub-btn" disabled="disabled" type="button" class="button" value="立即修改">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="../static/js/jigsaw.js" th:href="@{/static/js/jigsaw.js}"></script>

<!--用户输入信息验证-->
<script type="text/javascript">
    var obj = window.document.location;
    var BASE_PATH = obj.href.substring(0, obj.href.indexOf(obj.pathname));
    $('#account').keyup(function () {
        var str = $('#account').val();
        var mail_reg = /\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
        var phone_reg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0-9]{1})|(15[0-3]{1})|(15[4-9]{1})|(18[0-9]{1})|(199))+\d{8})$/;
        if (mail_reg.test(str)) {
            $.ajax({
                url: BASE_PATH + "/user/checkEmail",
                type: "GET",
                async: true,
                data: {email: str},
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    var value = $('#account').val();
                    if (result.success) {
                        if (value === "" || value === undefined || value == null) {
                            $('#account-msg').show().css("color", "#d0393f").text("请输入邮箱");
                        } else {
                            $('#account-msg').show().css("color", "#00ec3f").text("邮箱可用");
                        }
                    } else {
                        if (value === "" || value === undefined || value == null) {
                            $('#account-msg').show().css("color", "#d0393f").text("请输入邮箱");
                        } else {
                            $('#account-msg').show().css("color", "#d0393f").text("账号不存在");
                        }
                    }

                },
                error: function () {
                    $('#account-msg').show().css("color", "#d0393f").text("服务异常，请尝试重新输入邮箱");
                }
            })
        } else if (phone_reg.test(str)) {
            $.ajax({
                url: BASE_PATH + "/user/checkPhone",
                type: "GET",
                async: true,
                data: {phone: str},
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    //console.log(result.msg + result.success)
                    var value = $('#account').val();
                    if (result.success) {
                        if (value === "" || value === undefined || value == null) {
                            $('#account-msg').show().css("color", "#d0393f").text("请输入手机号");
                        } else {
                            $('#account-msg').show().css("color", "#00ec3f").text("手机号可用");
                        }
                    } else {
                        if (value === "" || value === undefined || value == null) {
                            $('#account-msg').show().css("color", "#d0393f").text("请输入手机号");
                        } else {
                            $('#account-msg').show().css("color", "#d0393f").text("账号不存在");
                        }
                    }

                },
                error: function () {
                    $('#account-msg').show().css("color", "#d0393f").text("服务异常，请尝试重新输入手机号");
                }
            })
        } else {
            $('#account-msg').show().css("color", "#d0393f").text("账号不存在");
        }
    });
    $('#pass').keyup(function () {
        var value = $('#pass').val();
        $.ajax({
            url: BASE_PATH + "/user/checkPassword",
            type: "GET",
            async: true,
            data: {password: value},
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                if (result.success) {
                    var value = $('#pass').val();
                    if (value === "" || value === undefined || value == null) {
                        $('#password-msg').show().css("color", "#d0393f").text("请输入密码");
                    } else {
                        $('#password-msg').show().css("color", "#00ec3f").text("密码可用");
                    }
                } else {
                    var value = $('#pass').val();
                    if (value === "" || value === undefined || value == null) {
                        $('#password-msg').show().css("color", "#d0393f").text("请输入密码");
                    } else {
                        $('#password-msg').show().css("color", "#d0393f").text("密码长度必须介于6-16个字符");
                    }
                }

            },
            error: function () {
                $('#password-msg').show().css("color", "#d0393f").text("服务异常，请重新输入密码");
            }
        })
    });
</script>
<!--发送验证码-->
<script type="text/javascript">
    $(function sendAble() {
        var account_msg = $('#account-msg').html();
        var b = account_msg == "邮箱可用" || account_msg == "手机号可用";
        if (b) {
            $('#code-btn').removeAttr("disabled");
        }
        setInterval(sendAble, 10);
    });

    $('#code-btn').click(function () {
        var str = $('#account').val();
        var mail_reg = /\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
        var phone_reg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0-9]{1})|(15[0-3]{1})|(15[4-9]{1})|(18[0-9]{1})|(199))+\d{8})$/;
        if (phone_reg.test(str)) {
            //判断是手机，就通过ajax异步请求给用户的这个手机发送验证码
            $.ajax({
                url: "/user/captcha-code2phone",
                type: "GET",
                async: true,
                data: {phone: str, option: "modify-pwd"},
                dataType: "text",
                success: function () {
                    alert("验证码已经发送，请注意查收");
                },
                error: function () {
                    alert("服务异常，请重新输入手机号！");
                }
            })
        } else if (mail_reg.test(str)) {
            //判断是邮箱，就通过ajax异步请求给用户的这个邮箱发送验证码
            $.ajax({
                url: "/user/captcha-code2mail",
                type: "GET",
                async: true,
                data: {email: str, option: "modify-pwd"},
                dataType: "text",
                success: function () {
                    alert("验证码已经发送，请注意查收");
                },
                error: function () {
                    alert("服务异常，请尝试重新输入邮箱！");
                }
            })
        } else {
            alert("请输入正确的手机号或者邮箱地址");
        }
    })

</script>

<script type="text/javascript">
    $(function open() {
        var msg1 = $('#account-msg').html();
        var msg2 = $('#captcha').val();
        var msg3 = $('#password-msg').html();

        var b1 = $.trim(msg1) == "手机号可用";

        var b2 = $.trim(msg1) == "邮箱可用";

        var b3 = $.trim(msg3) == "密码可用";

        var b4 = $.trim(msg2) != undefined && $.trim(msg2) != null && $.trim(msg2).length == 6;

        if ((b1 || b2) && b3 && b4) {
            $('#sub-btn').removeAttr("disabled");
        }
        setInterval(open, 10);
    });

    $('#sub-btn').click(function () {
        var password = $('#pass').val();
        var account = $('#account').val();
        var code = $('#captcha').val();
        $.ajax({
            url: "/user/modifyPwd",
            method: "GET",
            sync: true,
            data: {newPassword: password, account: account, code: code},
            dataType: "json",
            success: function (result) {
                //重定向到登录页面
                window.location.href="/user/loginPage";
                alert(result.msg);
            },
            error: function (result) {
                alert(result.msg);
            }
        })
    })
</script>
</html>