<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!--公共片段： 页脚-->
<footer th:fragment="footbar" class="ui  vertical segment m-padded-tb-massive" style="padding-top: 20px !important;">
    <div class="ui center aligned container">
        <p style="color: #0a001f" class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 EasyBlog Designed by HuangXin</p>
        <img src="https://static.dy208.cn/o_1dfilp8ruo521thr1hvf18ji17soa.png">
        <a href="http://www.beian.miit.gov.cn/"  style="color:#999" target="_blank">陕ICP备-19025460号</a>
    </div>
</footer>
</body>
</html>