<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!--公共片段： 页脚-->
<footer th:fragment="footbar" class="ui  vertical segment m-padded-tb-massive" style="position: relative;bottom: 0">
    <div class="ui center aligned container">
        <p class="copyright" style="margin-top: 0 !important;font-size: 15px;color: #999AAA">Copyright © 2019-[[${#dates.format(new java.util.Date().getTime(),'yyyy')}]]
            <a style="color:#999AAA;font-size: inherit" href="https://www.easyblog.top">www.easyblog.top</a>. 版权所有.
            <a href="http://beian.miit.gov.cn/publish/query/indexFirst.action" style="color:#999AAA;font-size: inherit" target="_blank">陕ICP备-19025460号</a>
            <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278953609'%3E%3C/span%3E%3Cscript src='https://uweb.umeng.com/v1/login.php?siteid=1278953609' type='text/javascript'%3E%3C/script%3E"));</script>
        </p>
    </div>
</footer>
</body>
</html>