<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人空间 - EasyBlog博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/static/css/me.css}">
</head>
<body>

<!--导航-->
<div th:replace="~{nav :: navbar}"></div>


<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container stackable grid">
        <div class="eleven wide column" style="padding-top: 0 !important;">
            <div class="ui stackable grid segment m-margin-top m-margin-bottom">
                <div class="three wide column">
                    <img th:src="${user.getUserHeaderImgUrl()}" src="https://img-blog.csdnimg.cn/20190927151132530.png" class="ui fluid top aligned  medium circular image image-100x100" alt="">
                </div>
                <div class="thirteen wide column" style="padding-left: 0 !important;">
                    <div class="row">
                        <span style="font-size: 26px"><strong>LoveITer</strong></span>
                        <button id="secret-btn" class="ui right floated  mini yellow basic button">
                            <a  href="#" style="color: inherit;font-size: 12px;">私信</a>
                        </button>
                        <button id="care-btn" class="ui right floated  mini red basic button">
                            <a href="#"  style="color: inherit;font-size: 12px;">关注</a>
                        </button>
                    </div>

                    <div class="row m-margin-top-large">
                        <span>关注数：<span style="color: dodgerblue !important;"><em>0</em></span></span>

                        <span class="m-margin-left">访问量：<span style="color: dodgerblue !important;"><em th:text="${user.getUserVisit()}">22255</em></span></span>
                    </div>
                </div>
            </div>
            <!--content header-->
            <div class="ui top attached segment">
                <div  class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui header m-inline-block m-black" style="letter-spacing: 2px !important;;color: #ca0c16 !important;">TA的博文</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui header m-inline-block m-text-thin" style="color: #ca0c16 !important;">
                        <em th:text="${#lists.size(articles)}">14</em></h2> 篇
                    </div>
                </div>
            </div>
            <!--content-->
            <div class="ui attached segment border-bt-none">
                <div th:each="article:${articles}" class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear border-bt-none"
                     style="padding-bottom: 20px !important;padding-top: 10px !important;">
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <button th:switch="${article.getArticleType()}"
                                    class="ui mini red basic button  m-inline-block ">
                                <span th:case="0">原创</span>
                                <span th:case="1">转载</span>
                                <span th:case="2">翻译</span>
                            </button>
                            <a href="#" th:href="@{/article/details/}+${article.getArticleId()}" th:text="${article.getArticleTopic()}"
                               class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">你真的理解什么是财富自由吗？</a>
                            <p class="m-text"
                               style="color: #0a001f;font-size: 1.111rem !important;line-height: 22px;"
                               th:text="${#strings.abbreviate(article.getArticleContent(),100)}">
                                正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                            </p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img th:src="${user.getUserHeaderImgUrl()}" src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header" th:text="${user.getUserNickname()}">黄鑫</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>[[${#dates.format(article.getArticlePublishTime(),'yyyy年MM月dd hh:mm:ss')}]]
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>[[${article.getArticleClick()}]]
                                        </div>
                                        <div class="item">
                                            <i class="comment alternate icon"></i>[[${article.getArticleCommentNum()}]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--查看更多-->
            <div class="ui attached segment bottom " style="border-top: none !important;">
                <a href="#" th:href="@{/article/index/}+${user.getUserId()}">
                    <button id="more-btn" class="ui negative basic button" style="margin-left: 40% !important;">查看更多</button>
                </a>
            </div>
        </div>
        <!--关于我面板-->
        <div class="five wide column m-mobile-hide">
            <div class="ui attached segment">
                <div class="ui header">关于我</div>
                <p class="m-text" th:if="${!#strings.isEmpty(user.getUserDescription())}">黄鑫，一个独立开发者，折腾在 0 和 1 世界的大叔；一个终身学习者，誓将学习无限循环. 希望结识可以共同成长的小伙伴.</p>
                <p class="m-text" th:if="${#strings.isEmpty(user.getUserDescription())}">这人很懒，什么也没留下~~</p>
            </div>
            <div class="ui attached segment">
                <div class="ui header">我的爱好</div>
                <div class="ui orange basic left pointing label">编程</div>
                <div class="ui orange basic left pointing label">写作</div>
                <div class="ui orange basic left pointing label">思考</div>
                <div class="ui orange basic left pointing label">运动</div>
            </div>
            <div class="ui attached segment">
                <div class="ui header">我的技术栈</div>
                <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
                <div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
                <div class="ui teal basic left pointing label m-margin-tb-tiny">Node</div>
                <div class="ui teal basic left pointing label m-margin-tb-tiny">React</div>
                <div class="ui teal basic left pointing label m-margin-tb-tiny">RN</div>
                <div class="ui teal basic left pointing label m-margin-tb-tiny">MYSQL</div>
            </div>
            <div class="ui bottom attached segment">
                <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                <a href="#" class="ui qq circular icon button" data-content="2489868503"
                   data-position="bottom center"><i class="qq icon"></i></a>
            </div>

            <div class="ui wechat-qr flowing popup transition hidden">
                <img src="../static/images/wechat.jpg" th:src="@{/static/images/wechat.jpg}" alt="" class="ui rounded image" style="width: 110px">
            </div>
        </div>
    </div>
</div>


<div style="height: 25px"></div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>

</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        toggleStatus();
    });

    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        console.log(user);
        if(user!=null){
            $('#header-images').show();
            $('#login-btn').hide();
        }else{
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus,100);
    }

    <!--退出操作异步请求-->
    $('#logout').click(function () {
        $.ajax({
            url: "/user/logout",
            method: "GET",
            sync: true,
            data: {userId: $('#userId').val()},
            dataType: "text",
            success: function (result) {
                if (result == "OK") {
                    sessionStorage.removeItem("user");
                    $("#login-btn").show();
                    $('#header-images').hide();
                }
            },
            error: function () {
                alert("服务异常，请重试！")
            }
        });
    });

</script>
<!--弹框-->
<script type="text/javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });

    $('.qq').popup();
</script>
<script type="text/javascript">
    //私信按钮颜色的交互变化
    $('#secret-btn').mouseenter(function () {
        $('#secret-btn').removeClass("basic")
    });
    $('#secret-btn').mouseleave(function () {
        $('#secret-btn').addClass("basic")
    });
    //关注按钮颜色的交互变化
    $('#care-btn').mouseenter(function () {
        $('#care-btn').removeClass("basic")
    });
    $('#care-btn').mouseleave(function () {
        $('#care-btn').addClass("basic")
    });
    //更多按钮颜色的交互变化
    $('#more-btn').mouseenter(function () {
        $('#more-btn').css("color","#ffffff");
        $('#more-btn').removeClass("basic")
    });
    $('#more-btn').mouseleave(function () {
        $('#more-btn').css("color","inherit");
        $('#more-btn').addClass("basic")
    });
</script>
</html>