<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>EasyBlog - Make Blog Easy</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}"/>
    <link rel="stylesheet" href="../static/css/easyblog.base.css" th:href="@{/static/css/easyblog.base.css}">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/static/css/login.css}">
    <link rel="stylesheet" href="../static/css/jigsaw.css" th:href="@{/static/css/jigsaw.css}">
    <!--弹出框特效-->
    <script src="../static/js/spop.js" th:src="@{/static/js/spop.js}"></script>
    <link rel="stylesheet" href="../static/css/spop.css" th:href="@{/static/css/spop.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.css" th:href="@{/static/css/font-awesome.css}">
    <style type="text/css">
        input::-webkit-calendar-picker-indicator{
            display: none;
            -webkit-appearance: none;
        }
    </style>
    <!--加载动画和确认框特效-->
    <link rel="stylesheet" href="../static/css/loading/zeroModal.css" th:href="@{/static/css/loading/zeroModal.css}">
    <!--百度统计JS脚本-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1d2b1074de8c4606d68aa61802a74c14";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!--google Adsense-->
    <script data-ad-client="ca-pub-2311962880414013" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<div class="login-container">
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">登录</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">注册</label>
            <div class="login-form">
                <form action="#" th:action="@{/user/login}" method="post">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label class="label">手机号/邮箱</label>
                            <input id="username" name="username" type="text" class="input" list="mails">
                            <datalist id="mails"></datalist>
                        </div>
                        <div class="group" style="position: relative;">
                            <label for="pass" class="label">密码</label>
                            <input id="password" name="password" type="password" class="input">
                            <span id="login-password-display-toggle" class="password-hide" style=":before;position: absolute;right:2px;top:18px;cursor: pointer;"></span>
                        </div>
                        <div class="group" >
                           <input id="check1" name="remember-me" type="checkbox" class="check" checked>
                           <label for="check1" style="font-size: 14px"> <span class="icon txt1"></span> 保持登录</label>
                            <a href="#" class="txt1" style="float: right" th:href="@{/user/change_password}">忘记密码?</a>
                        </div>
                        <div class="group" style="margin-top: 20px">
                            <input id="login-btn" style="cursor: pointer;"  type="submit"  class="button" value="登录">
                        </div>
                        <div  class="txt1 text-center p-t-54 p-b-20"><span>第三方登录</span></div>
                        <div class="flex-c-m">
                            <a href="#" th:href="@{/oauth/github/}" title="GitHub登录" class="login100-social-item bg4"><i class="fa fa-github"></i></a>
                            <a href="javascript:void(0)" title="开发中，敬请期待！" class="login100-social-item bg5"><i class="fa fa-wechat"></i></a>
                            <a href="javascript:void(0)" title="开发中，敬请期待！" class="login100-social-item bg2"><i class="fa fa-qq"></i></a>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="sign-up-htm">
                        <div class="group" style="position: relative;">
                            <label class="label">昵称</label>
                            <input id="user-nickname" name="user-nickname" type="text" class="input" placeholder="请输入昵称">
                            <span id="register-nickname-validate-correct" class="correct" style=":before;position: absolute;right:2px;top:18px;display: none"></span>
                            <span id="register-nickname-validate-incorrect" class="incorrect"  style=":before;position: absolute;right:2px;top:18px;display: none"></span>
                            <span id="nickname-msg" style="display: none;font-size: 12px;margin-top: 5px;"></span>
                        </div>
                        <div class="group" style="position: relative;">
                            <label class="label" >手机号/邮箱</label>
                            <input id="phone-mail" name="account" list="r-mails" type="text" class="input" placeholder="请输入手机号码/邮箱">
                            <span id="register-account-validate-correct" class="correct" style=":before;position: absolute;right:2px;top:18px;display: none"></span>
                            <span id="register-account-validate-incorrect" class="incorrect" style=":before;position: absolute;right:2px;top:18px;display: none"></span>
                            <datalist id="r-mails"></datalist>
                            <span id="account-msg" style="display: none;font-size: 12px;margin-top: 5px;"></span>
                        </div>
                        <div class="group" style="position: relative;">
                            <label class="label">密码</label>
                            <input id="pass" name="user-pwd" type="password" class="input"   placeholder="11-20位字符组成，区分大小写">
                            <span id="register-password-display-toggle" class="password-hide" style=":before;position: absolute;right:2px;top:18px;cursor: pointer;"></span>
                            <span id="password-msg" style="display: none;font-size: 12px;margin-top: 5px"></span>
                        </div>
                        <div class="group" >
                            <label class="label">验证码</label>
                            <input id="captcha" type="text" name="code" style="max-width: 60%;display: inline-block" class="input" placeholder="请输入验证码">
                            <button id="code-btn" type="button" style="cursor: pointer;max-width: 35%;display: inline-block;padding:15px 0" class="button m-font-size">获取验证码
                            </button>
                        </div>

                        <div class="group">
                            <input id="check2" type="checkbox" class="check">
                            <label for="check2" style="font-size: 13px;font-family: 'Microsoft YaHei','SF Pro Display',Roboto,Noto,Arial,'PingFang SC',sans-serif !important;"><span class="icon"></span> 我已经同意<a href="#"  th:href="@{/help}"style="color: #00a1d6;font-family: inherit;">《EasyBlog用户使用协议》</a></label>
                        </div>
                        <div class="group">
                            <input id="sub-btn" style="cursor: pointer;"  type="button" class="button" value="注册">
                        </div>
                        <div class="hr"></div>
                        <div class="text-center txt1">
                            <label style="cursor: pointer;" for="tab-1">已经有账号了?</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="../static/js/jigsaw.js" th:src="@{/static/js/jigsaw.js}"></script>
<script src="../static/js/aes.js" type="text/javascript" th:src="@{/static/js/aes.js}"></script>
<script src="../static/js/mode-ecb.js" type="text/javascript" th:src="@{/static/js/mode-ecb.js}"></script>
<script src="../static/js/easyblog.js" th:src="@{/static/js/easyblog.js}"></script>
<script src="../static/js/loading/mustache.js" th:src="@{/static/js/loading/mustache.js}"></script>
<script src="../static/js/loading/zeroModal.js" th:src="@{/static/js/loading/zeroModal.js}"></script>
<!--发送验证码-->
<script th:online="javascript" type="text/javascript">
    var maxtime = 60;
    var timeOut;
    $(document).ready(function () {
        sendEmail();
        passwordDisplayToggle($('#login-password-display-toggle'),$('#password'));
        passwordDisplayToggle($('#register-password-display-toggle'),$('#pass'));
        //显示服务器返回的信息
        showErrorMessage("[[${error}]]");
        //自动补全邮箱
        inputList($("#username"),$("#mails"));
        inputList($("#phone-mail"),$("#r-mails"));
        //自动填写账号密码
        autoFillUserAccountByCookie($('#username'),$('#password'));
    });

    $('#login-btn').click(function () {
        storage();
        _loading(2);
    });

    /**
     * 发送验证码
     */
    function sendEmail() {
        $('#code-btn').click(function () {
            let str = $('#phone-mail').val();
            let mail_reg = /\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
            let phone_reg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0-9]{1})|(15[0-3]{1})|(15[4-9]{1})|(18[0-9]{1})|(199))+\d{8})$/;
            if (phone_reg.test(str)) {
                //判断是手机，就通过ajax异步请求给用户的这个手机发送验证码
                $.ajax({
                    url: "/user/captcha-code2phone",
                    type: "GET",
                    async: true,
                    data: {phone: str, option: "register"},
                    dataType: "text",
                    success: function () {
                        showInfoMessage("验证码已发送到您的手机，请注意查收！");
                        timeOut = setInterval('countDown()', 1000);      //倒计时，并设置按钮不可用
                    },
                    error: function () {
                        showErrorMessage("服务异常，请尝试重新输入手机号！");
                    }
                })
            } else if (mail_reg.test(str)) {
                //判断是邮箱，就通过ajax异步请求给用户的这个邮箱发送验证码
                $.ajax({
                    url: "/user/captcha-code2mail",
                    type: "GET",
                    async: true,
                    data: {email: str, option: "register"},
                    dataType: "text",
                    success: function (ajaxResult) {
                        showInfoMessage('验证码已发送到您的邮箱，请注意查收！');
                        timeOut = setInterval('countDown()', 1000);   //倒计时，并设置按钮不可用
                    },
                    error: function () {
                        showErrorMessage("服务异常，请重试！");
                    }
                })
            } else {
                showErrorMessage('请输入正确的手机号或者邮箱地址');
            }
        });
    }

    /**
     * 倒计时并禁用按钮
     */
    function countDown() {
        if (maxtime >= 0) {
            $("#code-btn").attr("disabled", "disabled");
            $("#code-btn").text("重新发送(" + maxtime + ")");
            --maxtime;
        } else {
            clearInterval(timeOut);
            $("#code-btn").text("获取验证码");
            $("#code-btn").removeAttr("disabled");
            maxtime = 60;
        }
    }


    function hover(obj) {
        $(this).hover();
    }
</script>
<!--用户输入信息验证-->
<script type="text/javascript">
    let obj = window.document.location;
    let BASE_PATH = obj.href.substring(0, obj.href.indexOf(obj.pathname));
    $('#user-nickname').blur(function () {
        let nickname = $('#user-nickname').val();
        $.ajax({
            url: BASE_PATH + "/user/checkNickname",
            type: "GET",
            async: true,
            data: {nickname: nickname},
            contentType: "application/json",
            dataType: "json",
            success: function (ajaxResult) {
                if (ajaxResult.success) {
                    if (nickname === "" || nickname === undefined || nickname == null) {
                        $('#nickname-msg').show().css("color", "#d0393f").text("请输入昵称");
                        $('#register-nickname-validate-correct').hide();
                        $('#register-nickname-validate-incorrect').show();
                    } else {
                        $('#nickname-msg').text("");
                        $('#user-nickname').css('border','none');
                        $('#register-nickname-validate-correct').show();
                        $('#register-nickname-validate-incorrect').hide();
                    }
                } else {
                    if (nickname === "" || nickname === undefined || nickname == null) {
                        $('#nickname-msg').show().css("color", "#d0393f").text("请输入昵称");
                        $('#register-nickname-validate-correct').hide();
                        $('#register-nickname-validate-incorrect').show();
                    } else {
                        $('#nickname-msg').show().css("color", "#d0393f").text("昵称已经存在");
                        $('#register-nickname-validate-correct').hide();
                        $('#register-nickname-validate-incorrect').show();
                    }
                }

            },
            error: function () {
                showErrorMessage("服务异常，请重试！");
            }
        })
    });

    $('#phone-mail').blur(function () {
        let account = $('#phone-mail').val();
        let mail_reg = /\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
        let phone_reg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0-9]{1})|(15[0-3]{1})|(15[4-9]{1})|(18[0-9]{1})|(199))+\d{8})$/;
        if (mail_reg.test(account)) {
            $.ajax({
                url: "/user/checkEmailNotExist",
                type: "GET",
                async: true,
                data: {email: account},
                contentType: "application/json",
                dataType: "json",
                success: function (ajaxResult) {
                    if (ajaxResult.success) {
                        if (account === "" || account === undefined || account == null) {
                            $('#account-msg').show().css("color", "#d0393f").text("请输入邮箱");
                            $('#register-account-validate-correct').hide();
                            $('#register-account-validate-incorrect').show();
                        } else {
                            $('#account-msg').show().text("");
                            $('#phone-mail').css('border','none');
                            $('#register-account-validate-correct').show();
                            $('#register-account-validate-incorrect').hide();
                        }
                    } else {
                        if (account === "" || account === undefined || account == null) {
                            $('#account-msg').show().css("color", "#d0393f").text("请输入邮箱");
                            $('#register-account-validate-correct').hide();
                            $('#register-account-validate-incorrect').show();
                        } else {
                            $('#account-msg').show().css("color", "#d0393f").text("邮箱已经存在");
                            $('#register-account-validate-correct').hide();
                            $('#register-account-validate-incorrect').show();
                        }
                    }
                },
                error: function () {
                    showErrorMessage("服务异常，请重试！");
                }
            })
        } else if (phone_reg.test(account)) {
            $.ajax({
                url: "/user/checkPhone",
                type: "GET",
                async: true,
                data: {phone: account},
                contentType: "application/json",
                dataType: "json",
                success: function (ajaxResult) {
                    if (ajaxResult.success) {
                        if (account === "" || account === undefined || account == null) {
                            $('#account-msg').show().css("color", "#d0393f").text("请输入手机号");
                            $('#register-account-validate-correct').hide();
                            $('#register-account-validate-incorrect').show();
                        } else {
                            $('#account-msg').show().text("");
                            $('#phone-mail').css('border','none');
                            $('#register-account-validate-correct').show();
                            $('#register-account-validate-incorrect').hide();
                        }
                    } else {
                        if (account === "" || account === undefined || account == null) {
                            $('#account-msg').show().css("color", "#d0393f").text("请输入手机号");
                            $('#register-account-validate-correct').hide();
                            $('#register-account-validate-incorrect').show();
                        } else {
                            $('#account-msg').show().css("color", "#d0393f").text("手机号已经存在");
                            $('#register-account-validate-correct').hide();
                            $('#register-account-validate-incorrect').show();
                        }
                    }
                },
                error: function () {
                    showErrorMessage("服务异常，请重试！");
                }
            })
        }
    });

    $('#pass').blur(function () {
        let password = $('#pass').val();
        $.ajax({
            url: BASE_PATH + "/user/checkPassword",
            type: "GET",
            async: true,
            data: {password: password},
            contentType: "application/json",
            dataType: "json",
            success: function (ajaxResult) {
                if (ajaxResult.success) {
                    if (password === "" || password === undefined || password == null) {
                        $('#password-msg').show().css("color", "#d0393f").text("请输入密码");
                    } else {
                        $('#password-msg').text("");
                        $('#pass').css('border','none');
                    }
                } else {
                    if (password === "" || password === undefined || password == null) {
                        $('#password-msg').show().css("color", "#d0393f").text("请输入密码");
                    } else {
                        $('#password-msg').show().css("color", "#d0393f").text("密码长度必须介于11-20个字符");
                    }
                }
            },
            error: function () {
                showErrorMessage("服务异常，请重试！");
            }
        })
    });
</script>
<script type="text/javascript">
    //用户注册
    $('#sub-btn').click(function () {
        let nickname = $('#user-nickname').val();
        let password = $('#pass').val();
        let account = $('#phone-mail').val();
        let code = $('#captcha').val();
        let checked=$('#check2').is(':checked');
        if(nickname==""){
            showErrorMessage("请填写昵称");
            $('#user-nickname').css('border','red 0.09em solid');
        }else if(account==""){
            showErrorMessage("请填写邮箱号/手机号");
            $('#phone-mail').css('border','red 0.09em solid');
        }else if(password==""){
            showErrorMessage("请填写密码");
            $('#pass').css('border','red 0.09em solid');
        }else if(code==""||code.length<6){
            showErrorMessage("请正确填写验证码");
            $('#captcha').css('border','red 0.09em solid');
        }else if(!checked){
            showErrorMessage("您还没有同意用户协议");
        }else{
            _loading(2);
            $.ajax({
                url: "/user/register",
                method: "GET",
                sync: true,
                data: {nickname: nickname, pwd: password, account: account, code: code},
                dataType: "json",
                success: function (ajaxResult) {
                    _loadingClose();
                    if(ajaxResult.success) {
                        //console.log('注册成功');
                        window.location.href = "/user/register-success";
                    }else{
                        //console.log('注册失败');
                        showErrorMessage(ajaxResult.message);
                    }
                },
                error: function (ajaxResult) {
                    _loadingClose();
                    showErrorMessage(ajaxResult.message);
                }
            })
        }
    });

    function storage() {
        //用户登录后保存信息
        sessionStorage.setItem("user", $('#account').val());
    }
</script>
</html>

