<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyBlog - Blog for stronger</title>
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/static/css/me.css}">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/static/css/styles.css}">
    <link rel="stylesheet" href="../static/css/jigsaw.css" th:href="@{/static/css/jigsaw.css}">
</head>
<body style="background: url(../static/images/bg.png)">
<div class="jq22-container" style="padding-top:30px">
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">登录</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">注册</label>
            <div class="login-form">
                <form action="#" th:action="@{/login}" method="post">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label class="label">手机号/邮箱</label>
                            <input id="username" name="username" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">密码</label>
                            <input id="password" name="password" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <input id="check1" name="remeber-me" type="checkbox" class="check" checked>
                            <label for="check1" style="font-size: 14px"> <span class="icon"></span> 保持登录</label>
                        </div>
                        <div class="group">
                            <input type="button" class="button" value="登录" onclick="sub()">
                        </div>

                        <div class="foot-lnk">
                            <a href="#forgot">忘记密码?</a>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="sign-up-htm">
                        <div class="group">
                            <label class="label">昵称</label>
                            <input id="user-nickname" name="user-nickname" type="text" class="input"
                                   placeholder="给自己起个好听的名字吧">
                            <span id="nickname-msg" style="display: none;font-size: 12px;margin-top: 5px"></span>
                        </div>
                        <div class="group">
                            <label class="label">密码</label>
                            <input id="pass" name="user-pwd" type="password" class="input" data-type="password"
                                   placeholder="6-16位字符组成，区分大小写">
                            <span id="password-msg" style="display: none;font-size: 12px;margin-top: 5px"></span>
                        </div>
                        <div class="group">
                            <label class="label">手机号/邮箱</label>
                            <input id="phone-mail" name="account" type="text" class="input" placeholder="填写常用的手机号或者邮箱">
                            <span id="account-msg" style="display: none;font-size: 12px;margin-top: 5px"></span>
                        </div>
                        <div class="group">
                            <label class="label">验证码</label>
                            <input id="captcha" type="text" name="code" style="max-width: 60%;display: inline-block"
                                   class="input" placeholder="请输入验证码">
                            <button id="code-btn" type="button"
                                    style="max-width: 35%;display: inline-block;padding:15px 0"
                                    class="button m-font-size">获取验证码
                            </button>
                            <span id="captcha-msg" style="display: none;font-size: 12px;margin-top: 5px"></span>
                        </div>

                        <div class="group">
                            <input id="check2" type="checkbox" class="check">
                            <label for="check2" style="font-size: 14px"><span class="icon"></span> 我已经同意<a href="#"
                                                                                                           style="color: #00a1d6">《EasyBlog用户使用协议》</a></label>
                        </div>
                        <div class="group">
                            <input id="sub-btn" disabled="disabled" type="button" class="button" value="注册">
                        </div>

                        <div class="foot-lnk">
                            <label for="tab-1">已经有账号了?</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="../static/js/jigsaw.js" th:href="@{/static/js/jigsaw.js}"></script>

<!--用户输入信息验证-->
<script type="text/javascript">
    var obj = window.document.location;
    var BASE_PATH = obj.href.substring(0, obj.href.indexOf(obj.pathname));
    $('#user-nickname').keyup(function () {
        var nickname = $('#user-nickname').val();
        $.ajax({
            url: BASE_PATH + "/checkNickname",
            type: "GET",
            async: true,
            data: {nickname: nickname},
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                console.log(result.msg + result.success)
                if (result.success) {
                    var value = $('#user-nickname').val();

                    if (value === "" || value === undefined || value == null) {
                        $('#nickname-msg').show().css("color", "#d0393f").text("请输入昵称");
                    } else {
                        $('#nickname-msg').show().css("color", "#00ec3f").text("昵称可用");
                    }
                } else {
                    var value = $('#user-nickname').val();
                    if (value === "" || value === undefined || value == null) {
                        $('#nickname-msg').show().css("color", "#d0393f").text("请输入昵称");
                    } else {
                        $('#nickname-msg').show().css("color", "#d0393f").text("昵称已经存在");
                    }
                }

            },
            error: function () {
                $('#nickname-msg').show().css("color", "#d0393f").text("服务异常，请重新输入昵称");
            }
        })
    });
    $('#pass').keyup(function () {
        var value = $('#pass').val();
        $.ajax({
            url: BASE_PATH + "/checkPassword",
            type: "GET",
            async: true,
            data: {password: value},
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                console.log(result.msg + result.success)
                if (result.success) {
                    var value = $('#pass').val();
                    if (value === "" || value === undefined || value == null) {
                        $('#password-msg').show().css("color", "#d0393f").text("请输入密码");
                    } else {
                        $('#password-msg').show().css("color", "#00ec3f").text("密码可用");
                    }
                } else {
                    var value = $('#pass').val();
                    if (value === "" || value === undefined || value == null) {
                        $('#password-msg').show().css("color", "#d0393f").text("请输入密码");
                    } else {
                        $('#password-msg').show().css("color", "#d0393f").text("密码长度必须介于6-16个字符");
                    }
                }

            },
            error: function () {
                $('#password-msg').show().css("color", "#d0393f").text("服务异常，请重新输入一个昵称");
            }
        })
    });
    $('#phone-mail').keyup(function () {
        var str = $('#phone-mail').val();
        var mail_reg = /\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
        var phone_reg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0-9]{1})|(15[0-3]{1})|(15[4-9]{1})|(18[0-9]{1})|(199))+\d{8})$/;
        if (mail_reg.test(str)) {
            $.ajax({
                url: BASE_PATH + "/checkEmail",
                type: "GET",
                async: true,
                data: {email: str},
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    console.log(result.msg + result.success)
                    if (result.success) {
                        var value = $('#phone-mail').val();

                        if (value === "" || value === undefined || value == null) {
                            $('#account-msg').show().css("color", "#d0393f").text("请输入邮箱");
                        } else {
                            $('#account-msg').show().css("color", "#00ec3f").text("邮箱可用");
                        }
                    } else {
                        var value = $('#phone-mail').val();
                        if (value === "" || value === undefined || value == null) {
                            $('#account-msg').show().css("color", "#d0393f").text("请输入邮箱");
                        } else {
                            $('#account-msg').show().css("color", "#d0393f").text("邮箱已经存在");
                        }
                    }

                },
                error: function () {
                    $('#account-msg').show().css("color", "#d0393f").text("服务异常，请尝试重新输入邮箱");
                }
            })
        } else if (phone_reg.test(str)) {
            $.ajax({
                url: BASE_PATH + "/checkPhone",
                type: "GET",
                async: true,
                data: {phone: str},
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    console.log(result.msg + result.success)
                    if (result.success) {
                        var value = $('#phone-mail').val();

                        if (value === "" || value === undefined || value == null) {
                            $('#account-msg').show().css("color", "#d0393f").text("请输入手机号");
                        } else {
                            $('#account-msg').show().css("color", "#00ec3f").text("手机号可用");
                        }
                    } else {
                        var value = $('#phone-mail').val();
                        if (value === "" || value === undefined || value == null) {
                            $('#account-msg').show().css("color", "#d0393f").text("请输入手机号");
                        } else {
                            $('#account-msg').show().css("color", "#d0393f").text("手机号已经存在");
                        }
                    }

                },
                error: function () {
                    $('#account-msg').show().css("color", "#d0393f").text("服务异常，请尝试重新输入手机号");
                }
            })
        }
    });
</script>
<!--发送验证码-->
<script type="text/javascript">

    $('#code-btn').click(function () {
        var str = $('#phone-mail').val();
        var mail_reg = /\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
        var phone_reg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0-9]{1})|(15[0-3]{1})|(15[4-9]{1})|(18[0-9]{1})|(199))+\d{8})$/;

        if (phone_reg.test(str)) {
            //判断是手机，就通过ajax异步请求给用户的这个手机发送验证码
            $.ajax({
                url: "/captcha-code2phone",
                type: "GET",
                async: true,
                data: {phone: str},
                dataType: "text",
                success: function () {
                    $('#captcha-msg').show().css("color", "#00ec3f").text("验证码已发送，请注意查收！");
                },
                error: function () {
                    $('#captcha-msg').show().css("color", "#d0393f").text("服务异常，请重新输入手机号！");
                }
            })
        } else if (mail_reg.test(str)) {
            //判断是邮箱，就通过ajax异步请求给用户的这个邮箱发送验证码
            $.ajax({
                url: "/captcha-code2mail",
                type: "GET",
                async: true,
                data: {email: str},
                dataType: "text",
                success: function () {
                    $('#captcha-msg').show().css("color", "#00ec3f").text("验证码已发送，请注意查收！");
                },
                error: function () {
                    $('#captcha-msg').show().css("color", "#d0393f").text("服务异常，请尝试重新输入邮箱！");
                }
            })
        } else {
            $('#captcha-msg').show().css("color", "#d0393f").text("请输入正确的手机号或者邮箱地址");
        }
    })

</script>

<script type="text/javascript">
    $(function open() {
        var b1 = $("input[type='checkbox']#check2").is(':checked');
        var msg1=$('#nickname-msg').html();
        var msg2=$('#password-msg').html();
        var msg3= $('#account-msg').html();
        var msg4=$('#account-msg').html();
        var msg5=$('#captcha').val();
        //console.log(msg1+" "+msg2+" "+msg3+" "+msg4+" "+msg5);
        var b2 = $.trim(msg1)=="昵称可用";
        var b3 =$.trim(msg2)=="密码可用";
        var b4 =$.trim(msg3)=="邮箱可用";
        var b5 =$.trim(msg4)=="手机号可用";
        var b6=$.trim(msg5)!=null&&msg5.length>=6;
        //console.log(b1+" "+b2+" "+b3+" "+b4+" "+b5+" "+b6);
        if (b1 && b2 && b3 && (b4 || b5)&&b6) {
            $('#sub-btn').removeAttr("disabled");
        }
        setInterval(open, 1000);
    })


    $('#sub-btn').click(function () {
        var nickname = $('#user-nickname').val();
        var password = $('#pass').val();
        var account = $('#phone-mail').val();
        var code = $('#captcha').val();
        $.ajax({
            url: "/register",
            method: "GET",
            sync: true,
            data: {nickname: nickname, pwd: password, account: account, code: code},
            dataType: "text",
            success: function () {
                window.location.href = "/register-success";
            },
            error: function (result) {
                alert(result.msg);
            }
        })
    })
</script>
</body>
</html>