<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--公共的头部导航栏-->
<nav th:fragment="navbar" class="ui inverted attached segment m-padded-tb-mini m-shadow-small m-header">
    <!--用户信息-->
    <div class="ui m-container-large">
        <div class="ui inverted secondary stackable menu">
            <a href="#" th:href="@{/}"><h2 class="ui teal header item">EasyBlog</h2></a>
            <!--搜索框--->
            <div class="right  item m-mobile-hide">
                <form name="search" class="m-full-line" th:action="@{/search/details}" target="_blank" method="get" >
                    <div class="ui icon inverted search input m-margin-tb-tiny m-full-line">
                        <input th:if="${query==null}" name="query" class="prompt" type="text" placeholder="Search....">
                        <input th:if="${query!=null}" id="query" th:value="${query}" name="query" class="prompt" type="text" placeholder="Search....">
                        <input hidden th:if="${visitor!=null}" name="visitorUId" th:value="${visitor.getUserId()}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
            <div class="right  m-mobile-hide menu " style=" margin: 1.7em 0 auto 2em !important;">
                <a target="_blank" href="#"  th:if="${visitor==null}" th:href="@{/manage/blog/post}"
                   style="color :rgb(0,183,173);font-size: 17px"><i class="paint brush icon" style="color: inherit !important;"></i>写博客</a>
                <a target="_blank" href="#"  th:if="${visitor!=null}" th:href="@{/manage/blog/post(userId=${visitor.getUserId()})}"
                   style="color :rgb(0,183,173);font-size: 17px"><i class="paint brush icon" style="color: inherit !important;"></i>写博客</a>
            </div>
            <!--我的头像-->
            <div th:if="${visitor!=null}"  id="header-images"  class="right m-menu-padding m-mobile-hide menu" style="display: none ;margin-left: 1em !important;">
                <div class="ui dropdown item">
                    <div class="text">
                        <a href="#"  th:href="@{/article/index/{uid}(uid=${visitor.getUserId()})}">
                        <img class="ui medium circular image image-42x42" style="max-height: none !important;" th:src="@{${visitor.getUserHeaderImgUrl()}}"/></a>
                    </div>
                    <div class="menu m-menu" >
                        <a href="#" th:href="@{/manage/uc/follow-list(userId=${visitor.getUserId()})}" class="item"><i class="bookmark icon"></i>我的关注</a>
                        <a href="#" th:href="@{/manage/uc/profile(userId=${visitor.getUserId()})}" class="item"><i class="user icon"></i>个人中心</a>
                        <a href="#" th:href="@{/manage/account/reset/password(userId=${visitor.getUserId()})}" class="item"><i class="cogs icon"></i>账号设置</a>
                        <div class="divider"></div>
                        <a href="#" th:href="@{/article/index/{uid}(uid=${visitor.getUserId()})}" class="item"><i class="archive icon"></i>我的博客</a>
                        <a href="#" th:href="@{/manage/blog/(userId=${visitor.getUserId()})}" class="item"><i class="edit icon"></i>管理博客</a>
                        <div class="divider"></div>
                        <a href="#" th:href="@{/help}" class="item"><i class="basic question  circle icon"></i>帮助</a>
                        <a id="logout" class="item"><i class="sign out icon"></i>退出</a>
                    </div>
                </div>
            </div>
             <!--登录按钮-->
            <div id="login-btn" class="right m-mobile-hide menu m-menu-padding" style="display: flex !important;margin-left: 1em !important">
                <a href="#" target="_blank" th:href="@{/user/loginPage}" style="font-size: inherit" class=" item m-mobile-hide">登录/注册</a>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show" style="margin: 0 0 !important;">
        <i class="sidebar icon"></i>
    </a>
    <input id="userId" hidden="hidden" th:if="${visitor!=null}" th:value="${visitor.getUserId()}">
</nav>

</body>
</html>