<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>[[${{query}}]] - EasyBlog搜索</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/easyblog.base.css">
    <style type="text/css">
        a:hover {
            color: #ca0c16 !important;
        }
    </style>
    <script src="../static/js/spop.js" th:src="@{/static/js/spop.js}"></script>
    <link rel="stylesheet" href="../static/css/spop.css" th:href="@{/static/css/spop.css}">
    <!--百度统计JS脚本-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1d2b1074de8c4606d68aa61802a74c14";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!--google Adsense-->
    <script data-ad-client="ca-pub-2311962880414013" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>

<!--导航-->
<nav th:fragment="navbar" style="border: 0;height: 61px" class="ui inverted attached segment m-padded-tb-mini m-shadow-small m-header">
    <!--用户信息-->
    <div class="ui m-container">
        <div class="ui inverted secondary stackable menu">
            <a th:href="@{/}"><h2 class="ui teal header item" >EasyBlog</h2></a>
            <div style="margin: 0 auto !important;float: right"></div>
            <div class="right m-item m-mobile-hide menu " style="margin: 1.4rem 0 auto 0 !important;">
                <i class="teal paint brush icon"></i>
                <a href="#" th:if="${visitor eq null}" th:href="@{/manage/blog/post}"
                   style="color :rgb(0,183,173);font-size: 17px">写博客</a>
                <a href="#" th:if="${visitor ne null}"
                   th:href="@{/manage/blog/post(userId=${visitor.getUserId()})}"
                   style="color :rgb(0,183,173);font-size: 17px">写博客</a>
            </div>

            <!--我的头像-->
            <div th:if="${visitor!=null}" id="header-images" th:hidden="hidden"
                 class="right m-item m-mobile-hide menu" style="margin-left: 1em !important;">
                <div class="ui dropdown  item ">
                    <div class="text">
                        <img class="ui medium circular image image-42x42" style="max-height: none !important;"
                             src="" th:src="@{${visitor.getUserHeaderImgUrl()}}"/>
                    </div>
                    <div class="menu m-menu">
                        <a href="#" th:href="@{/manage/uc/follow-list}" class="item"><i
                                class="bookmark icon"></i>我的关注</a>
                        <a href="#" th:href="@{/manage/uc/profile}" class="item"><i class="user icon"></i>个人中心</a>
                        <a href="#" th:href="@{/manage/account/reset/password}" class="item"><i class="cogs icon"></i>账号设置</a>
                        <div class="divider"></div>
                        <a href="#" th:href="@{/article/index/(uid=${visitor.getUserId()})}"
                           class="item"><i class="archive icon"></i>我的博客</a>
                        <a href="#" th:href="@{/manage/blog/}" class="item"><i class="edit icon"></i>管理博客</a>
                        <div class="divider"></div>
                        <a href="#" th:href="@{/manage/account/help}" class="item"><i
                                class="basic question  circle icon"></i>帮助</a>
                        <a id="logout" class="item"><i class="power offs icon"></i>退出</a>
                    </div>
                </div>
            </div>

            <div  id="login-btn" class="right m-item m-mobile-hide menu" style="margin-left: 1em !important;">
                <a href="#" th:href="@{/user/loginPage}" class="m-item item m-mobile-hide"><i class="mini  icon"></i>登录/注册</a>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
    <input id="userId" hidden="hidden" th:if="${visitor!=null}"
           th:value="${visitor.getUserId()}">
</nav>

<!--搜索内容-->
<div class="m-container-middle">
    <div class="ui container stackable">

        <form name="search" th:action="@{/search/details}"  method="get">
            <div class="ui large icon input" style="width: 100% !important;">
                <input th:if="${query==null}" name="query" class="prompt" type="text" placeholder="Search....">
                <input th:if="${query!=null}" id="query" th:value="${query}" name="query" class="prompt" type="text"
                       placeholder="Search....">
                <input hidden th:if="${visitor!=null}" name="visitorUId" th:value="${visitor.getUserId()}">
                <i onclick="document.forms['search'].submit()" class="red search link icon"></i>
            </div>
        </form>

        <!--header-->
        <div th:if="${articlePages!=null}" class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">搜索结果</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${articlePages.getTotal()}">
                    14 </h2>条结果
                </div>
            </div>
        </div>

        <div style="padding-top: 0" th:if="${articlePages!=null and #lists.size(articlePages.getList())>0}" class="ui  attached  segment">
            <div th:each="article:${articlePages.getList()}"
                 class="ui padded vertical segment m-padded-tb-large">
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">
                            <a href="#" th:if="${visitor==null}" th:href="@{/article/details/{id}(id=${article.getArticleId()})}" target="_blank"
                               class="m-black topic" th:text="${article.getArticleTopic()}">
                                你真的理解什么是财富自由吗?
                            </a>
                            <a href="#" th:if="${visitor!=null}" th:href="@{/article/details/{id}(id=${article.getArticleId()},visitorUID=${visitor.getUserId()})}" target="_blank"
                               class="m-black topic" th:text="${article.getArticleTopic()}">
                                你真的理解什么是财富自由吗?
                            </a>
                        </h3>
                        <p class="m-column_article_desc" th:text="${#strings.abbreviate(article.getArticleContent(),200)}">
                            正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item m-margin-left">
                                        <img th:src="${article.getUserHeaderImageUrl()}"
                                             class="ui avatar image">
                                        <div class="content">
                                            <a href="#" th:if="${article!=null}" th:href="@{/article/index/{id}(id=${article.getArticleUser()})}" class="m-comment-font-user" th:text="${article.getAuthorName()}"></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>
                                        <span th:text="${#dates.format(article.getArticlePublishTime(),'yyyy-MM-dd')}">2017-10-01</span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>
                                        <span th:text="${article.getArticleClick()}">2342</span>
                                    </div>
                                    <div class="item">
                                        <i class="comment alternate icon"></i>[[${article.getArticleCommentNum()}]]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <a  href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin m-mobile-icon-show"
                                th:text="${article.getArticleCategory()}" style="background: rgba(0,0,0,.3) !important;border-color: rgba(0,0,0,.1) !important;">认知升级</a>
                            <img th:if="${article.getArticleFirstPicture()==null}" src="https://uploadbeta.com/api/pictures/random/?key=BingEverydayWallpaperPicture" alt="" class="ui rounded image">
                            <img th:if="${article.getArticleFirstPicture()!=null}" th:src="@{${article.getArticleFirstPicture()}}" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${articlePages!=null&&articlePages.getTotal()==0}" class="ui attached segment" style="border-top: none !important;">
            <div class="ui middle aligned two column grid">
                <div style="color: grey;margin: 10em auto !important;float: left !important;font-size: 16px">
                    抱歉!没有搜索关于<span style="color: #b52a1d" th:text="${query}"></span>的任何信息
                </div>
            </div>
        </div>
        <!--总记录数小于20显示的页脚-->
        <div th:if="${!#lists.isEmpty(articlePages.getTotal())&&#lists.size(articlePages.getTotal())<20}"
             class="ui bottom attached segment" style="border-top: none !important;padding: 0 0 !important;"></div>
        <!--分页-->
        <div th:if="${articlePages.getTotal()>=20}" class="ui bottom attached segment" style="border-top: 1px solid #ccc">
            <div class="ui middle aligned two column grid">
                <div  style="margin: 5px auto;float: left !important;">
                    <div class="ui buttons">
                        <a th:href="@{/search/details(query=${query},page=${articlePages.getPrePage()})}">
                            <button class="ui  button"
                                    style="background: white !important;font-weight: 100 !important;">上一页
                            </button>
                        </a>
                        <a th:each="pageNo:${articlePages.getNavigatepageNums()}"
                           th:href="@{/search/details(query=${query},page=${pageNo})}">
                            <button class="ui button pages"
                                    style="background: white !important;font-weight: 100 !important;">
                                [[${pageNo}]]
                            </button>
                        </a>
                        <a th:href="@{/search/details(query=${query},page=${articlePages.getNextPage()})}">
                            <button class="ui right button"
                                    style="background: white !important;font-weight: 100 !important;"> 下一页
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 10em"></div>

<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
<script src="../static/js/easyblog.js" th:src="@{/static/js/easyblog.js}"></script>
<script>
    $(".topic").each(function () {
        var str = $(this).text();
        var key = $('#query').val();
        var reg = new RegExp("(" + key + ")", "ig");
        var replaceStr = str.replace(reg, "<span style='color:#c00;font-weight:bold'>" + key + "</span>");
        $(this).html(replaceStr);
    });


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

</script>

<script type="text/javascript">

    $(document).ready(function () {
        let userId=$('#userId').val();
        showPageZoomWarning();
        toggleStatus(userId);
        logOut(userId);
    });

    function showCurrentPageNum() {
        let obj = document.getElementsByClassName('pages');
        let page = [[${articlePages.pageNum}]];
        for (let i = 0; i < obj.length; i++) {
            if (obj[i].textContent == page) {
                $(obj[i]).css('background', '#eee');
            }
        }
    }

</script>
</body>
</html>