<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    <title>EasyBlog搜索</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <style type="text/css">
        a:hover {
            color: #ca0c16 !important;
        }
        .highlight {background-color: #ca0c16; }
    </style>
</head>
<body onload="initFont()">

<!--导航-->
<div th:replace="~{nav :: navbar}"></div>

<!--中间内容-->
<div class="m-container-middle m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div th:if="${articles!=null}" class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">搜索结果</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#lists.size(articles)}">
                    14 </h2>条结果
                </div>
            </div>
        </div>

        <div class="ui top attached teal segment">
            <div th:if="${articles!=null}" th:each="article:${articles}"
                 class="ui padded vertical segment m-padded-tb-large">
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header"><a  href="#" target="_blank" class="m-black topic"
                                                 th:text="${article.getArticleTopic()}">你真的理解什么是财富自由吗?</a></h3>
                        <p class="m-text" th:text="${#strings.abbreviate(article.getArticleContent(),100)}">
                            正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img th:src="${article.getUserHeaderImageUrl()}"
                                             src="https://unsplash.it/100/100?image=1005" alt=""
                                             class="ui avatar image">
                                        <div class="content"><a href="#" class="header"
                                                                th:text="${article.getAuthorName()}">李仁密</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i><span
                                            th:text="${#dates.format(article.getArticlePublishTime(),'yyyy-MM-dd')}">2017-10-01</span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> <span
                                            th:text="${article.getArticleClick()}">2342</span>
                                    </div>
                                    <div class="item">
                                        <i class="comment alternate icon"></i>[[${article.getArticleCommentNum()}]]
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin"
                                   th:text="${article.getArticleCategory()}">认知升级</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://uploadbeta.com/api/pictures/random/?key=BingEverydayWallpaperPicture"
                                 alt="" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <!--footer-->
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui mini teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div style="height: 10em"></div>
<div class="ui small modal">
    <div class="header" id="msg_header">删除</div>
    <div id="msg" class="content">
    </div>
    <div class="actions">
        <div id="msg-btn" class="ui red button">知道了</div>
    </div>
</div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>

<script>
    function initFont() {
        var array = $('query').val();
        $(".topic").each(function () {
            //取得标签的文本
            var t = $(this).text();
            //开始用关键字遍历标签文本
            for (var i = 0; i < array.length; i++) {
                //判断标签是否包含关键字
                if (t.indexOf(array[i]) > -1) {
                    //定义正则表达式对象  array[i]是关键字   "g"是指全局范围
                    var a = new RegExp(array[i], "g");
                    //对标签文本进行全局替换，包含关键字的位置替换为加红字span对象
                    t = t.replace(a, ("<span style='color:#d0393f'>" + array[i] + "</span>"));
                    //将替换完的文本对象赋给此对象中A标签对象的html值中
                    $(this).find("a").html(t);
                }
            }
        });
    }

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

</script>

<script type="text/javascript">

    $(document).ready(function () {
        toggleStatus();
    });

    /**
     * 不断检查用户的登录情况
     */
    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if (user != null) {
            $('#header-images').show();
            $('#login-btn').hide();
        } else {
            $('#header-images').hide();
            $('#login-btn').show();
        }
        setTimeout(toggleStatus, 500);
    }

    <!--退出操作异步请求-->
    $('#logout').click(function () {
        $.ajax({
            url: "/user/logout",
            method: "GET",
            sync: true,
            data: {userId: $('#userId').val()},
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    sessionStorage.removeItem("user");
                    toggleStatus();
                }
            },
            error: function () {
                alert("服务异常，请重试！")
            }
        });
    });

</script>
</body>
</html>