<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签 - EasyBlog博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/easyblog.base.css">
</head>
<body>


<!--导航-->
<div th:replace="~{nav :: navbar}">

<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui stackable grid">
        <!--左边的卡片-->
        <div th:replace="~{user_home :: sidebar}"></div>
        <!--右边的分类内容-->
        <div class="twelve wide column">
            <!--分类的header-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="ui  grid">
                        <div class="four row">
                            <div class="ui breadcrumb m-margin-left">
                                <a class="section">全部文章</a>
                                <i class="right angle icon divider"></i>
                                <span class="section">SpringBoot</span>
                            </div>
                            <div class="m-margin-left-massive "><span style="color: #888888">排序：</span>
                                <span class="m-margin-right-bigger m-margin-left"><a href="#" class="m-black">默认排序</a></span>
                                <span class="m-margin-right-bigger"><a href="#" class="m-black">按更新时间</a></span>
                                <span class="m-margin-right-bigger"><a href="#" class="m-black">按访问量</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--每个归档的文章-->
            <div class="ui top attached teal segment">
              <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" style="padding-bottom: 20px !important;padding-top: 10px !important;">
                <div class="ui mobile reversed stackable grid">
                  <div class="eleven wide column">
                    <button class="ui mini red basic button  m-inline-block ">
                      原创
                    </button>
                    <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">你真的理解什么是财富自由吗？</h3>
                    <p class="m-text">
                      正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                    </p>
                    <div class="ui stackable grid">
                      <div class="eleven wide column">
                        <div class="ui mini horizontal link list">
                          <div class="item">
                            <img src="https://unsplash.it/100/100?image=1005" alt=""
                                 class="ui avatar image">
                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                          </div>
                          <div class="item">
                            <i class="calendar icon"></i> 2017-10-01
                          </div>
                          <div class="item">
                            <i class="eye icon"></i> 2342
                          </div>
                          <div class="item">
                            <i class="comment alternate icon"></i> 2342
                          </div>
                        </div>
                      </div>
                      <div class="right aligned five wide column">
                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                      </div>
                    </div>
                  </div>

                  <div class="five wide column">
                    <a href="#" target="_blank">
                      <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                    </a>
                  </div>

                </div>
              </div>
              <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" style="padding-bottom: 20px !important;padding-top: 10px !important;">
                <div class="ui mobile reversed stackable grid">
                  <div class="eleven wide column">
                    <button class="ui mini red basic button  m-inline-block ">
                      原创
                    </button>
                    <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">你真的理解什么是财富自由吗？</h3>
                    <p class="m-text">
                      正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                    </p>
                    <div class="ui stackable grid">
                      <div class="eleven wide column">
                        <div class="ui mini horizontal link list">
                          <div class="item">
                            <img src="https://unsplash.it/100/100?image=1005" alt=""
                                 class="ui avatar image">
                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                          </div>
                          <div class="item">
                            <i class="calendar icon"></i> 2017-10-01
                          </div>
                          <div class="item">
                            <i class="eye icon"></i> 2342
                          </div>
                          <div class="item">
                            <i class="comment alternate icon"></i> 2342
                          </div>
                        </div>
                      </div>
                      <div class="right aligned five wide column">
                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                      </div>
                    </div>
                  </div>

                  <div class="five wide column">
                    <a href="#" target="_blank">
                      <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                    </a>
                  </div>

                </div>
              </div>
              <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" style="padding-bottom: 20px !important;padding-top: 10px !important;">
                <div class="ui mobile reversed stackable grid">
                  <div class="eleven wide column">
                    <button class="ui mini red basic button  m-inline-block ">
                      原创
                    </button>
                    <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">你真的理解什么是财富自由吗？</h3>
                    <p class="m-text">
                      正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                    </p>
                    <div class="ui stackable grid">
                      <div class="eleven wide column">
                        <div class="ui mini horizontal link list">
                          <div class="item">
                            <img src="https://unsplash.it/100/100?image=1005" alt=""
                                 class="ui avatar image">
                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                          </div>
                          <div class="item">
                            <i class="calendar icon"></i> 2017-10-01
                          </div>
                          <div class="item">
                            <i class="eye icon"></i> 2342
                          </div>
                          <div class="item">
                            <i class="comment alternate icon"></i> 2342
                          </div>
                        </div>
                      </div>
                      <div class="right aligned five wide column">
                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                      </div>
                    </div>
                  </div>

                  <div class="five wide column">
                    <a href="#" target="_blank">
                      <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                    </a>
                  </div>

                </div>
              </div>
              <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" style="padding-bottom: 20px !important;padding-top: 10px !important;">
                <div class="ui mobile reversed stackable grid">
                  <div class="eleven wide column">
                    <button class="ui mini red basic button  m-inline-block ">
                      原创
                    </button>
                    <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">你真的理解什么是财富自由吗？</h3>
                    <p class="m-text">
                      正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                    </p>
                    <div class="ui stackable grid">
                      <div class="eleven wide column">
                        <div class="ui mini horizontal link list">
                          <div class="item">
                            <img src="https://unsplash.it/100/100?image=1005" alt=""
                                 class="ui avatar image">
                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                          </div>
                          <div class="item">
                            <i class="calendar icon"></i> 2017-10-01
                          </div>
                          <div class="item">
                            <i class="eye icon"></i> 2342
                          </div>
                          <div class="item">
                            <i class="comment alternate icon"></i> 2342
                          </div>
                        </div>
                      </div>
                      <div class="right aligned five wide column">
                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                      </div>
                    </div>
                  </div>

                  <div class="five wide column">
                    <a href="#" target="_blank">
                      <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                    </a>
                  </div>

                </div>
              </div>
              <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" style="padding-bottom: 20px !important;padding-top: 10px !important;">
                <div class="ui mobile reversed stackable grid">
                  <div class="eleven wide column">
                    <button class="ui mini red basic button  m-inline-block ">
                      原创
                    </button>
                    <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">你真的理解什么是财富自由吗？</h3>
                    <p class="m-text">
                      正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                    </p>
                    <div class="ui stackable grid">
                      <div class="eleven wide column">
                        <div class="ui mini horizontal link list">
                          <div class="item">
                            <img src="https://unsplash.it/100/100?image=1005" alt=""
                                 class="ui avatar image">
                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                          </div>
                          <div class="item">
                            <i class="calendar icon"></i> 2017-10-01
                          </div>
                          <div class="item">
                            <i class="eye icon"></i> 2342
                          </div>
                          <div class="item">
                            <i class="comment alternate icon"></i> 2342
                          </div>
                        </div>
                      </div>
                      <div class="right aligned five wide column">
                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                      </div>
                    </div>
                  </div>

                  <div class="five wide column">
                    <a href="#" target="_blank">
                      <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                    </a>
                  </div>

                </div>
              </div>
              <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" style="padding-bottom: 20px !important;padding-top: 10px !important;">
                <div class="ui mobile reversed stackable grid">
                  <div class="eleven wide column">
                    <button class="ui mini red basic button  m-inline-block ">
                      原创
                    </button>
                    <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">你真的理解什么是财富自由吗？</h3>
                    <p class="m-text">
                      正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                    </p>
                    <div class="ui stackable grid">
                      <div class="eleven wide column">
                        <div class="ui mini horizontal link list">
                          <div class="item">
                            <img src="https://unsplash.it/100/100?image=1005" alt=""
                                 class="ui avatar image">
                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                          </div>
                          <div class="item">
                            <i class="calendar icon"></i> 2017-10-01
                          </div>
                          <div class="item">
                            <i class="eye icon"></i> 2342
                          </div>
                          <div class="item">
                            <i class="comment alternate icon"></i> 2342
                          </div>
                        </div>
                      </div>
                      <div class="right aligned five wide column">
                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                      </div>
                    </div>
                  </div>

                  <div class="five wide column">
                    <a href="#" target="_blank">
                      <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                    </a>
                  </div>

                </div>
              </div>
              <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" style="padding-bottom: 20px !important;padding-top: 10px !important;">
                <div class="ui mobile reversed stackable grid">
                  <div class="eleven wide column">
                    <button class="ui mini red basic button  m-inline-block ">
                      原创
                    </button>
                    <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">你真的理解什么是财富自由吗？</h3>
                    <p class="m-text">
                      正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                    </p>
                    <div class="ui stackable grid">
                      <div class="eleven wide column">
                        <div class="ui mini horizontal link list">
                          <div class="item">
                            <img src="https://unsplash.it/100/100?image=1005" alt=""
                                 class="ui avatar image">
                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                          </div>
                          <div class="item">
                            <i class="calendar icon"></i> 2017-10-01
                          </div>
                          <div class="item">
                            <i class="eye icon"></i> 2342
                          </div>
                          <div class="item">
                            <i class="comment alternate icon"></i> 2342
                          </div>
                        </div>
                      </div>
                      <div class="right aligned five wide column">
                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                      </div>
                    </div>
                  </div>

                  <div class="five wide column">
                    <a href="#" target="_blank">
                      <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                    </a>
                  </div>

                </div>
              </div>
              <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" style="padding-bottom: 20px !important;padding-top: 10px !important;">
                <div class="ui mobile reversed stackable grid">
                  <div class="eleven wide column">
                    <button class="ui mini red basic button  m-inline-block ">
                      原创
                    </button>
                    <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">你真的理解什么是财富自由吗？</h3>
                    <p class="m-text">
                      正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                    </p>
                    <div class="ui stackable grid">
                      <div class="eleven wide column">
                        <div class="ui mini horizontal link list">
                          <div class="item">
                            <img src="https://unsplash.it/100/100?image=1005" alt=""
                                 class="ui avatar image">
                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                          </div>
                          <div class="item">
                            <i class="calendar icon"></i> 2017-10-01
                          </div>
                          <div class="item">
                            <i class="eye icon"></i> 2342
                          </div>
                          <div class="item">
                            <i class="comment alternate icon"></i> 2342
                          </div>
                        </div>
                      </div>
                      <div class="right aligned five wide column">
                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                      </div>
                    </div>
                  </div>

                  <div class="five wide column">
                    <a href="#" target="_blank">
                      <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                    </a>
                  </div>

                </div>
              </div>
              <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" style="padding-bottom: 20px !important;padding-top: 10px !important;">
                <div class="ui mobile reversed stackable grid">
                  <div class="eleven wide column">
                    <button class="ui mini red basic button  m-inline-block ">
                      原创
                    </button>
                    <h3 class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">你真的理解什么是财富自由吗？</h3>
                    <p class="m-text">
                      正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                    </p>
                    <div class="ui stackable grid">
                      <div class="eleven wide column">
                        <div class="ui mini horizontal link list">
                          <div class="item">
                            <img src="https://unsplash.it/100/100?image=1005" alt=""
                                 class="ui avatar image">
                            <div class="content"><a href="#" class="header">黄鑫</a></div>
                          </div>
                          <div class="item">
                            <i class="calendar icon"></i> 2017-10-01
                          </div>
                          <div class="item">
                            <i class="eye icon"></i> 2342
                          </div>
                          <div class="item">
                            <i class="comment alternate icon"></i> 2342
                          </div>
                        </div>
                      </div>
                      <div class="right aligned five wide column">
                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                      </div>
                    </div>
                  </div>

                  <div class="five wide column">
                    <a href="#" target="_blank">
                      <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                    </a>
                  </div>

                </div>
              </div>
            </div>

            <!--分页按钮-->
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" class="ui mini teal basic button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini teal basic button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="height: 25px"></div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });
</script>
</body>
</html>