<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--左边的卡片-->
<div class="four wide column" th:fragment="sidebar">
    <!--用户信息区域-->
    <div class="ui segments">
        <div class="ui equal width center aligned padded grid">
            <div class="row" style="padding-bottom: 0 !important;">
                <div class="four wide column" style="padding-right: 0 !important;">
                    <a href="#" class="m-black">
                        <img class="ui top avatar aligned tiny image medium circular image-50x50"
                             src="https://img-blog.csdnimg.cn/20190927151132530.png"/>
                    </a>
                </div>
                <div class="twelve wide column" style="padding-left: 0!important;">
                    <div class="row">
                        <span style="font-size: 16px"><strong>LoveITer</strong></span>
                        <button class="ui right floated  mini yellow basic button">
                            <a href="#"
                               style="color: orange;font-size: 12px;">私信</a>
                        </button>
                        <button class="ui right floated  mini red basic button">
                            <a href="#"
                               style="color: red;font-size: 12px;">关注</a>
                        </button>
                    </div>

                    <div class="row m-margin-top-large">
                        <a href="#" th:href="@{/blog/home}" class="float-right" style="color: #3399ea">TA的个人主页&nbsp;></a>
                    </div>
                </div>

            </div>

            <div class="ui divider" style="margin-bottom: 5px !important;margin-top: 5px !important;"></div>

            <div class="row" style="padding-bottom: 5px !important;padding-top: 5px !important;">
                <div class="column">
                    <a href="#" class="m-black">原创
                        <span><strong>200</strong></span></a>
                </div>
                <div class="column">
                    粉丝
                    <span><strong>2003</strong></span>
                </div>
                <div class="column">
                    喜欢
                    <span> <strong>3444</strong></span>
                </div>
                <div class="column">
                    评论
                    <span><strong>345</strong></span>
                </div>
            </div>

            <div class="ui divider" style="margin-bottom: 5px !important;margin-top: 5px !important;"></div>

            <div class="row" style="padding-bottom: 5px !important;padding-top: 5px !important;">
                <div class="column m-txt-align-left ">
                    等级：<span class="m-margin-left">7级</span>
                </div>
                <div class="column m-txt-align-left">
                    访问：<span class="m-margin-left">7级</span>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px !important;padding-top: 5px !important;">
                <div class="column m-txt-align-left">
                    积分：<span class="m-margin-left">7级</span>
                </div>
                <div class="column m-txt-align-left">
                    排名：<span class="m-margin-left">7级</span>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px !important;padding-top: 5px !important;">
                <div class="column m-txt-align-left">
                    勋章：<span class="m-margin-left">7级</span>
                </div>
            </div  >
        </div>
    </div>

    <!--分类专栏-->
    <div class="ui segments m-margin-top-large">
        <div class="ui secondary segment">
            <div class="ui two column grid">
                <div class="column">
                    <i class="idea icon"></i><strong>分类专栏</strong>
                </div>
                <div class="right aligned column">
                    <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <!--专栏的图片-->
            <img class="ui middle aligned tiny image image-32x32" src="../static/images/wechat.jpg">
            <a href="#" target="_blank" class="m-black m-text-thin m-margin-left">2019年2月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <img class="ui middle aligned tiny image image-32x32" src="../static/images/wechat.jpg">
            <a href="#" target="_blank" class="m-black m-text-thin m-margin-left">2019年2月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <img class="ui middle aligned tiny image image-32x32" src="../static/images/wechat.jpg">
            <a href="#" target="_blank" class="m-black m-text-thin m-margin-left">2019年2月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <img class="ui middle aligned tiny image image-32x32" src="../static/images/wechat.jpg">
            <a href="#" target="_blank" class="m-black m-text-thin m-margin-left">2019年2月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <img class="ui middle aligned tiny image image-32x32" src="../static/images/wechat.jpg">
            <a href="#" target="_blank" class="m-black m-text-thin m-margin-left">2019年2月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <img class="ui middle aligned tiny image image-32x32" src="../static/images/wechat.jpg">
            <a href="#" target="_blank" class="m-black m-text-thin m-margin-left">2019年2月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <img class="ui middle aligned tiny image image-32x32" src="../static/images/wechat.jpg">
            <a href="#" target="_blank" class="m-black m-text-thin m-margin-left">2019年2月
                <span class="count float-right">14篇</span>
            </a>
        </div>

    </div>

    <!--最新文章-->
    <div class="ui segments m-margin-top-large">
        <div class="ui secondary segment ">
            <i class="bookmark icon"></i><strong>最新文章</strong>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
        </div>
    </div>

    <!--归档-->
    <div class="ui segments m-margin-top-large">
        <div class="ui secondary segment ">
            <i class="bookmark icon"></i><strong>归档</strong>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">2019年1月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">2019年2月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">2019年3月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">2019年4月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">2019年5月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">2019年6月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">2019年7月
                <span class="count float-right">14篇</span>
            </a>
        </div>
        <div class="ui segment">
            <a href="#" target="_blank" class="m-black m-text-thin">2019年8月
                <span class="count float-right">12篇</span>
            </a>
        </div>
    </div>

    <!--标签-->
    <!-- <div class="ui segments m-margin-top-large">
         <div class="ui secondary segment">
             <div class="ui two column grid">
                 <div class="column">
                     <i class="tags icon"></i><strong>标签</strong>
                 </div>
                 <div class="right aligned column">
                     <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                 </div>
             </div>
         </div>
         <div class="ui teal segment">
             <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                 方法论
                 <div class="detail">23</div>
             </a>
             <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                 论
                 <div class="detail">23</div>
             </a>
             <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                 论
                 <div class="detail">23</div>
             </a>
             <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                 方法论
                 <div class="detail">23</div>
             </a>
             <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                 方法论
                 <div class="detail">23</div>
             </a>
             <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                 方法论
                 <div class="detail">23</div>
             </a>
             <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                 方法论
                 <div class="detail">23</div>
             </a>
             <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                 方法论
                 <div class="detail">23</div>
             </a>
             <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                 方法论
                 <div class="detail">23</div>
             </a>
             <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                 方法论
                 <div class="detail">23</div>
             </a>
         </div>
     </div>-->

    <!--二维码-->
    <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
    <div class="ui centered card" style="width: 11em">
        <img src="../static/images/wechat.jpg" alt="" class="ui rounded image">
    </div>
</div>


</body>
</html>