<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
    <title>EasyBlog - EasyBlog博客</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/easyblog.base.css" th:href="@{/static/css/easyblog.base.css}">
    <style type="text/css">
        a:hover {
            color: #ca0c16 !important;
        }
    </style>
    <script src="../static/js/spop.js" th:src="@{/static/js/spop.js}"></script>
    <link rel="stylesheet" href="../static/css/spop.css" th:href="@{/static/css/spop.css}">
    <!--百度统计JS脚本-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1d2b1074de8c4606d68aa61802a74c14";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!--google Adsense-->
    <script data-ad-client="ca-pub-2311962880414013" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<!--导航-->
<div th:replace="~{nav :: navbar}"></div>

<!--中间内容-->
<div class="m-content-container">
    <div class="ui stackable grid">
            <!--左边的卡片-->
            <div class="four wide column m-mobile-hide"
                 style="max-width: 315px !important;padding-top: 0 !important;padding-right: 0 !important;">
                <!--用户信息-->
                <div th:replace="~{userinfo_sidebar::sidebar_userinfo}"></div>
                <!--最新文章-->
                <div th:replace="~{userinfo_sidebar::sidebar_newest_article}"></div>
                <!--分类-->
                <div th:replace="~{userinfo_sidebar::sidebar_category}"></div>
                <!--归档-->
                <div th:replace="~{userinfo_sidebar::sidebar_archives}"></div>
                <h4 class="ui horizontal divider header m-margin-top-large">联系开发者</h4>
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/images/wechat.jpg" th:src="@{/static/images/wechat.jpg}" alt="" class="ui rounded image">
                </div>
            </div>

            <!--右边博客文章列表-->
            <div class="twelve wide column" style="padding-top: 0 !important;">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="left aligned column m-mobile-title-width">
                            <h3 class="ui teal header m-inline-block">TA的博客</h3>
                            <div class="ui checked checkbox m-inline-block m-margin-left">
                                <input id="checkbox" type="checkbox" checked th:if="${displayOnlyOriginal=='1'}">
                                <input id="checkbox" type="checkbox" th:if="${displayOnlyOriginal=='0'}">
                                <label>只看原创</label>
                                <a id="display1" style="color: #0a001f" hidden
                                   th:href="@{/article/index/{id}(id=${author.getUserId()},articleType=0)}">只看原创</a>
                                <a id="display2" style="color: #0a001f" hidden
                                   th:href="@{/article/index/{id}(id=${author.getUserId()})}">查看全部</a>
                            </div>
                        </div>
                        <div class="right aligned column m-mobile-info-width">
                            共 <h2 class="ui orange header m-inline-block m-text-thin"> [[${articlePages.total}]] </h2> 篇
                        </div>
                    </div>
                </div>

                <!--content   分页 每页显示20条数据-->
                <div th:if="${!#lists.isEmpty(articlePages)&&!#lists.isEmpty(articlePages.getList())}"
                     class="ui attached segment">
                    <div th:each="article:${articlePages.getList()}"
                         class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear"
                         style="padding-bottom: 20px !important;padding-top: 10px !important;">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <div class="ui stackable  grid">
                                    <div class="two wide column m-mobile-hide" style="max-width: 52px;padding-right: 0 !important;">
                                        <div th:switch="${article.getArticleType()}" class="ui red mini basic label">
                                            <span th:case="0">原创</span>
                                            <span th:case="1">转载</span>
                                            <span th:case="2">翻译</span>
                                        </div>
                                    </div>
                                    <div class="fourteen wide column" style="padding-top: 0px !important;padding-left: 10px !important;">
                                        <a href="#" th:if="${visitor==null}" th:href="@{/article/details/{id}(id=${article.getArticleId()})}" th:text="${article.getArticleTopic()}" class="ui m-inline-block m-margin-top-small m-margin-bottom-small m-article-list-title"></a>
                                        <a href="#" th:if="${visitor!=null}" th:href="@{/article/details/{id}(id=${article.getArticleId()},visitorUId=${visitor.getUserId()})}" th:text="${article.getArticleTopic()}" class="ui m-inline-block m-margin-top-small m-margin-bottom-small m-article-list-title"></a>
                                    </div>
                                </div>
                                <p class="m-column_article_desc"  th:text="${#strings.abbreviate(article.getArticleContent(),200)}"></p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item m-margin-left">
                                                <div th:switch="${article.getArticleType()}" class="ui red mini basic label m-mobile-show-only">
                                                    <span th:case="0">原创</span>
                                                    <span th:case="1">转载</span>
                                                    <span th:case="2">翻译</span>
                                                </div>
                                            </div>
                                            <div class="item m-margin-left">
                                                <img th:src="${author.getUserHeaderImgUrl()}"
                                                     src="https://unsplash.it/100/100?image=1005" alt=""
                                                     class="ui avatar image m-mobile-hide">
                                                <div class="content">
                                                    <a href="#" class="m-comment-font-user" th:text="${author.getUserNickname()}">黄鑫</a>
                                                </div>
                                            </div>
                                            <div class="item m-margin-left">
                                                <i class="calendar icon"></i>
                                                [[${#dates.format(article.getArticlePublishTime(),'yyyy年MM月dd hh:mm:ss')}]]
                                            </div>
                                            <div class="item m-margin-left">
                                                <i class="eye icon"></i>
                                                [[${article.getArticleClick()}]]
                                            </div>
                                            <div class="item m-margin-left">
                                                <i class="comment alternate icon"></i>
                                                [[${article.getArticleCommentNum()}]]
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <a  href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin m-mobile-icon-show"
                                        th:text="${article.getArticleCategory()}" style="background: rgba(0,0,0,.3) !important;border-color: rgba(0,0,0,.1) !important;"></a>
                                    <img th:if="${article.getArticleFirstPicture()==null}" src="https://uploadbeta.com/api/pictures/random/?key=BingEverydayWallpaperPicture" alt="" class="ui rounded image m-prev-image-style">
                                    <img th:if="${article.getArticleFirstPicture()!=null}" th:src="@{${article.getArticleFirstPicture()}}" alt="" class="ui rounded image m-prev-image-style">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${#lists.isEmpty(articlePages.getList())}" class="ui bottom attached segment"
                     style="border-top: none !important;">
                    <div class="ui middle aligned two column grid">
                        <div style="color: grey;margin: 10em auto !important;float: left !important;font-size: 16px">
                            没有任何文章
                        </div>
                    </div>
                </div>

                <!--content footer ,每页默认显示15条-->
                <div th:if="${articlePages.getTotal()>15}" class="ui bottom attached segment">
                    <div class="ui middle aligned two column grid">
                        <div style="margin: 5px auto;float: left !important;">
                            <div class="ui buttons">
                                <a th:if="${displayOnlyOriginal=='1'}" th:href="@{/article/index/{id}(id=${author.getUserId()},articleType=0,page=${articlePages.getPrePage()})}">
                                    <button class="ui  button" style="background: white !important;font-weight: 100 !important;">上一页
                                    </button>
                                </a>
                                <a th:if="${displayOnlyOriginal=='0'}" th:href="@{/article/index/{id}(id=${author.getUserId()},page=${articlePages.getPrePage()})}">
                                    <button class="ui  button" style="background: white !important;font-weight: 100 !important;">上一页
                                    </button>
                                </a>
                                <a th:if="${displayOnlyOriginal=='1'}"
                                   th:each="pageNo:${articlePages.getNavigatepageNums()}"
                                   th:href="@{/article/index/{id}(id=${author.getUserId()},articleType=0,page=${pageNo})}">
                                    <button class="ui button pages" style="background: white !important;font-weight: 100 !important;" >
                                        [[${pageNo}]]
                                    </button>
                                </a>
                                <a th:if="${displayOnlyOriginal=='0'}"
                                   th:each="pageNo:${articlePages.getNavigatepageNums()}"
                                   th:href="@{/article/index/{id}(id=${author.getUserId()},page=${pageNo})}">
                                    <button class="ui button pages" style="background: white !important;font-weight: 100 !important;">
                                        [[${pageNo}]]
                                    </button>
                                </a>
                                <a th:if="${displayOnlyOriginal=='1'}"
                                   th:href="@{/article/index/{id}(id=${author.getUserId()},articleType=0,page=${articlePages.getNextPage()})}">
                                    <button class="ui  button" style="background: white !important;font-weight: 100 !important;"> 下一页
                                    </button>
                                </a>
                                <a th:if="${displayOnlyOriginal=='0'}"
                                   th:href="@{/article/index/{id}(id=${author.getUserId()},page=${articlePages.getNextPage()})}">
                                    <button class="ui button" style="background: white !important;font-weight: 100 !important;"> 下一页
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div style="height: 10em"></div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/js/easyblog.js" th:src="@{/static/js/easyblog.js}"></script>
<script>
    $('#msg-btn').click(function () {
        $('.ui.modal').modal('hide');
    });
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>

<script type="text/javascript" th:online="javascript">

    $(document).ready(function () {
        let userId=$('#userId').val();
        showPageZoomWarning();
        toggleStatus(userId);
        logOut(userId);
        showCurrentPageNum();
    });

    function showCurrentPageNum() {
        let obj = document.getElementsByClassName('pages');
        let page = [[${articlePages.pageNum}]];
        for (let i = 0; i < obj.length; i++) {
            if (obj[i].textContent == page) {
                $(obj[i]).css('background', '#eee');
            }
        }
    }

</script>
<script>
    //只看原创按钮是否按下
    $('#checkbox').click(function () {
        if ($('#checkbox').is(":checked")) {
            window.location.href = $('#display1').attr("href");
        } else {
            window.location.href = $('#display2').attr("href");
        }
    });

</script>
</html>