<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--左边的卡片-->
<div class="four wide column">
    <input id="userId" hidden="hidden" th:if="${#session.getAttribute('user')}!=null" th:value="${#session.getAttribute('user').getUserId()}">
    <!--用户信息区域-->
    <div class="ui segments" th:fragment="sidebar_userinfo" style="padding-right: 0 !important;">
        <div class="ui equal width center aligned padded grid">
            <div class="row" style="padding-bottom: 0 !important;">
                <div class="four wide column" style="padding-right: 0 !important;">
                    <a href="#" th:if="${user!=null}" th:href="@{/article/index/}+${user.getUserId()}" class="m-black">
                        <img class="ui top avatar aligned tiny image medium circular"
                             style="width: 55px !important;height: 55px !important;"
                             src="../static/images/header.jpg"
                             th:if="${user!=null}"
                             th:src="@{${user.getUserHeaderImgUrl()}}"/>
                    </a>
                </div>
                <div class="twelve wide column grid" style="padding-left: 0!important;">
                    <div class=" m-margin-bottom">
                        <div  style="float: left !important;font-size: 16px" th:text="${user.getUserNickname()}"></div>
                    </div>
                    <div style="clear: both !important;"></div>
                    <div class=" m-margin-bottom"></div>
                    <div  class="row" >
                        <button  class="ui left floated  mini yellow basic button">
                            <a href="#" style="color: orange;font-size: 12px;">私信</a>
                        </button>
                        <button class="ui left floated  mini red basic button">
                            <a href="#" style="color: red;font-size: 12px;">关注</a>
                        </button>
                        <a href="#" th:if="${user!=null}" th:href="@{/article/home/}+${user.getUserId()}" class="float-right" style="color: #3399ea;font-size: 12px !important;">TA的个人主页&nbsp;></a>
                    </div>
                </div>
            </div>
            <div class="ui divider" style="margin-bottom: 5px !important;margin-top: 5px !important;"></div>
            <div class="row" style="padding-bottom: 5px !important;padding-top: 5px !important;">
                <div class="column">
                    <a href="#" th:href="@{/article/index/}+${user.getUserId()}" th:alt="originalArticleNum" class="m-black">
                        原创
                        <div><strong th:text="${originalArticleNum}">200</strong></div>
                    </a>
                </div>
                <div class="column">
                    粉丝
                    <div><strong th:text="${attentionNumOfMe}">0</strong></div>
                </div>
                <div class="column">
                    喜欢
                    <div> <strong>0</strong></div>
                </div>
                <div class="column">
                    评论
                    <div><strong th:text="${receiveCommentNum}">0</strong></div>
                </div>
            </div>
            <div class="ui divider" style="margin-bottom: 5px !important;margin-top: 5px !important;"></div>
            <div class="row" style="padding-bottom: 5px !important;padding-top: 5px !important;">
                <div class="column m-txt-align-left ">
                    等级：<span class="m-margin-left" th:if="${user!=null}" th:text="${user.getUserLevel()==null?0:user.getUserLevel()}"></span>
                </div>
                <div class="column m-txt-align-left">
                    访问：<span class="m-margin-left" th:if="${user!=null}" th:text="${user.getUserVisit()==null?0:user.getUserVisit()}"></span>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px !important;padding-top: 5px !important;">
                <div class="column m-txt-align-left">
                    积分：<span class="m-margin-left" th:if="${user!=null}" th:text="${user.getUserScore()==null?0:user.getUserScore()}"></span>
                </div>
                <div class="column m-txt-align-left">
                    排名：<span class="m-margin-left" th:if="${user!=null}" th:text="${user.getUserRank()==null?0:user.getUserRank()}">7</span>
                </div>
            </div>
        </div>
    </div>
    <!--分类专栏-->
    <div th:if="${categories!=null&&!#lists.isEmpty(categories)}" class="ui segments" th:fragment="sidebar_category">
        <div class="ui secondary segment">
            <div class="ui two column grid">
                <div class="column">
                    <i class="idea icon"></i><strong>分类专栏</strong>
                </div>
            </div>
        </div>
        <div class="ui segment" th:each="categoty:${categories}">
            <!--专栏的图片-->
            <img class="ui middle aligned tiny image image-32x32" src="../static/images/wechat.jpg"
                 th:src="${categoty.categoryImageUrl}">
            <a href="#" th:href="@{/category/details/}+${categoty.categoryId}+@{/}+${categoty.categoryUser}" target class="m-black m-text-thin m-margin-left" th:text="${categoty.categoryName}">2019年2月
            </a>
            <span class="count float-right">
                [[${categoty.categoryArticleNum}]]篇
            </span>
        </div>
    </div>
    <!--最新文章-->
    <div th:if="${newestArticles!=null&&!#lists.isEmpty(newestArticles)}" class="ui segments" th:fragment="sidebar_newest_article">
        <div class="ui secondary segment ">
            <i class="bookmark icon"></i><strong>最新文章</strong>
        </div>
        <div class="ui segment" th:each="article:${newestArticles}">
            <a href="#" th:href="@{/article/details/}+${article.getArticleId()}" target class="m-black m-text-thin" th:text="${article.articleTopic}">用户故事（User Story）</a>
        </div>
    </div>
    <!--归档-->
    <div th:if="${archives!=null&&!#lists.isEmpty(archives)}" class="ui segments" th:fragment="sidebar_archives">
        <div class="ui secondary segment ">
            <i class="bookmark icon"></i><strong>归档</strong>
        </div>
        <div class="ui segment" th:each="archive:${archives}">
            <a href="#" th:href="@{/archives/details/}+${archive.userId}+@{/}+${archive.date}" target class="m-black m-text-thin" th:text="${archive.date}">2019年1月
            </a>
            <span class="count float-right" th:text="${archive.count}">14篇</span>
        </div>
    </div>
</div>
</body>
</html>