<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
    <title>EasyBlog - EasyBlog博客</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/static/css/me.css}">
    <style type="text/css">
        a:hover {
            color: #ca0c16 !important;
        }
    </style>
    <script src="../static/js/spop.js" th:src="@{/static/js/spop.js}"></script>
    <link rel="stylesheet" href="../static/css/spop.css" th:href="@{/static/css/spop.css}">

</head>
<body>
<!--导航-->
<div th:replace="~{nav :: navbar}"></div>

<!--中间内容-->
<div class="m-padded-tb-big">
    <div class="ui" style="max-width: 96em!important;margin: auto !important;">
        <div class="ui stackable grid">
            <!--左边的卡片-->
            <div class="four wide column"
                 style="max-width: 315px !important;padding-top: 0 !important;padding-right: 0 !important;">
                <!--用户信息-->
                <div th:replace="~{userinfo_sidebar::sidebar_userinfo}"></div>
                <!--最新文章-->
                <div th:replace="~{userinfo_sidebar::sidebar_newest_article}"></div>
                <!--分类-->
                <div th:replace="~{userinfo_sidebar::sidebar_category}"></div>
                <!--归档-->
                <div th:replace="~{userinfo_sidebar::sidebar_archives}"></div>
                <h4 class="ui horizontal divider header m-margin-top-large">联系开发者</h4>
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/images/wechat.jpg" th:src="@{/static/images/wechat.jpg}" alt=""
                         class="ui rounded image">
                </div>
            </div>

            <!--右边博客文章列表-->
            <div class="twelve wide column" style="padding-top: 0 !important;">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header m-inline-block">TA的博客</h3>
                            <div class="ui checked checkbox m-inline-block m-margin-left">
                                <input id="checkbox" type="checkbox" checked th:if="${displayOnlyOriginal=='1'}">
                                <input id="checkbox" type="checkbox" th:if="${displayOnlyOriginal=='0'}">
                                <label>只看原创</label>
                                <a id="display1" style="color: #0a001f" hidden
                                   th:href="@{/article/index/{id}(id=${user.getUserId()},articleType=0)}">只看原创</a>
                                <a id="display2" style="color: #0a001f" hidden
                                   th:href="@{/article/index/{id}(id=${user.getUserId()})}">查看全部</a>
                            </div>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block m-text-thin"> [[${articlePages.total}]] </h2> 篇
                        </div>
                    </div>
                </div>

                <!--content   分页 每页显示20条数据-->
                <div th:if="${!#lists.isEmpty(articlePages)&&!#lists.isEmpty(articlePages.getList())}"
                     class="ui attached segment">
                    <div th:each="article:${articlePages.getList()}"
                         class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear"
                         style="padding-bottom: 20px !important;padding-top: 10px !important;">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <button th:switch="${article.getArticleType()}"
                                        class="ui mini red basic button  m-inline-block ">
                                    <span th:case="0">原创</span>
                                    <span th:case="1">转载</span>
                                    <span th:case="2">翻译</span>
                                </button>
                                <a href="#" th:href="@{/article/details/{id}(id=${article.getArticleId()})}"
                                   th:text="${article.getArticleTopic()}"
                                   class="ui header m-inline-block m-margin-top-small m-margin-bottom-small">你真的理解什么是财富自由吗？</a>
                                <p class="m-text"
                                   style="color: #0a001f;font-size: 1.111rem !important;line-height: 22px;"
                                   th:text="${#strings.abbreviate(article.getArticleContent(),150)}">
                                    正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                                </p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img th:src="${user.getUserHeaderImgUrl()}"
                                                     src="https://unsplash.it/100/100?image=1005" alt=""
                                                     class="ui avatar image">
                                                <div class="content"><a href="#" class="header"
                                                                        th:text="${user.getUserNickname()}">黄鑫</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>[[${#dates.format(article.getArticlePublishTime(),'yyyy年MM月dd
                                                hh:mm:ss')}]]
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>[[${article.getArticleClick()}]]
                                            </div>
                                            <div class="item">
                                                <i class="comment alternate icon"></i>[[${article.getArticleCommentNum()}]]
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://uploadbeta.com/api/pictures/random/?key=BingEverydayWallpaperPicture"
                                         alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div th:if="${#lists.isEmpty(articlePages.getList())}" class="ui bottom attached segment"
                     style="border-top: none !important;">
                    <div class="ui middle aligned two column grid">
                        <div style="color: grey;margin: 10em auto !important;float: left !important;font-size: 16px">
                            没有任何文章
                        </div>
                    </div>
                </div>

                <!--content footer ,每页默认显示15条-->
                <div th:if="${articlePages.getTotal()>15}" class="ui bottom attached segment">
                    <div class="ui middle aligned two column grid">
                        <div  style="margin: 5px auto;float: left !important;">
                            <div class="ui buttons">
                                <a th:if="${displayOnlyOriginal=='1'}" th:href="@{/article/index/{id}(id=${user.getUserId()},articleType=0,page=${articlePages.getPrePage()})}">
                                    <button class="ui  button" style="background: white !important;font-weight: 100 !important;">上一页
                                    </button>
                                </a>
                                <a th:if="${displayOnlyOriginal=='0'}" th:href="@{/article/index/{id}(id=${user.getUserId()},page=${articlePages.getPrePage()})}">
                                    <button class="ui  button" style="background: white !important;font-weight: 100 !important;">上一页
                                    </button>
                                </a>
                                <a th:if="${displayOnlyOriginal=='1'}" th:each="pageNo:${articlePages.getNavigatepageNums()}" th:href="@{/article/index/{id}(id=${user.getUserId()},articleType=0,page=${pageNo})}">
                                    <button  class="ui button pages"  style="background: white !important;font-weight: 100 !important;">
                                        [[${pageNo}]]
                                    </button>
                                </a>
                                <a th:if="${displayOnlyOriginal=='0'}" th:each="pageNo:${articlePages.getNavigatepageNums()}" th:href="@{/article/index/{id}(id=${user.getUserId()},page=${pageNo})}">
                                    <button  class="ui button pages"  style="background: white !important;font-weight: 100 !important;">
                                        [[${pageNo}]]
                                    </button>
                                </a>
                                <a th:if="${displayOnlyOriginal=='1'}" th:href="@{/article/index/{id}(id=${user.getUserId()},articleType=0,page=${articlePages.getNextPage()})}">
                                    <button class="ui  button"
                                            style="background: white !important;font-weight: 100 !important;"> 下一页
                                    </button>
                                </a>
                                <a th:if="${displayOnlyOriginal=='0'}" th:href="@{/article/index/{id}(id=${user.getUserId()},page=${articlePages.getNextPage()})}">
                                    <button class="ui button"
                                            style="background: white !important;font-weight: 100 !important;"> 下一页
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 10em"></div>
<div class="ui small modal">
    <div class="header" id="msg_header">删除</div>
    <div id="msg" class="content">
    </div>
    <div class="actions">
        <div id="msg-btn" class="ui red button">知道了</div>
    </div>
</div>
<!--底部footer-->
<div th:replace="~{footer :: footbar}"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/js/me.js" th:src="@{/static/js/me.js}"></script>
<script>
    $(document).ready(function () {
        showPageZoomWarning();
    });
</script>
<script>
    $('#msg-btn').click(function () {
        $('.ui.modal').modal('hide');
    });
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>

<script type="text/javascript" th:online="javascript">

    $(document).ready(function () {
        toggleStatus();
        showCurrentPageNum();
    });

    function showCurrentPageNum() {
        let obj=document.getElementsByClassName('pages');
        let page=[[${articlePages.pageNum}]];
        for(let i=0;i<obj.length;i++){
            if(obj[i].textContent==page){
                $(obj[i]).css('background','#eee');
            }
        }
    }

    /**
     * 检查用户的登录情况——显示按钮和头像
     */
    function toggleStatus() {
        var user = sessionStorage.getItem("user");
        if (user != null) {
            $('#header-images').show();
            $('#login-btn').hide();
        } else {
            $('#header-images').hide();
            $('#login-btn').show();
        }
    }

    <!--退出操作异步请求-->
    $('#logout').click(function () {
        $.ajax({
            url: "/user/logout",
            method: "GET",
            sync: true,
            data: {userId: $('#userId').val()},
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    sessionStorage.removeItem("user");
                    toggleStatus();
                }
            },
            error: function () {
                spop({
                    template: '服务异常，请重试！',
                    autoclose: 4000,
                    position: "top-center",
                    style: 'error',
                });
            }
        });
    });

</script>
<script >
    //只看原创按钮是否按下
    $('#checkbox').click(function () {
        if ($('#checkbox').is(":checked")) {
            window.location.href = $('#display1').attr("href");
        } else {
            window.location.href = $('#display2').attr("href");
        }
    });

</script>
</html>